@model Kartverket.MetadataEditor.Models.WfsServiceLayerViewModel

<h4>Tjeneste:</h4>
<h1>@Model.Metadata.Title</h1>

<h3>Metadata ble opprettet for følgende lag:</h3>

<ul>
    @foreach (var layer in Model.Layers)
    {
        if (layer.ErrorMessage == null)
        {
            <li><a href="@Url.Action("Edit", "Metadata", new { uuid=@layer.Uuid })" target="_blank">@layer.Title <span class="glyphicon glyphicon-pencil"></span></a></li>
        }
        else
        {
            <li>@layer.Title <span class="label label-danger">Feil!</span> Klarte ikke å opprette metadata for laget. Feilmelding: @layer.ErrorMessage</li>
        }
        
    }
</ul>
