<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    @ViewBag.Title
    @if (ViewBag.Title != null) {
         <text> - </text> 
    }
    @Resources.UI.AppPageTitle
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Metadata")">
                    <img src="@Url.Content("~/Content/logo_kartverket_norgedigitalt.png")" height="63" alt="Logo Kartverket og Norge Digitalt" />
                </a>
                
            </div>
            
            <div class="nav navbar-nav pull-right" >
                <ul class="nav navbar-nav">
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <div><a href="@Url.Action("SignOut", "AuthServices")" class="btn btn-default btn-sm" style="margin-top: 10px;"><span class="glyphicon glyphicon-user"></span> Logg ut</a></div>
                        }
                        else
                        {
                            <div><a href="@Url.Content("~/Saml2AuthenticationModule/SignIn")" class="btn btn-default btn-sm" style="margin-top: 10px;"><span class="glyphicon glyphicon-user"></span> Logg inn</a></div>
                        }

                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink(@Resources.UI.MyMetadata_Label, "Index", "Metadata")</li>
                    <li class="active"><a href="http://validering.geonorge.no">Validering</a></li>
                </ul>
            </div>

            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @if (User.Identity.IsAuthenticated)
            {
            <div class="panel panel-success">
                    <div class="panel-heading">
                        Du er innlogget.
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Claim Type</th>
                                <th>Claim Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in System.Security.Claims.ClaimsPrincipal.Current.Claims)
                            {
                                <tr>
                                    <td>@c.Type</td>
                                    <td>@c.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
            }
            <p>&copy; @DateTime.Now.Year - Kartverket</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
