@using Kartverket.MetadataEditor.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    @ViewBag.Title
    @if (ViewBag.Title != null) {
         <text> - </text> 
    }
    @Resources.UI.AppPageTitle
    </title>
    <!-- Fonts: -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700" rel="stylesheet" type="text/css">

    <!-- Shared menu: -->
    <link href="@Html.KartkatalogUrl()bundles/shared-menu-styles" rel="stylesheet" type="text/css">

    <!-- Main css: -->
    <link href="@Html.KartkatalogUrl()Content/css" rel="stylesheet" type="text/css">

    <!-- Themes css: -->
    <link href="@Html.KartkatalogUrl()Content/themes/base/css" rel="stylesheet" type="text/css">

    <!-- Download: -->
    <link href="@Html.KartkatalogUrl()Content/download" rel="stylesheet" type="text/css">


    <!-- Scripts -->
    <script src="@Html.KartkatalogUrl()Scripts/easyXDM.js" type="text/javascript"></script>
    <script src="@Html.KartkatalogUrl()bundles/jquery"></script>
    <script src="@Html.KartkatalogUrl()bundles/modernizr"></script>
    <script src="@Html.KartkatalogUrl()bundles/shared-menu-scripts"></script>
    <script src="@Html.KartkatalogUrl()bundles/bootstrap"></script>
    <script src="@Html.KartkatalogUrl()bundles/js"></script>
    <script src="@Html.KartkatalogUrl()bundles/shopping-cart"></script>

    @RenderSection("head", required: false)
    @Html.Partial("_Analytics")
    <script>
    var validationUUIDs = [];
    </script>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)

</head>
<body class="geonorge-container prototype  geonorge ng-scope" ng-app="geonorge">

    @Html.Partial("_SharedMenu")

    @*<div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Meny</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><img class="logo" src="@Url.Content("~/Content/kartverket_logo.png")" width="117" height="39" /></span>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="divider-vertical"></li>
                    <li><a href="/">Metadataeditoren</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a target="_blank" href="http://www.geonorge.no">Geonorge forside</a></li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="body-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                <li><a href="/">Metadataeditor</a></li>
                @RenderSection("breadcrumb", false)
            </ol>
            <div class="menu clearfix">
                @if (Request.IsAuthenticated)
                {
                    if (IsSectionDefined("ActionMenu"))
                    {
                    @RenderSection("ActionMenu")
                    }
                    else
                    {
                    <div class="btn-group">
                        <a href="@Url.Action("Index", "Metadata")" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Mine metadata</a>
                        <a href="@Url.Action("RegisterData", "Metadata")" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Mine registerdata</a>
                        <a href="@Url.Action("Create","Metadata")" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Opprett metadata</a>
                        @if (Html.SimpleMetadataEnabled())
                        {
                            <a href="@Url.Action("Create","SimpleMetadata")" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Opprett enkle metadata</a>
                        }
                        <a href="@Url.Action("Index","Batch")" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-cog"></span> Batch-oppdatering</a>
                        @foreach (var c in System.Security.Claims.ClaimsPrincipal.Current.Claims)
                        {
                            if (c.Value == "nd.metadata_admin")
                            {
                                <a href="@Url.Action("ValidateAll", "Validator")" class="btn btn-sm btn-default" onclick="return clickAndDisable(this);"><span class="glyphicon glyphicon-envelope"></span> <span id="link-email-error">Send epost om feil</span></a>
                                <script>
                                    function clickAndDisable(link) {

                                    document.getElementById('link-email-error').innerText = 'Henter eposter, vennligst vent...';
                                    if (link.className != "visited btn btn-sm btn-default") {
                                        link.className = "visited btn btn-sm btn-default";
                                        return true;
                                    }

                                    return false;
                                }
                                </script>
                                break;
                            }
                        }                       
                    </div>
                    }
                }

                <div class="pull-right">
                    @if (Request.IsAuthenticated)
                    {
                        string username = "";
                        foreach (var c in System.Security.Claims.ClaimsPrincipal.Current.Claims)
                        {
                            if (c.Type == "urn:oid:0.9.2342.19200300.100.1.1" || c.Type == "username")
                            {
                                username = @c.Value;
                            }
                        }
                        <a href="@Url.Action("SignOut", "AuthServices")" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-user"></span> Logg ut @username</a>
                    }
                    else
                    {
                        <a href="@Url.Action("SignIn", "AuthServices")" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-user"></span> Logg inn</a>
                    }
                </div>
            </div>
            @if (TempData["Message"] != null)
            {
            <div class="alert alert-info">
                @TempData["Message"]
            </div>
            }

            @if (TempData["success"] != null)
            {
                <div id="savedOKMsg" class="alert alert-success">
                    @TempData["success"]
                </div>
                <script>function removeokmsg() { document.getElementById('savedOKMsg').style.visibility = 'hidden'; document.getElementById('savedOKMsg').style.display = 'none'; }</script>
            }
            @if (TempData["failure"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["failure"]
                </div>
            }

            @RenderBody()
        </div>
    </div>
    <footer class="page-footer">
        <div class="container container-footer">
            <div>
                <div class="block editorialblock col-md-12 col-lg-4  ">

                    <p><img alt="" src="@Html.KartkatalogUrl()Content/img/geonorge.png" height="87" width="381" /></p>
                    <small>Versjon @Html.ApplicationVersionNumber()</small>
                    <!--<p><a href="/Om-Kartverket/Personvern-og-cookies/"> Personvern og cookies </a></p>-->
                    <!--
                    @if (User.Identity.IsAuthenticated)
                    {
                        foreach (var c in System.Security.Claims.ClaimsPrincipal.Current.Claims)
                        {
                            <p>@c.Type = @c.Value</p>
                        }
                    }
                    -->
                    <ul class="editorialblock-list-item"></ul>
                </div><div class="block editorialblock col-md-12 col-lg-4  ">

                    <h2>Om nettstedet:</h2>

                    <ul class="editorialblock-list-item">
                        <li>
                            <a href="@Html.GeonorgeUrl()informasjon/om-geonorge/">Om Geonorge</a>
                        </li>
                        <li>
                            <a href="@Html.GeonorgeUrl()informasjon/aktuelt/annet/personvern-og-bruk-av-cookies/">Personvern og bruk av cookies</a>
                        </li>
                    </ul>
                </div><div class="block editorialblock col-md-12 col-lg-4  ">

                    <h2>Kontakt</h2>
                    <p><span style="font-family: 'Open Sans', sans-serif; font-size: 22px;">Telefon: 08700<br /></span>Fra utlandet: +47 32 11 81 21<br /><a title="post@geonorge.no" href="mailto:post@geonorge.no">post@geonorge.no</a><br />Org. nr.: 971 040 238</p>
                    <hr />
                    <p>En løsning fra</p>
                    <p><img alt="" src="@Html.KartkatalogUrl()Content/img/kartverket.png" height="75" width="195" /></p>
                    <ul class="editorialblock-list-item"></ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
