@using System.Security.Claims
@using Geonorge.AuthLib.Common
@using Kartverket.MetadataEditor.Helpers
@using Kartverket.MetadataEditor.Util
@using Resources

<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentCulture()">
<head>
    <meta charset="utf-8" />
    <meta name="geonorge-version" content="@Html.ApplicationVersionNumber()" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="@Html.KartkatalogUrl()Content/img/favicon.ico" />
    <title>
        @ViewBag.Title
        @if (ViewBag.Title != null)
        {
            <text> - </text>
        }
        @Resources.UI.AppPageTitle
    </title>

    @RenderSection("head", required: false)
    <script>
        var validationUUIDs = [];
    </script>
    <script>var environmentIsProduction = @(Html.EnvironmentName() == "" ? "true" : "false");</script>
    <script>
        if (environmentIsProduction) {
            /* Matomo */
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = "https://analyse.kartverket.no/analyse/";
                _paq.push(['setTrackerUrl', u + 'matomo.php']);
                _paq.push(['setSiteId', '16']);
                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
            })();


            /* Google Tag Manager */
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-MR2X5P');
        }</script>
</head>
<body class="geonorge-container prototype geonorge ng-scope fixed-menu-margin">
    <div id="loading-animation" class="loading-animation" style="display: none;"></div>

    <main-navigation environment="@Html.EnvironmentName()"
                     signinurl="@Html.Raw(Url.Action("SignIn", "Home", new { ReturnUrl = Request.Url }))"
                     signouturl="@Html.Raw(Url.Action("SignOut", "Home"))"
                     isLoggedIn="@Request.IsAuthenticated.ToString().ToLower()"
                     norwegianurl="@Html.Raw(Url.Action("SetCulture", "Home", new { culture = Kartverket.MetadataEditor.Models.Translations.Culture.NorwegianCode, ReturnUrl = Request.Url }))"
                     englishurl="@Html.Raw(Url.Action("SetCulture", "Home", new { culture = Kartverket.MetadataEditor.Models.Translations.Culture.EnglishCode, ReturnUrl = Request.Url }))"
                     language="@CultureHelper.GetCurrentCulture()"></main-navigation>

    @Styles.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/css/styles")


    <div class="body-content">
        <div class="container">
            <div class="container container-breadcrumbs" id="navTabCont">
                <ul class="breadcrumbs col-md-12">
                    <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                    <li><a href="/">Metadataeditor</a></li>
                    @RenderSection("breadcrumb", false)
                </ul>
            </div>

            <div class="menu clearfix margin-top-10">
                @if (Request.IsAuthenticated)
                {
                    if (IsSectionDefined("ActionMenu"))
                    {
                        @RenderSection("ActionMenu")
                    }
                    else
                    {
                        var principal = User as ClaimsPrincipal;

                        <ul class="nav nav-tabs link-tabs">
                            <li class="tab"><a data-tab="mine-metadata" href="@Url.Action("Index", "Metadata")" class="show-loading-animation" data-loading-message="Henter innhold"><span class="glyphicon glyphicon-list-alt"></span> @UI.MyMetadata_Label</a></li>
                            <li class="tab"><a data-tab="opprett-metadata" href="@Url.Action("Create", "Metadata")" class="show-loading-animation" data-loading-message="Henter innhold"><span class="glyphicon glyphicon-plus-sign"></span> @UI.CreateMetadata</a></li>
                            @if (Html.SimpleMetadataEnabled())
                            {
                                <li class="tab"><a data-tab="opprett-enkle-metadata" href="@Url.Action("Create", "SimpleMetadata")" class="show-loading-animation" data-loading-message="Henter innhold"><span class="glyphicon glyphicon-plus-sign"></span> @UI.CreateSimpleMetadata_Label  </a></li>
                            }

                            @if (principal != null && (principal.IsInRole(GeonorgeRoles.MetadataAdmin)))
                            {
                                <li class="tab"><a data-tab="batch-oppdatering" href="@Url.Action("Index", "Batch")" class="show-loading-animation" data-loading-message="Henter innhold"><span class="glyphicon glyphicon-cog"></span> Batch-oppdatering</a></li>
                            }
                            @if (principal != null && (principal.IsInRole(GeonorgeRoles.MetadataAdmin)))
                            {
                                <li class="tab"><a data-tab="list-enkle-metadata" href="@Url.Action("List", "SimpleMetadata")" class="show-loading-animation" data-loading-message="Henter innhold"><span class="glyphicon glyphicon-list-alt"></span> Enkle metadata</a></li>
                            }
                            <li class="pull-right">

                                @{
                                    if (principal != null && principal.IsInRole(GeonorgeRoles.MetadataAdmin))
                                    {
                                        <a href="@Url.Action("ValidateAll", "Validator")" onclick="return clickAndDisable(this);" class="btn show-loading-animation" data-loading-message="Henter innhold"><span class="glyphicon glyphicon-envelope"></span> <span id="link-email-error">Send epost om feil</span></a>
                                        @section scripts {
                                            <script>
                                                function clickAndDisable(link) {

                                                    document.getElementById('link-email-error').innerText =
                                                        'Henter eposter, vennligst vent...';
                                                    if (link.className != "visited btn btn-sm btn-default") {
                                                        link.className = "visited btn btn-sm btn-default";
                                                        return true;
                                                    }

                                                    return false;
                                                }
                                            </script>
                                        }
                                    }

                                }
                            </li>
                        </ul>

                    }
                }

            </div>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-info">
                    @TempData["Message"]
                </div>
            }

            @if (TempData["success"] != null)
            {
                <div id="savedOKMsg" class="alert alert-success">
                    @TempData["success"]
                </div>
            }
            @if (TempData["failure"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["failure"]
                </div>
            }

            <div id="tab-content">@RenderBody()</div>
        </div>
    </div>

    <geonorge-footer language="@CultureHelper.GetCurrentCulture()" version="@Html.ApplicationVersionNumber()" environment="@Html.EnvironmentName()" />

    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vuex@4.1.0/dist/vuex.global.js"></script>
    @Scripts.Render("~/bundle/js")
    @Scripts.Render("~/Scripts/local-scripts")

    <script>
        function removeokmsg() { document.getElementById('savedOKMsg').style.visibility = 'hidden'; document.getElementById('savedOKMsg').style.display = 'none'; }
    </script>
    @RenderSection("scripts", required: false)




    @if (Html.EnvironmentName() == "dev" && HttpContext.Current.IsDebuggingEnabled)
    {
        var cp = (ClaimsPrincipal)User;
        foreach (var claim in cp.Claims)
        {
            <!-- @claim.Type = @claim.Value -->
        }

    }
    @Scripts.Render("~/node-modules/scripts")
    @if (Html.EnvironmentName() == "")
    {
        <noscript><p><img src="https://analyse.kartverket.no/analyse/matomo.php?idsite=16&rec=1" style="border:0" alt="" /></p></noscript>
    }
</body>
</html>