@model Kartverket.MetadataEditor.Models.MetadataViewModel
@using Resources

@Html.Partial("_Log", Model)

<div class="row form-group">
    <div class="col-md-12">
        <input type="checkbox" onchange="AddAdministrativeKeyWords();" value="Det offentlige kartgrunnlaget" name="keyword-dok-valid-kmd" id="keyword-dok-valid-kmd">
        <label for="keyword-dok-valid-kmd">DOK i henhold til KMD-definisjon</label>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <input type="checkbox" value="Inspire" name="keyword-inspire-valid" id="keyword-inspire-valid" onchange="AddAdministrativeKeyWords();">
        <label for="keyword-inspire-valid">Inspire i henhold rapportering</label>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <input type="checkbox" value="geodataloven" name="keyword-geodatalaw" id="keyword-geodatalaw" onchange="AddAdministrativeKeyWords();">
        <label for="keyword-geodatalaw">Underlagt Geodataloven</label>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <label for="keyword-catalogs">@UI.Metadata_Admin_KeywordsCatalogs:</label>
        @Html.ListBox("KeywordsCatalogs", ViewBag.CatalogValues as MultiSelectList, new { @class = "chosen-select chosen-keyword-select form-control", @multiple = "multiple", data_placeholder = "Velg fra listen", @onchange = "AddAdministrativeKeyWords();" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <input type="checkbox" value="Norge digitalt" name="keyword-norgedigitalt" id="keyword-norgedigitalt" onchange="AddAdministrativeKeyWords();">
        <label for="keyword-norgedigitalt">Norge digitalt-avtale</label>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <input type="checkbox" value="arealplanerPBL" name="keyword-areal-plans" id="keyword-areal-plans" onchange="AddAdministrativeKeyWords();">
        <label for="keyword-areal-plans">Arealplaner underlagt Pbl</label>
    </div>
</div>
@if (!Model.IsSoftware())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-11">
                    <span class="required">Konformitet</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="QualitySpecificationInspire" class="panel-group">
            <div class="panel-heading bg-info">
                <div class="row">
                    <div class="col-md-11">
                        <span>Inspire:</span>
                    </div>
                    <div class="col-md-1">
                        <a href="#" data-help-text-id="help-text-Conformity-inspire" class="badge help-text-toggle">?</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-body">
                <p class="help-text bg-success" id="help-text-Conformity-inspire" style="display: none; ">
                    Referanse til Inspire er nødvendig for datasett som er omfattet av Inspire-direktivet. Datasettet eller tjenesten trenger ikke være harmonisert med datasettspesifikasjonen. Da skal heller ikke "Er datasettet produsert iht angitt produktspesifikasjon?" være huket av. Man skal velge/registrere nøkkelordet "Inspire" under samarbeid og lover.
                </p>
                <div class="form-group required has-feedback">
                    <div class="row">
                        <label class="col-md-3 control-label">Angitt produktspesifikasjon</label>
                        <div class="col-md-8">
                            @Html.HiddenFor(m => m.QualitySpecificationTitleInspire)
                            <input class="form-control" id="InspireLabel" name="InspireLabel" type="text" value="Inspire" readonly="readonly" disabled="disabled">
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                            <p class="help-text bg-success" id="help-text-QualitySpecificationTitleInspire" style="display: none">
                                Referansenavn på datakilde/tjeneste. Du må registrere nøkkelord "Inspire" under "Samarbeid og lover" under fanen "Nøkkelord"
                            </p>
                        </div>
                        <div class="col-md-1">
                            <p class="form-control-static">
                                <a href="#" data-help-text-id="help-text-QualitySpecificationTitleInspire" class="badge help-text-toggle">?</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-3 control-label">Dato</label>
                        <div class="col-md-2">
                            @Html.EditorFor(m => m.QualitySpecificationDateInspire, new { cssClass = "" })
                        </div>
                        <label class="col-md-2 control-label hidden">Type dato</label>
                        <div class="col-md-2 hidden">
                            @Html.EditorFor(m => m.QualitySpecificationDateTypeInspire)
                        </div>
                    </div>
                </div>
                <div class="form-group required has-feedback">
                    <div class="row">
                        <label class="col-md-3 control-label">Datakonformitet</label>
                        <div class="col-md-8">
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultInspireConform" name="QualitySpecificationResultInspire" @{if (Model.QualitySpecificationResultInspire) { <text> checked="checked" </text>  } } type="radio" value="true" /> Dataene er produsert iht produktspesifikasjonen
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultInspireNotConform" name="QualitySpecificationResultInspire" @{if (!Model.QualitySpecificationResultInspire) { <text> checked="checked" </text>  } } type="radio" value="false" />Dataene avviker fra produktspesifikasjonen
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="QualitySpecificationExplanationInspireDiv" class="form-group required has-feedback@{if (Model.QualitySpecificationResultInspire) { <text> hidden</text> } }">
                    <div class="row">
                        <label class="col-md-3 control-label">Avvik fra produktspesifikasjonen</label>
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.QualitySpecificationExplanationInspire, new { @class = "form-control" })
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                            <p class="help-text bg-success" id="help-text-QualitySpecificationExplanationInspire" style="display: none">
                                Her informerer du om hva som i hovedsak mangler for at ressursen skal være i henhold til spesifikasjonen. Aktuelle tekster kan være: "Ressursen er i henhold til angitt spesifikasjon". Hvis ressursen er delvis i henhold til spesifikasjonen, eller har enkelte avvik, så kan disse angis, eventuelt så kan en bruke teksten: "Ressursen er langt på vei i henhold til angitt standard, men har enkelte avvik"
                            </p>
                        </div>
                        <div class="col-md-1">
                            <p class="form-control-static">
                                <a href="#" data-help-text-id="help-text-QualitySpecificationExplanationInspire" class="badge help-text-toggle">?</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 control-label">Avvik fra produktspesifikasjonen engelsk</label>
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.EnglishQualitySpecificationExplanationInspire, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="QualitySpecificationSosi" class="panel-group">
            <div class="panel-heading bg-info">
                <div class="row">
                    <div class="col-md-11">
                        <span>Sosi:</span>
                    </div>
                    <div class="col-md-1">
                        <a href="#" data-help-text-id="help-text-Conformity-sosi" class="badge help-text-toggle">?</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-body">
                <p class="help-text bg-success" id="help-text-Conformity-sosi" style="display: none; ">
                    Referanse til SOSI-produktspesifikasjon eller SOSI-fagområde kan legges inn for nasjonale datasett. Datasettet eller tjenesten trenger ikke være fullstendig i tråd med SOSI. Da skal heller ikke "Er datasettet produsert iht angitt produktspesifikasjon?" være huket av. Man må velge/registere produktspesifikasjon.
                </p>
                <div id="QualitySpecificationSosiTitle" class="form-group required has-feedback">
                    <div class="row">
                        <label class="col-md-2 control-label">Angitt produktspesifikasjon</label>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.QualitySpecificationTitleSosi, new { @class = "form-control" })
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                            <p class="help-text bg-success" id="help-text-QualitySpecificationTitleSosi" style="display: none">
                                Referansenavn på datakilde/tjeneste. Du må velge "Produktspesifikasjon" under fanen "Dokumentasjon". Dersom ønsket ikke finnes i listen må du først registrere produktspesifikasjonen i registeret.
                            </p>
                        </div>
                        <div class="col-md-1">
                            <p class="form-control-static">
                                <a href="#" data-help-text-id="help-text-QualitySpecificationTitleSosi" class="badge help-text-toggle">?</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="QualitySpecificationSosiDate" class="form-group">
                    <div class="row">
                        <label class="col-md-2 control-label">Dato</label>
                        <div class="col-md-2">
                            @Html.EditorFor(m => m.QualitySpecificationDateSosi, new { cssClass = "" })
                        </div>
                        <label class="col-md-2 control-label hidden">Type dato</label>
                        <div class="col-md-2 hidden">
                            @Html.EditorFor(m => m.QualitySpecificationDateTypeSosi)
                        </div>
                    </div>
                </div>
                <div class="form-group required has-feedback">
                    <div class="row">
                        <label class="col-md-2 control-label">Datakonformitet</label>
                        <div id="QualitySpecificationSosiResult" class="col-md-9">
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiConform" name="QualitySpecificationResultSosi" @{if (Model.QualitySpecificationResultSosi) { <text> checked="checked" </text>  } } type="radio" value="true" /> Dataene er produsert iht produktspesifikasjonen
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiNotConform" name="QualitySpecificationResultSosi" @{if (!Model.QualitySpecificationResultSosi) { <text> checked="checked" </text>  } } type="radio" value="false" /> Dataene avviker fra produktspesifikasjonen
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="QualitySpecificationExplanationSosiDiv" class="form-group required has-feedback@{if (Model.QualitySpecificationResultSosi) { <text> hidden</text> } }">
                    <div class="row">
                        <label class="col-md-2 control-label">Avvik fra produktspesifikasjonen</label>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.QualitySpecificationExplanationSosi, new { @class = "form-control" })
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                            <p class="help-text bg-success" id="help-text-QualitySpecificationExplanationSosi" style="display: none">
                                Her informerer du om hva som i hovedsak mangler for at ressursen skal være i henhold til spesifikasjonen. Aktuelle tekster kan være: "Ressursen bygger på nasjonal standard (SOSI) og er ikke forsøkt harmonisert i henhold til INSPIRE". Hvis ressursen er i henhold til spesifikasjonen kan en benytte teksten: "Ressursen er i henhold til angitt spesifikasjon". Hvis ressursen er delvis i henhold til spesifikasjonen, eller har enkelte avvik, så kan disse angis, eventuelt så kan en bruke teksten: "Ressursen er langt på vei i henhold til angitt standard, men har enkelte avvik"
                            </p>
                        </div>
                        <div class="col-md-1">
                            <p class="form-control-static">
                                <a href="#" data-help-text-id="help-text-QualitySpecificationExplanationSosi" class="badge help-text-toggle">?</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label">Avvik fra produktspesifikasjonen engelsk</label>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.EnglishQualitySpecificationExplanationSosi, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
                <div id="QualitySpecificationSosiConformApplicationSchema" class="form-group">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-9">
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiConformApplicationSchema" name="QualitySpecificationResultSosiConformApplicationSchema" @{if (Model.QualitySpecificationResultSosiConformApplicationSchema) { <text> checked="checked" </text>  } } type="radio" value="true" /> @UI.QualitySpecificationResultSosiConformApplicationSchema
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiNotConformApplicationSchema" name="QualitySpecificationResultSosiConformApplicationSchema" @{if (!Model.QualitySpecificationResultSosiConformApplicationSchema) { <text> checked="checked" </text>  } } type="radio" value="false" /> @UI.QualitySpecificationResultNotSosiConformApplicationSchema
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiConformGmlApplicationSchema" name="QualitySpecificationResultSosiConformGmlApplicationSchema" @{if (Model.QualitySpecificationResultSosiConformGmlApplicationSchema) { <text> checked="checked" </text>  } } type="radio" value="true" /> @UI.QualitySpecificationResultSosiConformGmlApplicationSchema
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiNotConformGmlApplicationSchema" name="QualitySpecificationResultSosiConformGmlApplicationSchema" @{if (!Model.QualitySpecificationResultSosiConformGmlApplicationSchema) { <text> checked="checked" </text>  } } type="radio" value="false" /> @UI.QualitySpecificationResultSosiNotConformGmlApplicationSchema
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="QualitySpecificationCustom" class="panel-group">
            <div class="panel-heading bg-info">
                <div class="row">
                    <div class="col-md-11">
                        <span>Annen standard/ egen dokumentasjon:</span>
                    </div>
                    <div class="col-md-1">
                        <a href="#" data-help-text-id="help-text-Conformity-custom" class="badge help-text-toggle">?</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-body">
                <p class="help-text bg-success" id="help-text-Conformity-custom" style="display: none; ">
                    <b>Nasjonale eller internasjonale fagdata:</b> Datasett som følger egen standard, fagstandard eller internasjonal standard skal referere til denne. Datasettet eller tjenesten trenger ikke være fullstendig i tråd med standarden, men da skal det heller ikke hukes av for "Er datasettet produsert iht angitt produktspesifikasjon?". Man må velge/registere produktspesifikasjon annen (navn).
                    <br />
                    <b>Datasett og tjenester som ikke bygger på en standard:</b> Det skal her refereres til egen dokumentasjon, eller fylles inn "Mangler"
                </p>
                <div class="form-group required has-feedback">
                    <label class="col-md-2 control-label">Angitt produktspesifikasjon</label>
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.QualitySpecificationTitle, new { @class = "form-control" })
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                        <p class="help-text bg-success" id="help-text-QualitySpecificationTitle" style="display: none">
                            Referansenavn på datakilde/tjeneste. Du må først skrive inn "Produktspesifikasjon annen (navn)" under fanen "Dokumentasjon"
                        </p>
                    </div>
                    <div class="col-md-1">
                        <p class="form-control-static">
                            <a href="#" data-help-text-id="help-text-QualitySpecificationTitle" class="badge help-text-toggle">?</a>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Dato</label>
                    <div class="col-md-2">
                        @Html.EditorFor(m => m.QualitySpecificationDate, new { cssClass = "date" })
                    </div>
                    <label class="col-md-2 control-label hidden">Type dato</label>
                    <div class="col-md-2 hidden">
                        @Html.EditorFor(m => m.QualitySpecificationDateType)
                    </div>
                </div>
                <div class="form-group required has-feedback">
                    <label class="col-md-2 control-label">Datakonformitet</label>
                    <div class="col-md-9">
                        <input class="radio-inline" id="QualitySpecificationResultConform" name="QualitySpecificationResult" @{if (Model.QualitySpecificationResult) { <text> checked="checked" </text>  } } type="radio" value="true" />Dataene er produsert iht produktspesifikasjonen
                        <br />
                        <input class="radio-inline" id="QualitySpecificationResultNotConform" name="QualitySpecificationResult" @{if (!Model.QualitySpecificationResult) { <text> checked="checked" </text>  } } type="radio" value="false" />Dataene avviker fra produktspesifikasjonen
                    </div>
                </div>
                <div id="QualitySpecificationExplanationDiv" class="form-group required has-feedback@{if (Model.QualitySpecificationResult) { <text> hidden</text> } }">
                    <div class="row">
                        <label class="col-md-2 control-label">Avvik fra produktspesifikasjonen</label>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.QualitySpecificationExplanation, new { @class = "form-control" })
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                            <p class="help-text bg-success" id="help-text-QualitySpecificationExplanation" style="display: none">
                                Her informerer du om hva som i hovedsak mangler for at ressursen skal være i henhold til spesifikasjonen. Aktuelle tekster kan være: "Ressursen bygger på nasjonal standard (SOSI) og er ikke forsøkt harmonisert i henhold til INSPIRE". Hvis ressursen er i henhold til spesifikasjonen kan en benytte teksten: "Ressursen er i henhold til angitt spesifikasjon". Hvis ressursen er delvis i henhold til spesifikasjonen, eller har enkelte avvik, så kan disse angis, eventuelt så kan en bruke teksten: "Ressursen er langt på vei i henhold til angitt standard, men har enkelte avvik"
                            </p>
                        </div>
                        <div class="col-md-1">
                            <p class="form-control-static">
                                <a href="#" data-help-text-id="help-text-QualitySpecificationExplanation" class="badge help-text-toggle">?</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label">Avvik fra produktspesifikasjonen engelsk</label>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.EnglishQualitySpecificationExplanation, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

