@model Kartverket.MetadataEditor.Models.MetadataViewModel

<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Navn</label>
    <div class="col-sm-9">
        @Html.EditorFor(m => m.Title)
        <p class="help-text bg-success" id="help-text-name" style="display: none">
            Offisiell tittel (navn). Navnet skal være konsist, beskrive tjenesten/datasettet best mulig og baseres på norsk rettskriving.  Navnet skal være identisk med det som blir brukt i nedlastningsløsninger og på etatens hjemmesider. Navnet kan også inneholde årstall og geografisk område.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-name" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group">
    <label for="purpose" class="col-sm-2 control-label">Formål</label>
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.Purpose, new { @class = "form-control", cols = "", rows = "3" })
        <p class="help-text bg-success" id="help-text-purpose" style="display: none">
            Kortfattet tekst om hva som er formålet med tjenesten / datasettet / datasettserien.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-purpose" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group">
    <label for="abstract" class="col-sm-2 control-label">Sammendrag</label>
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.Abstract, new { @class = "form-control", cols = "", rows = "6" })
        <p class="help-text bg-success" id="help-text-abstract" style="display: none">
            Kortfattet tekst om hva som er innholdet i tjenesten/datasettet.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-abstract" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group">
    <label for="abstract" class="col-sm-2 control-label">Opprettet dato</label>
    <div class="col-sm-2">
        @Html.EditorFor(m => m.DateCreated)
    </div>
    <div class="col-sm-7">
        <p class="help-text bg-success" id="help-text-date" style="display: none">
            Minst ett av datofeltene må fylles ut. Det anbefales som et minimum at "Dato sist oppdatert" benyttes.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-date" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group">
    
</div>
<div class="form-group">
    <label for="abstract" class="col-sm-2 control-label">Dato sist oppdatert</label>
    <div class="col-sm-2">
        @Html.EditorFor(m => m.DateUpdated)
    </div>
    <label for="abstract" class="col-sm-2 control-label">Publiseringsdato</label>
    <div class="col-sm-2">
        @Html.EditorFor(m => m.DatePublished)
    </div>
</div>
<div class="form-group">
    <label for="keywords" class="col-sm-2 control-label">Nøkkelord</label>
    <div class="col-sm-9">

        <div class="col-sm-6">
            <p class="keyword-header">Tema</p>
            <ul id="keywords-theme">
                @for (int i = 0; i < Model.KeywordsTheme.Count; i++)
                {
                    var keyword = Model.KeywordsTheme[i];
                    <li id="keywords-theme-@i">
                        <span class="label label-success">@keyword</span>
                        <a href="" class="keyword-delete" data-delete="keywords-theme-@i"><small>Slett</small></a>
                        <input type="hidden" name="KeywordsTheme[@i]" value="@keyword" />
                    </li>
                }
            </ul>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="text" id="keywords-theme-text" class="form-control"/>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-sm" id="keywords-theme-add">Legg til</button>
                </div>
            </div>
        </div>
               
        <div class="col-sm-6">
            <p class="keyword-header">Sted</p>
            <ul id="keywords-place">
                @for (int i = 0; i < Model.KeywordsPlace.Count; i++)
                {
                    var keyword = Model.KeywordsPlace[i];
                    <li id="keywords-place-@i">
                        <span class="label label-success">@keyword</span>
                        <a href="" class="keyword-delete" data-delete="keywords-place-@i"><small>Slett</small></a>
                        <input type="hidden" name="KeywordsPlace[@i]" value="@keyword" />
                    </li>
                }
            </ul>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="text" id="keywords-place-text" class="form-control" />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-sm" id="keywords-place-add">Legg til</button>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <p class="keyword-header">Samarbeid og lover</p>
            <ul id="keywords-national-initiative">
                @for (int i = 0; i < Model.KeywordsNationalInitiative.Count; i++)
                {
                    var keyword = Model.KeywordsNationalInitiative[i];
                    <li id="keywords-national-initiative-@i">
                        <span class="label label-success">@keyword</span>
                        <a href="" class="keyword-delete" data-delete="keywords-national-initiative-@i"><small>Slett</small></a>
                        <input type="hidden" name="KeywordsNationalInitiative[@i]" value="@keyword" />
                    </li>
                }
            </ul>
            <div class="form-group">
                <div class="col-sm-6">
                    <select class="input-sm form-control" id="keywords-national-initiative-text">
                        <option></option>
                        <option>Inspire</option>
                        <option>Det offentlige kartgrunnlaget</option>
                        <option>Barentswatch</option>
                        <option>Norge digitalt</option>
                        <option>European Location Framework</option>
                        <option>Arctic SDI</option>
                        <option>Åpne data</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-sm" id="keywords-national-initiative-add">Legg til</button>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <p class="keyword-header">Inspire</p>
            <ul id="keywords-inspire">
                @for (int i = 0; i < Model.KeywordsInspire.Count; i++)
                {
                    var keyword = Model.KeywordsInspire[i];
                    <li id="keywords-inspire-@i">
                        <span class="label label-success">@keyword</span>
                        <a href="" class="keyword-delete" data-delete="keywords-inspire-@i"><small>Slett</small></a>
                        <input type="hidden" name="KeywordsInspire[@i]" value="@keyword" />
                    </li>
                }
            </ul>
            <div class="form-group">
                <div class="col-sm-6">
                    <select class="input-sm form-control" id="keywords-inspire-text">
                        <option></option>
                        <option>Addresses</option>
                        <option>Administrative units</option>
                        <option>Agricultural and aquaculture facilities</option>
                        <option>Area management/restriction/regulation zones and reporting units</option>
                        <option>Atmospheric conditions</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default btn-sm" id="keywords-inspire-add">Legg til</button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-keyword" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
        <div class="help-text bg-success" id="help-text-keyword" style="display: none">
            <b>Velkjente ord og begreper brukt som søkeord</b>

            <p>
                <b>Tema</b><br>
                Gode nøkkelord er en forutsetning for at metadataene skal bli funnet av brukerne. Nøkkelord skal skrives i entall og det skal brukes folkelige termer i tillegg til mer spesifikke faguttrykk. Både overordnede metadata og mer detaljerte metadata, helt ned på objektnivå bør vurderes.
            </p>
            <p>
                <b>Sted</b><br>
                Det kan for eksempel være kommunenavn for kommunale datasett, eller Norges fastland for landsdekkende datasett. Skriv steder datasett dekker og ikke hva det ikke dekker
            </p>
            <p>
                <b>Inspire:</b><br>
                Hvis datasettet inneholder data som inngår blant Inspire-datasettene, skal det refereres til GEMET – Inspire themes, version 1.0 og riktig tema. Det er ingen krav om at datasettet er komplett i henhold til en Inspire datasettspesifikasjon. (Egen kodeliste).
            </p>
            <p>
                <b>Samarbeid og lover</b><br>
                Nøkkelordliste som viser til lover eller regler datasettet/serien er omfattet av eller forpliktende samarbeid som datasettet/serien inngår i. (Egen kodeliste)
            </p>
        </div>
    </div>
</div>


<div class="panel panel-default" >
    <div class="panel-heading">Geografisk utstrekning</div>
    <div class="panel-body">

        <div class="form-group">
            <label class="col-sm-3 control-label">Nord</label>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.BoundingBoxNorth)
            </div>
            <label class="col-sm-1 control-label">Øst</label>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.BoundingBoxEast)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Sør</label>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.BoundingBoxSouth)
            </div>
            <label class="col-sm-1 control-label">Vest</label>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.BoundingBoxWest)
            </div>
        </div>

        <p>Skriv inn koordinatverdier for utstrekning, eller bruk de forhåndsdefinerte verdiene nedenfor dersom de geografiske dataene gjelder for et bestemt fylke eller en kommune.</p>
        <div class="form-group">
            <label for="state" class="control-label col-sm-3">Fylke:</label>
            <div class="col-sm-2">
                <select name="state" id="bboxState" class="form-control">
                    <option data-statenumber="00">Norge</option>
                    <option data-statenumber="02">Akershus</option>
                    <option data-statenumber="09">Aust-Agder</option>
                    <option data-statenumber="06">Buskerud</option>
                    <option data-statenumber="20">Finnmark</option>
                    <option data-statenumber="04">Hedmark</option>
                    <option data-statenumber="12">Hordaland</option>
                    <option data-statenumber="15">Møre og Romsdal</option>
                    <option data-statenumber="17">Nord-Trøndelag</option>
                    <option data-statenumber="18">Nordland</option>
                    <option data-statenumber="05">Oppland</option>
                    <option data-statenumber="11">Rogaland</option>
                    <option data-statenumber="14">Sogn og Fjordane</option>
                    <option data-statenumber="16">Sør-Trøndelag</option>
                    <option data-statenumber="08">Telemark</option>
                    <option data-statenumber="19">Troms</option>
                    <option data-statenumber="10">Vest-Agder</option>
                    <option data-statenumber="07">Vestfold</option>
                    <option data-statenumber="01">Østfold</option>
                </select>
            </div>
            <label for="county" class="control-label col-sm-1">Kommune:</label>
            <div class="col-sm-2">
                <select name="county" id="bboxCounty" class="form-control">
                    <option data-countynumber="00" data-north="" data-south="" data-east="" data-west="">Hele landet</option>
                    @Html.Partial("_OptionsCountyList")
                </select>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-default" id="bboxPrefill">Bruk</button>
            </div>
        </div>

                
        
    </div>     
</div>
