@model Kartverket.MetadataEditor.Models.MetadataViewModel

<div class="form-group required has-feedback">
    @Html.LabelFor(m => m.Title, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-9">
        @Html.EditorFor(m => m.Title)
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        <p class="help-text bg-success" id="help-text-name" style="display: none">
            Offisiell tittel (navn). Navnet skal være konsist, beskrive tjenesten/datasettet best mulig og baseres på norsk rettskriving. Navnet skal være identisk med det som blir brukt i eventuell produktspesifikasjon, nedlastningsløsninger og på etatens hjemmesider. Navnet kan også inneholde årstall og geografisk område.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-name" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

@if (Model.IsDataset() || Model.IsDatasetSeries())
{
    <div class="form-group">
        <label for="ResourceReferenceCodespace" class="col-sm-2 control-label">Domene</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.ResourceReferenceCodespace)
            <p class="help-text bg-success" id="help-text-ResourceReferenceCodespace" style="display: none">
                Her fyller man inn domenet til datasettet f.eks. kartverket. 
            </p>
        </div>
        <div class="col-sm-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-ResourceReferenceCodespace" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="ResourceReferenceCode" class="col-sm-2 control-label">Unik ressurs-id</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.ResourceReferenceCode)
            <p class="help-text bg-success" id="help-text-ResourceReferenceCode" style="display: none">
                Verdien skal unikt identifisere det elementet som metadataene beskriver innen angitt navnerom.
            </p>
        </div>
        <div class="col-sm-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-ResourceReferenceCode" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
}
<div class="form-group">
    @Html.LabelFor(m => m.Purpose, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.Purpose, new { @class = "form-control", cols = "", rows = "3" })
        <p class="help-text bg-success" id="help-text-purpose" style="display: none">
            Kortfattet tekst om hva som er formålet med tjenesten / datasettet / datasettserien.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-purpose" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group required has-feedback">
    @Html.LabelFor(m => m.Abstract, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.Abstract, new { @class = "form-control", cols = "", rows = "6" })
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        <p class="help-text bg-success" id="help-text-abstract" style="display: none">
            Kortfattet tekst om hva som er innholdet i tjenesten/datasettet.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-abstract" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
@if (Model.IsDatasetOrSeriesOrSoftware() )
{
<div class="form-group">
    <label for="SupplementalDescription" class="col-sm-2 control-label">Supplerende beskrivelse</label>
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.SupplementalDescription, new { @class = "form-control", cols = "", rows = "3" })
        <p class="help-text bg-success" id="help-text-supplementalDescription" style="display: none">
            Annen informasjon som er ønskelig å opplyse om, men som ikke hører hjemme i sammendraget.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-supplementalDescription" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
}

<div class="form-group">
    <label for="SpecificUsage" class="col-sm-2 control-label">Bruksområde</label>
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.SpecificUsage, new { @class = "form-control", cols = "", rows = "3" })
        <p class="help-text bg-success" id="help-text-usage" style="display: none">
            Kort beskrivelse av hvordan datasettet kan/børbrukes.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-usage" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

