@model Kartverket.MetadataEditor.Models.MetadataViewModel

<div class="form-group required has-feedback">
    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-name" style="display: none">
            Navn på metadataoppføringen. Navnet skal være kort og konsist og beskrive tjenesten/datasettet best mulig. Generelle begreper må settes inn i en faglig kontekst (eks: Kulturminner - lokaliteter). Navnet skal være identisk med det som blir brukt i eventuell produktspesifikasjon. Navnet kan også inneholde årstall og geografisk område.
        </p>
        @Html.EditorFor(m => m.Title)
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-name" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

@if (Model.IsDataset() || Model.IsDatasetSeries())
{
    <div class="form-group">
        <label for="ResourceReferenceCodespace" class="col-md-2 control-label">Navnerom til datasett</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-ResourceReferenceCodespace" style="display: none">
                Oppbygging av navnerom er ikke avklart enda men vurderes å være en URL som peker til et felles navnerom for geografiske datasett, og administreres av nasjonal geodatakoordinator. Det kan for eksempel være: "http://data.geonorge.no/so/"
            </p>
            @Html.EditorFor(m => m.ResourceReferenceCodespace)
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-ResourceReferenceCodespace" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="ResourceReferenceCode" class="col-md-2 control-label">Navn på datasett</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-ResourceReferenceCode" style="display: none">
                Fullstendig navn på selve datasettet.
            </p>
            @Html.EditorFor(m => m.ResourceReferenceCode)
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-ResourceReferenceCode" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
}
<div class="form-group">
    @Html.LabelFor(m => m.Purpose, new { @class = "col-md-2 control-label" })
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-purpose" style="display: none">
            Hvis datasettet er samlet inn med tanke på et spesielt formål, og ikke kan brukes til andre formål uten videre, skal dette oppgis. Hvis ikke, trengs det ikke angis noe her.
        </p>
        @Html.TextAreaFor(m => m.Purpose, new { @class = "form-control", cols = "", rows = "3" })
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-purpose" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group required has-feedback">
    @Html.LabelFor(m => m.Abstract, new { @class = "col-md-2 control-label" })
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-abstract" style="display: none">
            Kortfattet tekst om hva som er innholdet i tjenesten/datasettet.
        </p>
        @Html.TextAreaFor(m => m.Abstract, new { @class = "form-control", cols = "", rows = "6" })
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-abstract" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
@if (Model.IsDatasetOrSeriesOrSoftware() )
{
<div class="form-group">
    <label for="SupplementalDescription" class="col-md-2 control-label">Supplerende beskrivelse</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-supplementalDescription" style="display: none">
            Annen informasjon som er ønskelig å opplyse om, men som ikke hører hjemme i beskrivelsen.
        </p>
        @Html.TextAreaFor(m => m.SupplementalDescription, new { @class = "form-control", cols = "", rows = "3" })
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-supplementalDescription" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
}

<div class="form-group">
    <label for="SpecificUsage" class="col-md-2 control-label">Bruksområde</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-usage" style="display: none">
            Kort beskrivelse av hvilke oppgaver datasettet kan/bør brukes til.
        </p>
        @Html.TextAreaFor(m => m.SpecificUsage, new { @class = "form-control", cols = "", rows = "3" })
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-usage" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

