@model Kartverket.MetadataEditor.Models.MetadataViewModel

<div class="form-group required has-feedback">
    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-name" style="display: none">
            Navn på metadataoppføringen. Navnet skal være kort og konsist og beskrive tjenesten/datasettet best mulig. Generelle begreper må settes inn i en faglig kontekst (eks: Kulturminner - lokaliteter). Navnet skal være identisk med det som blir brukt i eventuell produktspesifikasjon. Navnet kan også inneholde årstall og geografisk område.
        </p>
        @Html.EditorFor(m => m.Title)
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-name" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

@if (Model.IsDataset() || Model.IsDatasetSeries())
{
    <div class="form-group">
        <label for="ResourceReferenceCodespace" class="col-md-2 control-label">Navnerom til datasett</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-ResourceReferenceCodespace" style="display: none">
                Endelig avklaring om oppbygging av navnerom foreligger ikke. Den er vurdert til å være en URL som peker til et felles navnerom for geografiske datasett som administreres av nasjonal geodatakoordinator.<br />
                Eksempel: http://data.geonorge.no/so/
            </p>
            @Html.EditorFor(m => m.ResourceReferenceCodespace)
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-ResourceReferenceCodespace" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="ResourceReferenceCode" class="col-md-2 control-label">Navn på datasett</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-ResourceReferenceCode" style="display: none">
                Fullstendig navn på selve datasettet.
            </p>
            @Html.EditorFor(m => m.ResourceReferenceCode)
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-ResourceReferenceCode" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
}

<div class="form-group required has-feedback">
    @Html.LabelFor(m => m.Abstract, new { @class = "col-md-2 control-label" })
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-abstract" style="display: none">
            Oppgi hva tjenesten/datasettet inneholder. Hva finner brukeren i denne tjenesten/datasettet.
        </p>
        @Html.TextAreaFor(m => m.Abstract, new { @class = "form-control", cols = "", rows = "6" })
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-abstract" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
@if (Model.IsDatasetOrSeriesOrSoftware() )
{
<div class="form-group">
    <label for="SupplementalDescription" class="col-md-2 control-label">Hjelp for bruk</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-supplementalDescription" style="display: none">
            Oppgi informasjon og veiledning om hvordan datasettet er organisert, mulige tekniske forhold ved formater og annet som gjør det lettere å ta i bruk datasettet.
        </p>
        @Html.TextAreaFor(m => m.SupplementalDescription, new { @class = "form-control", cols = "", rows = "3" })
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-supplementalDescription" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group">
    <label for="HelpUrl" class="col-md-2 control-label">Hjelp url</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-helpurl" style="display: none">
            Oppgi link til ekstern side eller PDF-dokument med informasjon og veiledning som gjør det lettere å ta i bruk datasettet.
        </p>
        @Html.EditorFor(m => m.HelpUrl)
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-helpurl" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
}


<div class="form-group">
    <label for="SpecificUsage" class="col-md-2 control-label">Bruksområde</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-usage" style="display: none">
            Oppgi hvilke oppgaver datasettet kan/bør brukes til.<br />
            For DOK-data bør det spesielt henvises til bruksområder relatert til kommunens plan- og byggesaksarbeid. Oppgi gjerne plannivå dataene er hensiktsmessig for evt opplysning om de er for detaljplanlegging eller planlegging på oversiktsnivå.<br />
            Bruksbegrensninger fylles inn i fanen «Restriksjoner»
        </p>
        @Html.TextAreaFor(m => m.SpecificUsage, new { @class = "form-control", cols = "", rows = "3" })
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-usage" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Purpose, new { @class = "col-md-2 control-label" })
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-purpose" style="display: none">
            Oppgi hvis datasettet er samlet inn med tanke på et spesielt formål. Hvis dataene ikke kan brukes til andre formål uten videre, skal dette framkomme her.<br />
            Det er ikke nødvendig å legge inn noe her hvis formål ikke er definert.<br />
            Det kan henvises til lover og forskrifter, stortingsmeldinger og annet som beskriver formålet med dataene.
        </p>
        @Html.TextAreaFor(m => m.Purpose, new { @class = "form-control", cols = "", rows = "3" })
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-purpose" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

