@model Kartverket.MetadataEditor.Models.MetadataViewModel

<div class="panel panel-default">
    <div class="panel-heading required">Metadatakontakt</div>
    <div class="panel-body">
        <p>Kontaktpunkt som vedlikeholder metadata og som kan svare på spørsmål knyttet til disse.</p>
        @Html.HiddenFor(m => Model.ContactMetadata.Role)
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactMetadata.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactMetadata.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactMetadata.Organization, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading required">Teknisk kontakt</div>
    <div class="panel-body">
        <p>Kontaktpunkt som kan svare på tekniske detaljer angående publisering og tilgjengeliggjøring av datene. Organisasjon og e-postadresse er påkrevd.</p>
        @Html.HiddenFor(m => Model.ContactPublisher.Role)
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactPublisher.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactPublisher.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactPublisher.Organization, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading required">Faglig kontakt</div>
    <div class="panel-body">
        <p>Kontaktpunkt som har et eierforhold til datene og kan svare inngående om faglige forhold rundt datasettets struktur og innhold. Organisasjon og e-postadresse er påkrevd.</p>
        @Html.HiddenFor(m => Model.ContactOwner.Role)
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactOwner.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.EditorFor(m => Model.ContactOwner.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactOwner.Organization, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>
