@model Kartverket.MetadataEditor.Models.MetadataViewModel

<div class="form-group">
    <label for="UseLimitations" class="col-md-3 control-label">Bruksbegrensninger</label>
    <div class="col-md-8">
        <p class="help-text bg-success" id="help-text-UseLimitations" style="display: none">
            Angir hvilke områder dataene ikke er egnet for. F.eks "dataene er ikke egnet for kommunens arealplanarbeide" eller "må ikke brukes til å navigere etter". En bør også oppgi hvorfor det er begrensninger på bruk.
        </p>
        @Html.EditorFor(m => m.UseLimitations)
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-UseLimitations" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group">
    <label for="AccessConstraints" class="col-md-3 control-label">Tilgangsrestriksjoner</label>
    <div class="col-md-8">
        <p class="help-text bg-success" id="help-text-AccessConstraints" style="display: none">
            Restriksjoner eller krav som må være oppfylt for å få tilgang til datasettet.
        </p>
        <div class="custom-select">
            @Html.DropDownList("AccessConstraints", ViewBag.AccessConstraintValues as SelectList, String.Empty, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-AccessConstraints" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group">
    <label for="UseConstraints" class="col-md-3 control-label">Brukerrestriksjoner</label>
    <div class="col-md-8">
        <p class="help-text bg-success" id="help-text-UseConstraints" style="display: none">
            Krav som må være oppfylt for å anvende datasettet/tjenesten.
        </p>
        <div class="custom-select">
            @Html.DropDownList("UseConstraints", ViewBag.UseConstraintValues as SelectList, String.Empty, new { @class = "form-control", @onchange = "licenseCheck(this.value)" })
        </div>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-UseConstraints" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group" id="licenses" style="visibility:hidden; display: none;">
    <label for="LicenseTypes" class="col-md-3 control-label">Lisens</label>
    <div class="col-md-6">
        <p class="help-text bg-success" id="help-text-LicenseTypes" style="display: none">
            Lisens for datasettet/datatjenesten.
        </p>
        <div class="custom-select">
            @Html.DropDownList("LicenseTypes", ViewBag.LicenseTypesValues as SelectList, "-- Velg lisens --", new { @class = "form-control", @onchange = "setLicense()" })
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-default" onclick="document.getElementById('LicenseLink').style.visibility = 'visible'; document.getElementById('LicenseLink').style.display = 'block'; document.getElementById('OtherConstraintsLink').value = ''; document.getElementById('OtherConstraintsLinkText').value = ''; document.getElementById('LicenseTypes').selectedIndex = 0;">Egendefinert</button>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-LicenseTypes" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>


<div class="form-group" id="LicenseLink" style="visibility:hidden; display: none;">
    <label for="OtherConstraintsLinkText" class="col-md-3 control-label">Valgt lisens</label>
    <div class="col-md-3">
        @Html.EditorFor(m => m.OtherConstraintsLinkText)
    </div>
    <label for="OtherConstraintsLink" class="col-sm-1 control-label">URL</label>
    <div class="col-md-4">
        @Html.EditorFor(m => m.OtherConstraintsLink)
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-default" id="otherConstraintsLicenseRemove" onclick="document.getElementById('OtherConstraintsLink').value = ''; document.getElementById('OtherConstraintsLinkText').value = ''; document.getElementById('LicenseLink').style.visibility = 'hidden'; document.getElementById('LicenseLink').style.display = 'none';">Slett</button>
    </div>

</div>


<div class="form-group">
    <label for="OtherConstraints" class="col-md-3 control-label">Andre restriksjoner</label>
    <div class="col-md-8">
        <p class="help-text bg-success" id="help-text-OtherConstraints" style="display: none">
            Andre restriksjoner knyttet til datasettet/datatjenesten. Her kan en henvise til lisens.
        </p>
        @Html.EditorFor(m => m.OtherConstraints)
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-OtherConstraints" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group">
    <label for="SecurityConstraints" class="col-md-3 control-label">Sikkerhetsnivå</label>
    <div class="col-md-8">
        <p class="help-text bg-success" id="help-text-SecurityConstraints" style="display: none">
            Sikkerhetsnivå på datasettet/datatjenesten.
        </p>
        <div class="custom-select">
            @Html.DropDownList("SecurityConstraints", ViewBag.SecurityConstraintValues as SelectList, String.Empty, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-SecurityConstraints" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group">
    <label for="SecurityConstraintsNote" class="col-md-3 control-label">Lovhenvisning</label>
    <div class="col-md-8">
        <p class="help-text bg-success" id="help-text-SecurityConstraintsNote" style="display: none">
            Grunngiving av tilgangsbegrensninger eller bruksbegrensninger i form av juridiske forhold eller andre begrensende faktorer. Her kan en henvise til lov, forskrift eller lignende.
        </p>
        @Html.EditorFor(m => m.SecurityConstraintsNote)
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-SecurityConstraintsNote" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<script>

    function licenseCheck() {

        if (document.getElementById('UseConstraints').value == 'license') {
            document.getElementById('licenses').style.display = 'block';
            document.getElementById('licenses').style.visibility = 'visible';
        }
        else {
            document.getElementById('licenses').style.display = 'none';
            document.getElementById('licenses').style.visibility = 'hidden';
            document.getElementById('LicenseLink').style.display = 'none';
            document.getElementById('LicenseLink').style.visibility = 'hidden';
            document.getElementById('OtherConstraintsLinkText').value = '';
            document.getElementById('OtherConstraintsLink').value = '';

        }
    }


    function setLicense() {
        var e = document.getElementById("LicenseTypes");
        var linkValue = e.options[e.selectedIndex].value;
        var linkText = e.options[e.selectedIndex].text;

        document.getElementById('OtherConstraintsLink').value = linkValue;
        document.getElementById('OtherConstraintsLinkText').value = linkText;
    }

    licenseCheck();

    var licenseFound = false;
    for (var i = 0; i < document.getElementById('LicenseTypes').options.length; i++) {
        if (document.getElementById('LicenseTypes').options[i].value == '@Model.OtherConstraintsLink') {
            licenseFound = true;
            break;
        }
    }
    if (!licenseFound) {
        document.getElementById('LicenseLink').style.display = 'block';
        document.getElementById('LicenseLink').style.visibility = 'visible';
    }
</script>
