@model Kartverket.MetadataEditor.Models.MetadataViewModel

<div class="panel panel-default">
    <div class="panel-heading required">Metadatakontakt</div>
    <div class="panel-body">
        <p>Kontaktpunkt (person eller avdeling) som vedlikeholder metadata og som kan svare på spørsmål knyttet til disse. "Navn" kan referer både til avdelingsnavn, enhet eller personnavn men er ikke påkrevd. Organisasjonsnavn skal skrives med det navnet organisasjonen omtales som eksternt uten henvisninger til avdeling eller underliggende enhet. Epost kan gå til fellesadresse som drift@etat.no</p>
        @Html.HiddenFor(m => Model.ContactMetadata.Role)
        <div class="form-group has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactMetadata.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactMetadata.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                @Html.DropDownList("ContactMetadata.Organization", ViewBag.OrganizationContactMetadataValues as SelectList, Model.ContactMetadata.Organization, new { @class = "form-control" })
                @Html.ValidationMessage("ContactMetadata.Organization", "Organisasjonsnavn er feil, vennligst velg rett i listen")
                <input type="hidden" value="@Model.ContactMetadata.Organization" name="ContactMetadata.Organization.Old" />
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading required">Teknisk kontakt</div>
    <div class="panel-body">
        <p>Kontaktpunkt (person eller avdeling) som kan svare på tekniske detaljer angående publisering og tilgjengeliggjøring av datene. "Navn" kan referer både til avdelingsnavn, enhet eller personnavn men er ikke påkrevd. Organisasjonsnavn skal skrives med det navnet organisasjonen omtales som eksternt uten henvisninger til avdeling eller underliggende enhet. Epost kan gå til fellesadresse som drift@etat.no</p>
        @Html.HiddenFor(m => Model.ContactPublisher.Role)
        <div class="form-group has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactPublisher.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactPublisher.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                @Html.DropDownList("ContactPublisher.Organization", ViewBag.OrganizationContactPublisherValues as SelectList, Model.ContactPublisher.Organization, new { @class = "form-control" })
                @Html.ValidationMessage("ContactPublisher.Organization", "Organisasjonsnavn er feil, vennligst velg rett i listen")
                <input type="hidden" value="@Model.ContactPublisher.Organization" name="ContactPublisher.Organization.Old" />
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading required">Faglig kontakt</div>
    <div class="panel-body">
        <p>Kontaktpunkt (person eller avdeling) som har et eierforhold til datene og kan svare inngående om faglige forhold rundt datasettets struktur og innhold. "Navn" kan referer både til avdelingsnavn, enhet eller personnavn men er ikke påkrevd. Organisasjonsnavn skal skrives med det navnet organisasjonen omtales som eksternt uten henvisninger til avdeling eller underliggende enhet. Epost kan gå til fellesadresse som drift@etat.no</p>
        @Html.HiddenFor(m => Model.ContactOwner.Role)
        <div class="form-group has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactOwner.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactOwner.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                @Html.DropDownList("ContactOwner.Organization", ViewBag.OrganizationContactOwnerValues as SelectList, Model.ContactOwner.Organization, new { @class = "form-control" })
                @Html.ValidationMessage("ContactOwner.Organization", "Organisasjonsnavn er feil, vennligst velg rett i listen")
                <input type="hidden" value="@Model.ContactOwner.Organization" name="ContactOwner.Organization.Old" />
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>
