@model Kartverket.MetadataEditor.Models.MetadataViewModel

<div class="form-group">
    <label for="DateCreated" class="col-sm-2 control-label">Opprettet dato</label>
    <div class="col-sm-2">
        @Html.EditorFor(m => m.DateCreated)
    </div>
    <div class="col-sm-7">
        <p class="help-text bg-success" id="help-text-date" style="display: none">
            Minst ett av datofeltene må fylles ut. Det anbefales som et minimum at "Dato sist oppdatert" benyttes. Datoene refererer til datasett/tjeneste og ikke metadata.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-date" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group">

</div>
<div class="form-group">
    <label for="DateUpdated" class="col-sm-2 control-label">Dato sist oppdatert</label>
    <div class="col-sm-2">
        @Html.EditorFor(m => m.DateUpdated)
    </div>
    <label for="DatePublished" class="col-sm-2 control-label">Publiseringsdato</label>
    <div class="col-sm-2">
        @Html.EditorFor(m => m.DatePublished)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Geografisk utstrekning</div>
    <div class="panel-body">

        <div class="form-group">
            <label class="col-sm-3 control-label">Nord</label>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.BoundingBoxNorth)
            </div>
            <label class="col-sm-1 control-label">Øst</label>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.BoundingBoxEast)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Sør</label>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.BoundingBoxSouth)
            </div>
            <label class="col-sm-1 control-label">Vest</label>
            <div class="col-sm-2">
                @Html.EditorFor(m => m.BoundingBoxWest)
            </div>
        </div>

        <p>Skriv inn koordinatverdier for utstrekning, eller bruk de forhåndsdefinerte verdiene nedenfor dersom de geografiske dataene gjelder for et bestemt fylke eller en kommune.</p>
        <div class="form-group">
            <label for="state" class="control-label col-sm-3">Fylke:</label>
            <div class="col-sm-2">
                <select name="state" id="bboxState" class="form-control">
                    <option data-statenumber="00">Norge</option>
                    <option data-statenumber="02">Akershus</option>
                    <option data-statenumber="09">Aust-Agder</option>
                    <option data-statenumber="06">Buskerud</option>
                    <option data-statenumber="20">Finnmark</option>
                    <option data-statenumber="04">Hedmark</option>
                    <option data-statenumber="12">Hordaland</option>
                    <option data-statenumber="15">Møre og Romsdal</option>
                    <option data-statenumber="17">Nord-Trøndelag</option>
                    <option data-statenumber="18">Nordland</option>
                    <option data-statenumber="05">Oppland</option>
                    <option data-statenumber="21">Oslo</option>
                    <option data-statenumber="11">Rogaland</option>
                    <option data-statenumber="14">Sogn og Fjordane</option>
                    <option data-statenumber="16">Sør-Trøndelag</option>
                    <option data-statenumber="08">Telemark</option>
                    <option data-statenumber="19">Troms</option>
                    <option data-statenumber="10">Vest-Agder</option>
                    <option data-statenumber="07">Vestfold</option>
                    <option data-statenumber="01">Østfold</option>
                </select>
            </div>
            <label for="county" class="control-label col-sm-1">Kommune:</label>
            <div class="col-sm-3">
                <select name="county" id="bboxCounty" class="form-control">
                    <option data-countynumber="00" data-north="72" data-south="57" data-east="33" data-west="2">Hele landet</option>
                    @Html.Partial("_OptionsCountyList")
                </select>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-default" id="bboxPrefill">Bruk</button>
            </div>
        </div>
    </div>
</div>