@model Kartverket.MetadataEditor.Models.MetadataViewModel

<div class="form-group">
    <label for="SpatialRepresentation" class="col-sm-2 control-label">Representasjonsform</label>
    <div class="col-sm-9">
        @Html.DropDownList("SpatialRepresentation", ViewBag.SpatialRepresentationValues as SelectList, String.Empty, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label for="DistributionFormatName" class="col-sm-2 control-label">Format</label>
    <div class="col-sm-3">
        @Html.EditorFor(m => m.DistributionFormatName)
    </div>
    <label for="DistributionFormatVersion" class="col-sm-2 control-label">Versjon</label>
    <div class="col-sm-4">
        @Html.EditorFor(m => m.DistributionFormatVersion)
    </div>
</div>
<div class="form-group">
    <label for="DistributionProtocol" class="col-sm-2 control-label">Protokoll</label>
    <div class="col-sm-3">
        @Html.EditorFor(m => m.DistributionProtocol)
    </div>
    <label for="predefinedDistributionProtocols" class="col-sm-2 control-label">Forhåndsvalg protokoll</label>
    <div class="col-sm-3">
        <select class="form-control" id="predefinedDistributionProtocols">
            <option value="WWW:DOWNLOAD-1.0-http--download">Nedlastingsside</option>
            <option value="WWW:LINK-1.0-http--link">Webside</option>
            <option value="OGC:WMS" title="Web Map Service">WMS-tjeneste</option>
            <option value="OGC:WFS" title="Web Feature Service">WFS-tjeneste</option>
            <option value="OGC:WCS" title="Web Coverage Service">WCS-tjeneste</option>
            <option value="OGC:WPS" title="Web Processing Service">WPS-tjeneste</option>
            <option value="OGC:CSW" title="Catalog Service for the Web">CSW-tjeneste</option>
        </select>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-default" id="usePredefinedDistributionProtocol">Bruk</button>
    </div>    
</div>
<div class="form-group">
    <label for="DistributionUrl" class="col-sm-2 control-label">URL</label>
    <div class="col-sm-9">
        @Html.EditorFor(m => m.DistributionUrl)
        <p class="help-text bg-success" id="help-text-DistributionUrl" style="display: none">
            Fyll adresse til nedlastningsside/webside eller tjeneste.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-DistributionUrl" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group">
    <label for="DistributionName" class="col-sm-2 control-label">Lagnavn</label>
    <div class="col-sm-9">
        @Html.EditorFor(m => m.DistributionName)
        <p class="help-text bg-success" id="help-text-DistributionName" style="display: none">
            Fylles bare ut for tjenester, og kun hvis metadataene kun gjelder et lag i tjenesten og ikke hele tjenesten
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-DistributionName" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

