@model Kartverket.MetadataEditor.Models.MetadataViewModel

@if (Model.IsDataset() || Model.IsDatasetSeries())
{
    <div class="form-group">
        <label for="SpatialRepresentation" class="col-sm-2 control-label">Representasjonsform</label>
        <div class="col-sm-2">
            @Html.DropDownList("SpatialRepresentation", ViewBag.SpatialRepresentationValues as SelectList, String.Empty, new { @class = "form-control" })
        </div>
        
    </div>
}
@if (Model.IsDataset() || Model.IsDatasetSeries())
{
<hr style="border-bottom:medium 1px black;" />
}
<div id="distributionFormatDiv">
    @{ string modelDatatype = "service"; }
    @for (int f = 0; f < Model.DistributionFormats.Count; f++)
    {
        string rowID = "formatRow" + f;
        <div id="@rowID" class="form-group">
            <label for="distributionFormats[@f].Name" class="col-sm-2 control-label">Format</label>
            <div class="col-sm-3">
                @if (Model.IsDataset() || Model.IsDatasetSeries())
                {
                    modelDatatype = "dataset";
                    <select id="distributionFormats[@f].Name" name="distributionFormats[@f].Name" class="form-control">
                        <option value="@Model.DistributionFormats[f].Name">@Model.DistributionFormats[f].Name</option>
                    </select>
                }
                else
                {
                    <input id="distributionFormats[@f].Name" name="distributionFormats[@f].Name" type="text" value="@Model.DistributionFormats[f].Name" />
                }
            </div>
            <label for="distributionFormats[@f].Version" class="col-sm-2 control-label">Versjon</label>
            <div class="col-sm-3">
                <input type="text" id="distributionFormats[@f].Version" name="distributionFormats[@f].Version" value="@Model.DistributionFormats[f].Version" />
            </div>
            <div class="col-sm-2">
                @if (f == 0)
                {            
                    <button class="btn btn-default" id="newDistributionFormat">Nytt format</button>
                }
                @if (f > 0)
                {
                    <button class="btn btn-default" id="delDistributionFormat[@f]" onclick="removeDistributionFormat(@f)">Slett</button>
                }
            </div>

        </div>
    }
</div>
<hr style="border-bottom:medium 1px black;" />
<input type="hidden" name="DistributionFormatsCount" id="DistributionFormatsCount" value="@Model.DistributionFormats.Count" />
<input type="hidden" name="DistributionFormatsType" id="DistributionFormatsType" value="@modelDatatype" />
<div class="form-group">
    <label for="DistributionProtocol" class="col-sm-2 control-label">Protokoll</label>
    <div class="col-sm-3">
        @Html.EditorFor(m => m.DistributionProtocol)
    </div>
    <label for="predefinedDistributionProtocols" class="col-sm-2 control-label">Forhåndsvalg protokoll</label>
    <div class="col-sm-3">
        <select class="form-control" id="predefinedDistributionProtocols">
            <option value=""></option>
            <option value="WWW:DOWNLOAD-1.0-http--download">Nedlastingsside</option>
            <option value="WWW:LINK-1.0-http--link">Webside</option>
            <option value="OGC:WMS" title="Web Map Service">WMS-tjeneste</option>
            <option value="OGC:WFS" title="Web Feature Service">WFS-tjeneste</option>
            <option value="OGC:WCS" title="Web Coverage Service">WCS-tjeneste</option>
            <option value="OGC:WPS" title="Web Processing Service">WPS-tjeneste</option>
            <option value="OGC:WMTS" title="Web Map Tile Service">WMTS-tjeneste</option>
            <option value="OGC:CSW" title="Catalog Service for the Web">CSW-tjeneste</option>
            <option value="W3C:WS" title="Webservice">Webservice</option>
            <option value="OGC:SOS" title="SOS-tjeneste">SOS-tjeneste</option>
            <option value="W3C:REST" title="REST-API">REST-API</option>
        </select>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-default" id="usePredefinedDistributionProtocol">Bruk</button>
    </div>    
</div>
<div class="form-group">
    <label for="DistributionUrl" class="col-sm-2 control-label">URL</label>
    <div class="col-sm-9">
        @Html.EditorFor(m => m.DistributionUrl)
        <p class="help-text bg-success" id="help-text-DistributionUrl" style="display: none">
            Fyll inn adresse til nedlastningsside/webside eller tjeneste. For tjenester skal URL angis med lenke til GetCapabilities (service og request på fylles ut).
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-DistributionUrl" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

@if (!Model.IsSoftware()) 
{ 
    <div class="form-group">
        <label for="DistributionName" class="col-sm-2 control-label">Lagnavn</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.DistributionName)
            <p class="help-text bg-success" id="help-text-DistributionName" style="display: none">
                Fylles bare ut for tjenester, og kun hvis metadataene gjelder et enkelt lag eller gruppelag i tjenesten og ikke hele tjenesten.
            </p>
        </div>
        <div class="col-sm-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-DistributionName" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
}
