@model Kartverket.MetadataEditor.Models.MetadataViewModel
@using Resources

@if (!Model.IsSoftware())
{
    <div class="form-group">
        <label class="col-md-3 control-label">Produktspesifikasjon</label>
        <div class="col-md-8">
            <div class="custom-select">
                @Html.DropDownList("ProductSpecificationUrl", ViewBag.ProductspesificationValues as SelectList, String.Empty, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Annen produktspesifikasjon</label>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">Navn</span>
                @Html.EditorFor(m => m.ProductSpecificationOther.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">URL</span>
                @Html.EditorFor(m => m.ProductSpecificationOther.URL, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Produktark</label>
        <div class="col-md-8">
            <div class="custom-select">
                @Html.DropDownList("ProductSheetUrl", ViewBag.ProductsheetValues as SelectList, String.Empty, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Tegneregler</label>
        <div class="col-md-8">
            <div class="custom-select">
                @Html.DropDownList("LegendDescriptionUrl", ViewBag.LegendDescriptionValues as SelectList, String.Empty, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Produktside (URL)</label>
        <div class="col-md-8">
            @Html.EditorFor(m => m.ProductPageUrl, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-11">
                <span class="required">Illustrasjonsbilde</span>
            </div>
            <div class="col-md-1">
                <a href="#" data-help-text-id="help-text-Image" class="badge help-text-toggle">?</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="panel-body">
        <p class="help-text bg-success" id="help-text-Image" style="display: none">@UI.Helptext_Image</p>
        <div class="form-group required has-feedback">
            <label class="col-md-2 control-label">Type</label>
            <div class="col-md-2 bottom-left">
                <input type="hidden" value="large_thumbnail" id="thumbnailType">
                <div class="@ViewBag.thumbnailMissingCSS" style="margin-top:7px;">Stort bilde</div>
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
            <div style="margin-top:7px;">
                @Html.ValidationMessage("thumbnailMissing", "Du må angi bildefil for illustrasjonsbilde")
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Angi bildefil</label>
            <div class="col-md-8">
                <div class="form-group" id="uploadThumbnail">
                    <div class="col-md-7">
                        <input type="file" id="uploadThumbnailFile" class="filestyle" data-buttontext="Velg fil" onchange="document.getElementById('uploadMode').value = 'upload';" />
                    </div>
                    <div class="col-md-3 hidden">
                        <label class="control-label"><input type="checkbox" id="uploadScaleImage" name="scaleImage" /> Tilpass størrelsen til liten visning</label>

                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" type="submit" id="uploadThumbnailButton" onclick="return checkIfUrlRef();">Last opp</button>
                    </div>
                </div>
                <div id="uploadThumbnailStatus"></div>
            </div>
        </div>


        <div class="form-group" style="display: none; visibility: hidden;">
            <label class="col-md-2 control-label">Eller angi URL</label>
            <div class="col-md-5">
                <input id="thumbnailUrl" onfocus="document.getElementById('uploadMode').value = 'reference';" type="text" class="form-control" />
                <input id="thumbnailUrlMini" onfocus="document.getElementById('uploadMode').value = 'reference';" type="text" class="form-control" />
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-1">
                <input type="hidden" id="uploadMode" value="reference" />
                <button class="btn btn-default" style="display: none; visibility:hidden;" id="thumbnailAdd"></button>

                <script>
                    function checkIfUrlRef() {
                        if (document.getElementById('thumbnailUrl').value != '' && document.getElementById('uploadMode').value == 'reference') {
                            document.getElementById('thumbnailAdd').click();
                            return false;
                        }
                    }
                </script>

            </div>
        </div>

        <ul id="thumbnails">
            @for (int i = 0; i < Model.Thumbnails.Count; i++)
            {
                var thumbnail = Model.Thumbnails[i];
                if (thumbnail.Type != "dekningsoversikt")
                {
                    <li class="thumbnail clearfix">
                        <input type="hidden" name="Thumbnails[@i].Type" value="@thumbnail.Type" />
                        <input type="hidden" name="Thumbnails[@i].URL" value="@thumbnail.URL" />
                        <img src="@thumbnail.URL" width="200" class="pull-left" style="margin-right: 10px;" />
                        <p><strong>Type:</strong>@( thumbnail.Type == "thumbnail" ? new HtmlString("miniatyrbilde") : new HtmlString(thumbnail.Type))</p>
                        <p><strong>URL:</strong> <small>@thumbnail.URL</small></p>
                        <button class="thumbnailRemove btn btn-default pull-right"><span class="glyphicon glyphicon-trash"></span> Slett</button>
                    </li>
                }
            }
        </ul>

    </div>
</div>

