@model Kartverket.MetadataEditor.Models.MetadataViewModel
@using Resources

@if (!Model.IsSoftware())
{
    <div class="form-group">
        <label class="col-sm-2 control-label">Produktspesifikasjon</label>
        <div class="col-sm-9">
            @Html.DropDownList("ProductSpecificationUrl", ViewBag.ProductspesificationValues as SelectList, String.Empty, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Produktark</label>
        <div class="col-sm-9">
            @Html.DropDownList("ProductSheetUrl", ViewBag.ProductsheetValues as SelectList, String.Empty, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Tegneregler</label>
        <div class="col-sm-9">
            @Html.DropDownList("LegendDescriptionUrl", ViewBag.LegendDescriptionValues as SelectList, String.Empty, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Produktside (URL)</label>
        <div class="col-sm-9">
            @Html.EditorFor(m => m.ProductPageUrl, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

}

<div class="panel panel-default">
    <div class="panel-heading required">Illustrasjonsbilde<div class="pull-right"><a href="#" data-help-text-id="help-text-Image" class="badge help-text-toggle">?</a></div></div>
    <div class="panel-body">
        <p class="help-text bg-success" id="help-text-Image" style="display: none">@UI.Helptext_Image</p>
        <div class="form-group required has-feedback">
            <label class="col-sm-2 control-label">Type</label>
            <div class="col-sm-2">
                <select id="thumbnailType" class="@ViewBag.thumbnailMissingCSS form-control">
                    <option value="miniatyrbilde">Miniatyrbilde</option>
                    <option value="large_thumbnail">Stort bilde</option>
                    @*<option value="dekningsoversikt">Dekningsoversikt</option>*@
                </select>
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
            <div>
                @Html.ValidationMessage("thumbnailMissing", "Du må angi bildefil eller angi URL for miniatyrbilde")
            </div>
        </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Angi bildefil</label>
                <div class="col-sm-8">
                    <div class="form-group" id="uploadThumbnail">
                        <div class="col-sm-7">
                            <input type="file" id="uploadThumbnailFile" class="filestyle" data-buttontext="Velg fil" onchange="document.getElementById('uploadMode').value = 'upload';"  />
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label"><input type="checkbox" id="uploadScaleImage" checked="checked" name="scaleImage" /> Tilpass størrelsen til liten visning</label>
                            
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-default" type="submit" id="uploadThumbnailButton" onclick="return checkIfUrlRef();">Legg til</button>
                        </div>
                    </div>
                    <div id="uploadThumbnailStatus"></div>
                </div>
            </div>


            <div class="form-group" style="display: none; visibility: hidden;">
                <label class="col-sm-2 control-label">Eller angi URL</label>
                <div class="col-sm-5">
                    <input id="thumbnailUrl" onfocus="document.getElementById('uploadMode').value = 'reference';" type="text" class="form-control" />
                </div>
                <div class="col-sm-3">
                </div>
                    <div class="col-sm-1">
                        <input type="hidden" id="uploadMode" value="reference" />
                        <button class="btn btn-default" style="display: none; visibility:hidden;" id="thumbnailAdd"></button>
                        
                        <script>
                            function checkIfUrlRef() {
                                if (document.getElementById('thumbnailUrl').value != '' && document.getElementById('uploadMode').value == 'reference') {
                                    document.getElementById('thumbnailAdd').click();
                                    return false;
                                }
                            }
                        </script>

                    </div>
                </div>

            <ul id="thumbnails">
                @for (int i = 0; i < Model.Thumbnails.Count; i++)
                {
                    var thumbnail = Model.Thumbnails[i];
                    if (thumbnail.Type != "dekningsoversikt")
                    { 
                    <li class="thumbnail clearfix">
                        <input type="hidden" name="Thumbnails[@i].Type" value="@thumbnail.Type" />
                        <input type="hidden" name="Thumbnails[@i].URL" value="@thumbnail.URL" />
                        <img src="@thumbnail.URL" width="200" class="pull-left" style="margin-right: 10px;" />
                        <p><strong>Type:</strong>@( thumbnail.Type == "thumbnail" ? new HtmlString("miniatyrbilde") : new HtmlString(thumbnail.Type))</p>
                        <p><strong>URL:</strong> <small>@thumbnail.URL</small></p>
                        <button class="thumbnailRemove btn btn-default pull-right"><span class="glyphicon glyphicon-trash"></span> Slett</button>
                    </li>
                    }
                }
            </ul>

        </div>
</div>

