@model Kartverket.MetadataEditor.Models.MetadataViewModel
@using Resources
<p>
    Fyll ut engelsk oversettinger som motsvarer de norske tekstene. Merk at de norske tekstene er de som sist er lagret i databasen.
</p>
<div class="form-group">
    <div class="col-md-3 col-md-offset-8"><b>Norske tekster:</b></div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Tittel</label>
    <div class="col-md-5">
        @Html.EditorFor(m => m.EnglishTitle)
    </div>
    <div class="col-md-3 control-text">
        @Html.DisplayFor(m => m.Title)
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Beskrivelse</label>
    <div class="col-md-5">
        @Html.TextAreaFor(m => m.EnglishAbstract, new { @class = "form-control", cols = "", rows = "8" })
    </div>
    <div class="col-md-3 control-text">
        @Html.DisplayFor(m => m.Abstract)
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Formål</label>
    <div class="col-md-5">
        @Html.TextAreaFor(m => m.EnglishPurpose, new { @class = "form-control", cols = "", rows = "8" })
    </div>
    <div class="col-md-3 control-text">
        @Html.DisplayFor(m => m.Purpose)
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Supplerende beskrivelse</label>
    <div class="col-md-5">
        @Html.TextAreaFor(m => m.EnglishSupplementalDescription, new { @class = "form-control", cols = "", rows = "8" })
    </div>
    <div class="col-md-3 control-text">
        @Html.DisplayFor(m => m.SupplementalDescription)
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Bruksområde</label>
    <div class="col-md-5">
        @Html.TextAreaFor(m => m.EnglishSpecificUsage, new { @class = "form-control", cols = "", rows = "8" })
    </div>
    <div class="col-md-3 control-text">
        @Html.DisplayFor(m => m.SpecificUsage)
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Prosesshistorie</label>
    <div class="col-md-5">
        @Html.EditorFor(m => m.EnglishProcessHistory)
    </div>
    <div class="col-md-3 control-text">
        @Html.DisplayFor(m => m.ProcessHistory)
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Bruksbegrensninger</label>
    <div class="col-md-5">
        @Html.EditorFor(m => m.EnglishUseLimitations)
    </div>
    <div class="col-md-3 control-text">
        @Html.DisplayFor(m => m.UseLimitations)
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Organisasjonsnavn - Metadatakontakt</label>
    <div class="col-md-5">
        @Html.EditorFor(m => m.EnglishContactMetadataOrganization)
    </div>
    <div class="col-md-3 control-text">
        @if (Model.ContactMetadata != null)
        {
            @Html.DisplayFor(m => m.ContactMetadata.Organization)
        }
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Organisasjonsnavn - Teknisk kontakt</label>
    <div class="col-md-5">
        @Html.EditorFor(m => m.EnglishContactPublisherOrganization)
    </div>
    <div class="col-md-3 control-text">
        @if (Model.ContactPublisher != null)
        {
            @Html.DisplayFor(m => m.ContactPublisher.Organization)
        }
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label">Organisasjonsnavn - Faglig kontakt</label>
    <div class="col-md-5">
        @Html.EditorFor(m => m.EnglishContactOwnerOrganization)
    </div>
    <div class="col-md-3 control-text">
        @if (Model.ContactOwner != null)
        {
            @Html.DisplayFor(m => m.ContactOwner.Organization)
        }
    </div>
</div>


@helper ShowInputFieldsEnglishKeywords(List<string> listOfKeywords, string label, string keywordPrefix)
{
if (listOfKeywords != null && listOfKeywords.Count > 0)
{
    foreach (var keyword in listOfKeywords)
    {
        string key = keywordPrefix + "_" + keyword;
        string value = null;
        if (Model.KeywordsEnglish.ContainsKey(key))
        {
            value = Model.KeywordsEnglish[key];
        }

        <div class="form-group" @{ string displayStyle = ""; { if (@keyword == "infoMapAccessService") { displayStyle = "display:none; visibility:hidden;"; } } } style="@displayStyle">
            <label class="col-md-3 control-label">Nøkkelord - @keyword</label>
            <div class="col-md-5">
                <input type="text" class="form-control" name="KeywordsEnglish[@(keywordPrefix)_@keyword]" value="@value" />
            </div>
            <div class="col-md-3">
                @keyword
            </div>
        </div>
        }
    }
}

@ShowInputFieldsEnglishKeywords(Model.KeywordsTheme, "Tema", "Theme")
@ShowInputFieldsEnglishKeywords(Model.KeywordsPlace, "Sted", "Place")
@ShowInputFieldsEnglishKeywords(Model.KeywordsInspire, "Inspire-kategorier", "Inspire")
@ShowInputFieldsEnglishKeywords(Model.KeywordsNationalInitiative, "Samarbeid og lover", "NationalInitiative")
@ShowInputFieldsEnglishKeywords(Model.KeywordsNationalTheme, UI.Metadata_NationalTheme_Label, "NationalTheme")
@ShowInputFieldsEnglishKeywords(Model.KeywordsOther, "Annet", "Other")