@model Kartverket.MetadataEditor.Models.MetadataViewModel
@using Resources

@if (Model.IsDataset())
            {
    <div class="form-group">
        <label for="TopicCategory" class="col-md-2 control-label">Tematisk hovedkategori</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-topicCategory" style="display: none">
                Tematisk inndeling definert i metadatastandarden.
            </p>
            <div class="custom-select">
                @Html.DropDownList("TopicCategory", ViewBag.TopicCategoryValues as SelectList, (string.IsNullOrEmpty(Model.TopicCategory) ? String.Empty : null), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-topicCategory" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
}


<div class="form-group">
    <label for="keywords-theme" class="col-md-2 control-label">Tema</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-keywords-theme" style="display: none">
            Gode nøkkelord er en forutsetning for at metadataene skal bli funnet av brukerne. Nøkkelord skal skrives i entall og det skal brukes folkelige termer i tillegg til mer spesifikke faguttrykk. Både overordnede metadata og mer detaljerte metadata, helt ned på objektnivå bør vurderes.
        </p>

        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" id="keywords-theme-text" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn" id="keywords-theme-add">Legg til</button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <ul id="keywords-theme" class="label-list">
                    @for (int i = 0; i < Model.KeywordsTheme.Count; i++)
                    {
                        var keyword = Model.KeywordsTheme[i];
                        <li id="keywords-theme-@i">
                            <span class="">@keyword</span>
                            <a href="" class="keyword-delete label-list-remove" data-delete="keywords-theme-@i"></a>
                            <input type="hidden" name="KeywordsTheme[@i]" value="@keyword" />
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-keywords-theme" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

    <div class="form-group">
        <label for="keywords-national-theme" class="col-md-2 control-label">@UI.Metadata_NationalTheme_Label</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-keywords-national-theme" style="display: none">
                En norsk tematisk inndeling basert på kategoriene fra det offentlige kartgrunnlaget.
            </p>
            <div class="row">
                <div class="col-md-6">
                    @Html.ListBox("keywords-national-theme-text", ViewBag.NationalThemeValues as MultiSelectList, new { @class = "chosen-select chosen-keyword-select form-control", @multiple = "multiple", data_selectorprefix = "keywords-national-theme", data_inputname = "KeywordsNationalTheme", data_placeholder = "Velg " + UI.Metadata_NationalTheme_Label })
                </div>
                <div class="col-md-6 hidden">
                    <ul id="keywords-national-theme-list" class="chosen-selected-keywords" data-selectorprefix="keywords-national-theme">
                        @for (int i = 0; i < Model.KeywordsNationalTheme.Count; i++)
                        {
                            var keyword = Model.KeywordsNationalTheme[i];
                            <li id="keywords-national-theme-@i">
                                <input type="text" name="KeywordsNationalTheme[@i]" value="@keyword" />
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-keywords-national-theme" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
@if (!Model.IsSoftware())
{
    <div class="form-group hidden">
        <label for="keywords-national-initiative" class="col-md-2 control-label">Samarbeid og lover</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-keywords-national-initiative" style="display: none">
                Nøkkelordliste som viser til lover eller regler datasettet/serien er omfattet av eller forpliktende samarbeid som datasettet/serien inngår i. (Egen kodeliste)
            </p>
            <div class="row">
                <div class="col-md-6">
                    @Html.ListBox("keywords-national-initiative-text", ViewBag.NationalInitiativeValues as MultiSelectList, new { @class = "chosen-select chosen-keyword-select form-control", @multiple = "multiple", data_selectorprefix = "keywords-national-initiative", data_inputname = "KeywordsNationalInitiative", data_placeholder = "Velg fra listen" })
                </div>
                <div class="col-md-6 hidden">
                    <ul id="keywords-national-initiative-list" class="chosen-selected-keywords" data-selectorprefix="keywords-national-initiative">
                        @for (int i = 0; i < Model.KeywordsNationalInitiative.Count; i++)
                        {
                            var keyword = Model.KeywordsNationalInitiative[i];
                            <li id="keywords-national-initiative-@i">
                                <input type="text" name="KeywordsNationalInitiative[@i]" value="@keyword" />
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-keywords-national-initiative" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="keywords-national-initiative" class="col-md-2 control-label">Inspire-kategorier</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-keywords-inspire" style="display: none">
                Hvis datasettet inneholder data som inngår blant Inspire-datasettene, skal det refereres til GEMET – Inspire themes, version 1.0 og riktig tema. Det er ingen krav om at datasettet er komplett i henhold til en Inspire datasettspesifikasjon. (Egen kodeliste).
            </p>
            <div class="row">
                <div class="col-md-6">
                    @Html.ListBox("keywords-inspire-text", ViewBag.InspireValues as MultiSelectList, new { @class = "chosen-select chosen-keyword-select form-control", @multiple = "multiple", data_selectorprefix = "keywords-inspire", data_inputname = "KeywordsInspire", data_placeholder = "Velg fra listen" })
                </div>
                <div class="col-md-6 hidden">
                    <ul id="keywords-inspire-list" class="chosen-selected-keywords" data-selectorprefix="keywords-inspire">
                        @for (int i = 0; i < Model.KeywordsInspire.Count; i++)
                        {
                            var keyword = Model.KeywordsInspire[i];
                            <li id="keywords-inspire-@i">
                                <input type="text" name="KeywordsInspire[@i]" value="@keyword" />
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-keywords-inspire" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>

}
<div class="form-group">
    <label for="keywords-other" class="col-md-2 control-label">Ukategoriserte nøkkelord</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-keywords-other" style="display: none">
            Denne nøkkelordtypen skal helst ikke brukes, men her vises nøkkelord som ikke er spesifisert å tilhøre en spesifikk nøkkelordkategori. Det anbefales at nøkkelord fjernes fra denne kategorien og legges inn under riktig kategori.
        </p>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" id="keywords-other-text" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn" id="keywords-other-add">Legg til</button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <ul id="keywords-other" class="label-list">
                    @for (int i = 0; i < Model.KeywordsOther.Count; i++)
            {
                var keyword = Model.KeywordsOther[i];
                        <li id="keywords-other-@i" @{ string displayStyle = ""; { if (Model.ServiceDistributionKeywords.ContainsKey(keyword)) { displayStyle = "display:none; visibility:hidden;"; } } } style="@displayStyle">
                            <span class="">@keyword</span>
                            <a href="" class="keyword-delete label-list-remove" data-delete="keywords-other-@i"></a>
                            <input type="hidden" name="KeywordsOther[@i]" value="@keyword" />
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-keywords-other" class="badge help-text-toggle">?</a>
        </p>
    </div>

</div>