@model List<Kartverket.MetadataEditor.Models.MetadataItemViewModel>

<table class="table">
    <thead>
        <tr>
            <th>@Resources.UI.Metadata_Title</th>
            <th>@Resources.UI.Metadata_Organization</th>
            <th style="width: 15%">@Resources.UI.Metadata_Type</th>
            <th style="width: 10%">
            @if (System.Web.Configuration.WebConfigurationManager.AppSettings["ValideringUrl"] != "") { 
            @Resources.UI.Metadata_Status
            }
            </th>
            <th class="text-center" style="width: 25%">@Resources.UI.Metadata_Links</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var metadata in Model)
        {
            @Html.Partial("_MetadataItem", metadata)
        }
    </tbody>
</table>
