@model List<Kartverket.MetadataEditor.Models.MetadataItemViewModel>

<table class="table">
    <thead>
        <tr>
            <th>@Resources.UI.Metadata_Title</th>
            <th>@Resources.UI.Metadata_Organization</th>
            <th>@Resources.UI.Metadata_Validation</th>
            <th class="text-center" style="width: 20%">@Resources.UI.Metadata_Links</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var metadata in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", new { uuid=@metadata.Uuid })">
                        @metadata.Title
                    </a>
                </td>
                <td>@metadata.Organization</td>
                <th>
                    @if (metadata.Uuid == "5ca4add53a09a6b7bb96ace195a936d4daa412b8")
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color: orange"></span>                        <a href=""><span style="font-size: x-small">Vis detaljer</span></a>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-ok-sign" style="color: green"></span>    
                    }
                    

                    
                    
                </th>
                <td class="text-right">
                    <div class="btn-group">
                        <a href="http://www.geonorge.no/geonetwork/srv/eng/xml_iso19139?uuid=@metadata.Uuid" target="_blank" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-file"></i> Last ned XML
                        </a>
                        <a href="http://www.geonorge.no/geonetwork/?uuid=@metadata.Uuid" target="_blank" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-share-alt"></span> Vis i katalog
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
