@model List<Kartverket.MetadataEditor.Models.MetadataItemViewModel>

<table class="table">
    <thead>
        <tr>
            <th>@Resources.UI.Metadata_Title</th>
            <th>@Resources.UI.Metadata_Organization</th>
            <th>@Resources.UI.Metadata_Type</th>
            <th>@Resources.UI.Metadata_Validation</th>
            <th class="text-center" style="width: 20%">@Resources.UI.Metadata_Links</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var metadata in Model)
        {
            @Html.Partial("_MetadataItem", metadata)
        }
    </tbody>
</table>
