@using Kartverket.MetadataEditor.Helpers

<div class="modal-dialog" id="norgeskartmodal">
    <div class="modal-content">
        <div id="viewer" role="main" style="height:100%">
            <div id="container">
                @*<p id="result"></p>*@
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button><button id="setcoordinates" onclick="setBoundingBox();" type="button" class="btn btn-default" data-dismiss="modal">Legg til område</button>
        </div>

    </div>
</div>
            <script>

                var BBWest;
                var BBSouth;
                var BBEast;
                var BBNorth;

                function sendMessage(msg) {
                    var win = document.getElementById("iframe").contentWindow;
                    win.postMessage(JSON.stringify(msg), '*');
                }

                conf = {
                    center_latitude: "7226208",
                    center_longitude: "378604",
                    grid_folder: "/sites/all/modules/custom/kms_widget/grid/",
                    koordinatsystem: "UTM32-EUREF89",
                    selection_type: "3525",
                    service_name: "fylker-utm32",
                    zoom_level: "4",
                };

                window.addEventListener('message', function (e) {
                    console.log(e.data);
                    var msg = JSON.parse(e.data);
                    if (msg.type === "mapInitialized") {
                        sendMessage({
                            "cmd": "setCenter",
                            "x": conf.center_longitude,
                            "y": conf.center_latitude,
                            "zoom": conf.zoom_level
                        });
                    } else {

                        if (msg.cmd === "setVisible") return;

                        var obj = msg;
                        if (obj.feature != null) {
                            var coords = obj.feature.geometry.coordinates[0];
                            var c1 = coords[0];
                            var c2 = coords[1];
                            var c3 = coords[2];
                            var c4 = coords[3];

                            var x1 = c1[0];
                            var y1 = c1[1];
                            var x2 = c2[0];
                            var y2 = c3[1];

                            console.log('@Html.GeonorgeWebserviceUrl()/transApi?ost=' + x1 + '&nord=' + y1 + '&fra=23&til=84');
                            $.getJSON('@Html.GeonorgeWebserviceUrl()/transApi?ost=' + x1 + '&nord=' + y1 + '&fra=23&til=84', function (result) {
                                console.log(result);
                                if (result.kode == 0) {
                                    BBWest = result.ost;
                                    BBSouth = result.nord
                                }
                            }
                            );
                            console.log('@Html.GeonorgeWebserviceUrl()/transApi?ost=' + x2 + '&nord=' + y2 + '&fra=23&til=84');
                            $.getJSON('@Html.GeonorgeWebserviceUrl()/transApi?ost=' + x2 + '&nord=' + y2 + '&fra=23&til=84', function (result) {
                                console.log(result);
                                if (result.kode == 0) {
                                    BBEast = result.ost;
                                    BBNorth = result.nord
                                }
                            }
                        );

                        }

                    }
                    console.log(e.data);
                }, false);


                $("#container").html("<iframe src='@Html.SecureNorgeskartUrl()select-rect.html' id='iframe' name='iframe'></iframe>");


                function setBoundingBox() {
                    if (typeof BBWest != 'undefined') {
                        BBWest = BBWest.toFixed(4);
                        BBSouth = BBSouth.toFixed(4);
                        BBEast = BBEast.toFixed(4);
                        BBNorth = BBNorth.toFixed(4);

                        document.getElementById('BoundingBoxWest').value = BBWest;
                        document.getElementById('BoundingBoxSouth').value = BBSouth;
                        document.getElementById('BoundingBoxEast').value = BBEast;
                        document.getElementById('BoundingBoxNorth').value = BBNorth;
                    }
                }

            </script>
