@using Kartverket.MetadataEditor.Helpers
@model Kartverket.MetadataEditor.Models.MetadataViewModel
<script>

    function getMetadata(uuid) {

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?text=" + uuid, function (result) {


            if (result.length != 0) {
                if (result.Results.length != 0) {
                    var title = result.Results[0].Title;
                    $("#title-" + uuid).text(title);
                }
                else { $("#title-" + uuid).text("TITTEL MANGLER"); }
            }

            else {
                $("#title-" + uuid).text("TITTEL MANGLER");
            }

        });
    };


    function getMetadataFreetext(searchStr) {

        $('#searchresultsDS').empty();
        $('#searchInfo').text('Fant ingen metadata');
        if (searchStr == '') {
            $('#searchInfo').text('Vennligst skriv inn søkeord');
            return false;
        }

        var counter = 0;

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?limit=25&facets[0]name=type&facets[0]value=dataset&text=" + searchStr, function (result) {
            
            if (result.length != 0) {

                if (result.Results.length != 0) {
                    for (r = counter ; r < result.Results.length; r++) {
                        displayMetadataRow(result.Results[r]);
                    }
                    $('#searchInfo').text('');
                }

            }

        });

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?facets[0]name=type&facets[0]value=series&text=" + searchStr, function (result) {
            
            if (result.length != 0) {

                if (result.Results.length != 0) {
                    for (r = counter ; r < result.Results.length; r++) {
                        displayMetadataRow(result.Results[r]);
                    }

                    $('#searchInfo').text('');
                }

            }

        });
          
    };


    function displayMetadataRow(result) {
        var div = '<div class="row"><div class="col-sm-10">' + result.Title + ', ' + result.Organization + '</div> <div class="col-sm-2"> <a onclick="addOperatesOn(\'' + result.Uuid + '\')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Legg til' + '</a> </div> </div> <hr style="margin: 2px 2px 2px 2px" />';
        $('#searchresultsDS').append(div);
    }

    function addOperatesOn(Uuid) {
        var h = '<div id="operatesOn-' + Uuid + '" class="row">';
        h += '<input type="hidden" value="' + Uuid + '" name="OperatesOn" />';

        h += '<div class="col-sm-8">';

        h += '<div id="title-' + Uuid + '">';
        h += '<script>getMetadata(\'' + Uuid + '\'' + '\)\;\<\/script>';
        h += '</div>';

        h += '</div>';

        h += '<div class="col-sm-2 btn-group">';
        h += '<a href="@Html.KartkatalogUrl()metadata/uuid/' + Uuid + '" target="_blank" class="btn btn-default btn-xs">';
        h += ' <span class="glyphicon glyphicon-share-alt"></span> Vis i katalog';
        h += '   </a>';
        h += '</div>';

        h += '<div class="col-sm-2 btn-group">';
        h += '<a href="#" onclick="document.getElementById(\'operatesOn-' + Uuid + '\').parentNode.removeChild(document.getElementById(\'operatesOn-' + Uuid + '\'));" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Slett</a>';
        h += '</div>';

        h += '</div>';
        h += '<hr style="margin: 2px 2px 2px 2px" />';
        if(document.getElementById('operatesOn-' + Uuid) == null){
            $('#operatesOnDIV').append(h);
            alert('Datasett ble lagt til');
        }
        else { alert('Datasett er allerede lagt til');}

    }

</script>
<div class="modal-dialog" style="width: 75%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Koble til datasett (@Model.Title)</h4>
            <div style="right: 5px; top: 5px; position:absolute;"><button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button></div>
        </div>
        <div class="modal-body">    
                <div class="row">
                    <div class="col-sm-5">
                        <input class="form-control" type="text" id="searchmetadata" onkeydown="if (event.keyCode == 13) { getMetadataFreetext(document.getElementById('searchmetadata').value); return false; }" />                    
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="form-control" onclick="getMetadataFreetext(document.getElementById('searchmetadata').value);">Søk</button>                        
                        <span id="searchInfo" style="color:red"></span>                    
                    </div>
                    <div class="col-sm-6"><b>Tilknyttede datasett:</b></div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <br />
                        <div id="searchresultsDS">

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="operatesOnDIV">
                            @for (int i = 0; i < Model.OperatesOn.Count; i++)
                            {
                                <div id="operatesOn-@Model.OperatesOn[i].ToString()" class="row">     
                                        <input type="hidden" value="@Model.OperatesOn[i].ToString()" name="OperatesOn" />                                 
                                    <div class="col-sm-8">
                                        <div id="title-@Model.OperatesOn[i].ToString()">
                                            <script>getMetadata('@Model.OperatesOn[i].ToString()');</script>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 btn-group">
                                        <a href="@Html.KartkatalogUrl()metadata/uuid/@Model.OperatesOn[i].ToString()" target="_blank" class="btn btn-default btn-xs">
                                            <span class="glyphicon glyphicon-share-alt"></span> Vis i katalog
                                        </a>
                                    </div>
                                        <div class="col-sm-2 btn-group">
                                            <a href="#" onclick="document.getElementById('operatesOn-@Model.OperatesOn[i].ToString()').parentNode.removeChild(document.getElementById('operatesOn-@Model.OperatesOn[i].ToString()'));" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Slett</a>
                                        </div>
                                </div>
                                <hr style="margin: 2px 2px 2px 2px" />
                            }
                        </div>
                    </div>
            </div>
          </div>
    </div>
</div>