@using Kartverket.MetadataEditor.Models
<option data-countynumber="02" data-north="60.605148" data-south="59.471882" data-east="11.926978" data-west="10.328467">Akershus</option>
<option data-countynumber="09" data-north="59.672687" data-south="57.917234" data-east="9.668877" data-west="6.824533">Aust-Agder</option>
<option data-countynumber="06" data-north="61.09172" data-south="59.407871" data-east="10.634994" data-west="7.438842">Buskerud</option>
<option data-countynumber="20" data-north="71.384879" data-south="68.554592" data-east="31.761485" data-west="20.479733">Finnmark</option>
<option data-countynumber="04" data-north="62.696928" data-south="59.840785" data-east="12.870849" data-west="9.583827">Hedmark</option>
<option data-countynumber="12" data-north="61.035238" data-south="59.475421" data-east="7.732115" data-west="4.184771">Hordaland</option>
<option data-countynumber="15" data-north="63.768169" data-south="61.956584" data-east="9.584212" data-west="4.816602">Møre og Romsdal</option>
<option data-countynumber="17" data-north="65.470175" data-south="63.180687" data-east="14.325986" data-west="9.699817">Nord-Trøndelag</option>
<option data-countynumber="18" data-north="69.596701" data-south="64.939497" data-east="18.151355" data-west="10.57806">Nordland</option>
<option data-countynumber="05" data-north="62.378402" data-south="60.13161" data-east="11.153986" data-west="7.34253">Oppland</option>
<option data-countynumber="21" data-north="60.135106" data-south="59.809311" data-east="10.951389" data-west="10.489165">Oslo</option>
<option data-countynumber="11" data-north="59.844574" data-south="58.027854" data-east="7.214667" data-west="4.454274">Rogaland</option>
<option data-countynumber="14" data-north="62.382396" data-south="60.675548" data-east="8.322053" data-west="4.087526">Sogn og Fjordane</option>
<option data-countynumber="16" data-north="63.350279" data-south="63.343735" data-east="10.870418" data-west="10.854891">Sør-Trøndelag</option>
<option data-countynumber="08" data-north="60.188272" data-south="58.603311" data-east="9.969765" data-west="7.096288">Telemark</option>
<option data-countynumber="19" data-north="70.703616" data-south="68.356014" data-east="22.894466" data-west="15.592542">Troms</option>
<option data-countynumber="10" data-north="59.189687" data-south="57.759005" data-east="8.37168" data-west="6.149699">Vest-Agder</option>
<option data-countynumber="07" data-north="59.701938" data-south="58.720455" data-east="10.67502" data-west="9.755336">Vestfold</option>
<option data-countynumber="01" data-north="59.790586" data-south="58.76096" data-east="11.946004" data-west="10.536679">Østfold</option>
@foreach (MunicipalityViewModel municipality in ViewBag.Municipalities)
{
    <option data-countynumber="@municipality.MunicipalityCode.Substring(0,2)" data-north="@municipality.BoundingBoxNorth" data-south="@municipality.BoundingBoxSouth" data-east="@municipality.BoundingBoxEast" data-west="@municipality.BoundingBoxWest">@municipality.Name</option>
}