@using Kartverket.MetadataEditor.Helpers
@model Kartverket.MetadataEditor.Models.MetadataViewModel
<script>
    function getMetadataForSeries(uuid) {

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?text=" + uuid, function (result) {


            if (result.length != 0) {
                if (result.Results.length != 0) {
                    var titleSeries = result.Results[0].Title;
                    $("#titleSeries-" + uuid).text(titleSeries);
                }
                else { $("#titleSeries-" + uuid).text("TITTEL MANGLER"); }
            }

            else {
                $("#titleSeries-" + uuid).text("TITTEL MANGLER");
            }

        });
    };

    function getMetadataSeries(searchStr) {

        $('#searchresultsSeries').empty();
        $('#searchInfoSeries').text('Fant ingen metadata');
        if (searchStr == '') {
            $('#searchInfoSeries').text('Vennligst skriv inn søkeord');
            return false;
        }

        var counter = 0;

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?facets[0]name=type&facets[0]value=series&text=" + searchStr, function (result) {

            if (result.length != 0) {

                if (result.Results.length != 0) {
                    for (r = counter ; r < result.Results.length; r++) {
                        displayMetadataSeriesRow(result.Results[r]);
                    }
                    $('#searchInfoSeries').text('');
                }

            }

        });

    };


    function displayMetadataSeriesRow(result) {
        var div = '<div class="row"><div class="col-sm-10">' + result.Title + ', ' + result.Organization + '</div> <div class="col-sm-2"> <a onclick="setParentIdentifier(\'' + result.Uuid + '\')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Velg' + '</a> </div> </div> <hr style="margin: 2px 2px 2px 2px" />';
        $('#searchresultsSeries').append(div);
    }

    function setParentIdentifier(Uuid) {
        if (Uuid == $('#Uuid').val()) {
            $('#searchInfoSeries').text('Kan ikke koble datasettet til seg selv');
        }
        else
        {
        var h = '<div id="parentIdentifier" class="row">';
        h += '<input type="hidden" value="' + Uuid + '" name="ParentIdentifier" />';

        h += '<div class="col-sm-8">';

        h += '<div id="titleSeries-' + Uuid + '">';
        h += '<script>getMetadataForSeries(\'' + Uuid + '\'' + '\)\;\<\/script>';
        h += '</div>';

        h += '</div>';

        h += '<div class="col-sm-4 btn-group">';
        h += '<a href="@Html.KartkatalogUrl()metadata/uuid/' + Uuid + '" target="_blank" class="btn btn-default btn-xs">';
        h += ' <span class="glyphicon glyphicon-share-alt"></span> Vis i katalog';
        h += '   </a>';
            h += '<input type="button" class="btn btn -default btn - xs" value="Slett" onclick="removeParent(' + Uuid+')" />'
        h += '</div>';

        h += '</div>';
        h += '<hr style="margin: 2px 2px 2px 2px" />';

            $('#parentIdentifierDIV').html(h);

            $('#parentIdentifier').show();
        }
    }
    function removeParent(uuid) {
        $('input[name="ParentIdentifier"]').val('');
        $('#titleSeries-'+uuid).text('');
    }

</script>
<div class="modal-dialog" style="width: 75%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Koble til datasettserie (@Model.Title)</h4>
            <div style="right: 5px; top: 5px; position:absolute;"><button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button></div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="searchmetadataSeries" onkeydown="if (event.keyCode == 13) { getMetadataSeries(document.getElementById('searchmetadataSeries').value); return false; }" />
                </div>
                <div class="col-sm-1">
                    <button type="button" class="form-control" onclick="getMetadataSeries(document.getElementById('searchmetadataSeries').value);">Søk</button>
                    <span id="searchInfoSeries" style="color:red"></span>
                </div>
                <div class="col-sm-6"><b>Tilknyttet datasettserie:</b></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <br />
                    <div id="searchresultsSeries">

                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="parentIdentifierDIV">
                            @if(!string.IsNullOrEmpty(Model.ParentIdentifier))
                            {
                            <div id="parentIdentifier" class="row">
                                <input type="hidden" value="@Model.ParentIdentifier" name="ParentIdentifier" />
                                <div class="col-sm-8">
                                    <div id="titleSeries-@Model.ParentIdentifier">
                                        <script>getMetadataForSeries('@Model.ParentIdentifier');</script>
                                    </div>
                                </div>
                                <div class="col-sm-4 btn-group">
                                    <a href="@Html.KartkatalogUrl()metadata/uuid/@Model.ParentIdentifier" target="_blank" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-share-alt"></span> Vis i katalog
                                    </a>
                                    <input type="button" class="btn btn-default btn-xs" value="Slett" onclick="removeParent('@Model.ParentIdentifier')" />
                                </div>
               
                            </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

