@model Kartverket.MetadataEditor.Models.MetadataViewModel

@if (!Model.IsService())
{
<div class="form-group">
    <label for="ResolutionScale" class="col-sm-2 control-label">Målestokkstall</label>
    <div class="col-sm-9">
        @Html.EditorFor(m => m.ResolutionScale)
        <p class="help-text bg-success" id="help-text-ResolutionScale" style="display: none">
            Målestokkstallet skal legges inn som et heltall (eks: 5000)
        </p>
    </div>
    
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-ResolutionScale" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
}
<div class="form-group">
    <label for="Status" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-9">
        @Html.DropDownList("Status", ViewBag.StatusValues as SelectList, String.Empty, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label for="ProcessHistory" class="col-sm-2 control-label">Prosesshistorie</label>
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.ProcessHistory, new { @class = "form-control", cols = "", rows = "5" })
        <p class="help-text bg-success" id="help-text-ProcessHistory" style="display: none">
            Dataprodusentens generelle kunnskap om opprinnelsen og prosesshistorien til et datasett eller tjeneste
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-ProcessHistory" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>


@if (!Model.IsSoftware())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Konformitet
            <div class="pull-right"><a href="#" data-help-text-id="help-text-Conformity" class="badge help-text-toggle">?</a></div>
    </div>
        <div class="panel-body">
            <p class="help-text bg-success" id="help-text-Conformity" style="display: none">
                <b>Inspiredata:</b> Referanse til Inspire er nødvendig for datasett som er omfattet av Inspire-direktivet. Datasettet eller tjenesten trenger ikke være harmonisert med datasettspesifikasjonen. Da skal heller ikke "godkjent" være huket av.
                <br/>
                <b>Nasjonale SOSI-standardiserte data:</b> Referanse til SOSI-produktspesifikasjon eller SOSI-fagområde kan legges inn for nasjonale datasett. Datasettet eller tjenesten trenger ikke være fullstendig i tråd med SOSI. Da skal heller ikke "godkjent" være huket av.
                <br/>
                <b>Nasjonale eller internasjonale fagdata:</b> Datasett som følger egen standard, fagstandard eller internasjonal standard skal referere til denne. Datasettet eller tjenesten trenger ikke være fullstendig i tråd med standarden, men da skal det heller ikke hukes av for "godkjent".
                <br/>
                <b>Datasett og tjenester som ikke bygger på en standard:</b> Det skal her refereres til egen dokumentasjon, eller fylles inn "Mangler"

            </p>
            <p>Forhåndsutfylling: <button id="prefillConformityInspire" class="btn btn-default">INSPIRE</button> <button id="prefillConformitySosi" class="btn btn-default">SOSI-fagområde</button> <button id="prefillConformitySosiSpec" class="btn btn-default">SOSI-produktspesifikasjon</button></p>

            <div class="form-group">
                <label class="col-sm-2 control-label">Standard (produktspesifikasjon)</label>
                <div class="col-sm-9">
                    @Html.EditorFor(m => m.QualitySpecificationTitle)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Dato</label>
                <div class="col-sm-2">
                    @Html.EditorFor(m => m.QualitySpecificationDate)
                </div>
                <label class="col-sm-2 control-label">Type dato</label>
                <div class="col-sm-2">
                    @Html.EditorFor(m => m.QualitySpecificationDateType)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Forklaring av resultat</label>
                <div class="col-sm-9">
                    @Html.EditorFor(m => m.QualitySpecificationExplanation)
                    <p class="help-text bg-success" id="help-text-QualitySpecificationExplanation" style="display: none">
                        Her informerer du om hva som i hovedsak mangler for at ressursen skal være i henhold til spesifikasjonen. Aktuelle tekster kan være: "Ressursen bygger på nasjonal standard (SOSI) og er ikke forsøkt harmonisert i henhold til INSPIRE". Hvis ressursen er delvis i henhold til spesifikasjonen, eller har enkelte avvik, så bør disse angis. En kan gjerne angi hvis det er nye objekttyper, egenskaper eller datatyper som er tatt i bruk. Eventuelt så kan en bruke teksten: "Ressursen er ("langt på vei i henhold til"/"unna" angitt standard, ("men"/"og" har "enkelte"/"vesentlige") avvik". Hvis ressursen er i henhold til spesifikasjonen kan en benytte teksten: "Ressursen er i henhold til angitt spesifikasjon". 
                    </p>
                </div>
                <div class="col-sm-1">
                    <p class="form-control-static">
                        <a href="#" data-help-text-id="help-text-QualitySpecificationExplanation" class="badge help-text-toggle">?</a>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Godkjent</label>
                <div class="col-sm-9">
                    @Html.EditorFor(m => m.QualitySpecificationResult)
                </div>
            </div>
        </div>
    </div>
}