@model Kartverket.MetadataEditor.Models.MetadataViewModel

@if (!Model.IsService())
{
    <div class="form-group">
        <label for="ResolutionScale" class="col-md-2 control-label">Målestokkstall</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-ResolutionScale" style="display: none">
                Målestokkstallet skal legges inn som et heltall (eks: 5000)
            </p>
            @Html.EditorFor(m => m.ResolutionScale)
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-ResolutionScale" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
}
<div class="form-group">
    <label for="Status" class="col-md-2 control-label">Status</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-Status" style="display: none">
            Status for datasett eller datasett tjenesten opererer mot.
        </p>
        <div class="custom-select">
            @Html.DropDownList("Status", ViewBag.StatusValues as SelectList, String.Empty, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-Status" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group">
    <label for="ProcessHistory" class="col-md-2 control-label">Prosesshistorie</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-ProcessHistory" style="display: none">
            Dataprodusentens generelle kunnskap om opprinnelsen og prosesshistorien til et datasett eller tjeneste. Forklar kort hvilke vikte operasjoner som er gjort fra datafangst til leveranse, og hvordan dette eventuelt påvirker kvalitet og innhold i datasettet
        </p>
        @Html.TextAreaFor(m => m.ProcessHistory, new { @class = "form-control", cols = "", rows = "5" })
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-ProcessHistory" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
@if (Model.IsService())
{
    <div class="form-group">
        <label for="OrderingInstructions" class="col-md-2 control-label">Tjenesteerklæring</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-OrderingInstructions" style="display: none">
                For tjenester som omfattes av Norge digitalt-avtalen skal tjenesteerklæring i henhold til avtalens "generelle vilkår" oppgis.
            </p>
            <div class="custom-select">
                @Html.DropDownList("OrderingInstructions", ViewBag.OrderingInstructionsValues as SelectList, String.Empty, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-OrderingInstructions" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
}
@if (!Model.IsSoftware())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-11">
                    <span class="required">Konformitet</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="QualitySpecificationInspire" class="panel-group">
            <div class="panel-heading bg-info">
                <div class="row">
                    <div class="col-md-11">
                        <span>Inspire:</span>
                    </div>
                    <div class="col-md-1">
                        <a href="#" data-help-text-id="help-text-Conformity-inspire" class="badge help-text-toggle">?</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-body">
                <p class="help-text bg-success" id="help-text-Conformity-inspire" style="display: none; ">
                    Referanse til Inspire er nødvendig for datasett som er omfattet av Inspire-direktivet. Datasettet eller tjenesten trenger ikke være harmonisert med datasettspesifikasjonen. Da skal heller ikke "Er datasettet produsert iht angitt produktspesifikasjon?" være huket av. Man skal velge/registrere nøkkelordet "Inspire" under samarbeid og lover.
                </p>
                <div class="form-group required has-feedback">
                    <div class="row">
                        <label class="col-md-3 control-label">Angitt produktspesifikasjon</label>
                        <div class="col-md-8">
                            @Html.HiddenFor(m => m.QualitySpecificationTitleInspire)
                            <input class="form-control" id="InspireLabel" name="InspireLabel" type="text" value="Inspire" readonly="readonly" disabled="disabled">
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                            <p class="help-text bg-success" id="help-text-QualitySpecificationTitleInspire" style="display: none">
                                Referansenavn på datakilde/tjeneste. Du må registrere nøkkelord "Inspire" under "Samarbeid og lover" under fanen "Nøkkelord"
                            </p>
                        </div>
                        <div class="col-md-1">
                            <p class="form-control-static">
                                <a href="#" data-help-text-id="help-text-QualitySpecificationTitleInspire" class="badge help-text-toggle">?</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-3 control-label">Dato</label>
                        <div class="col-md-2">
                            @Html.EditorFor(m => m.QualitySpecificationDateInspire, new { cssClass = "" })
                        </div>
                        <label class="col-md-2 control-label hidden">Type dato</label>
                        <div class="col-md-2 hidden">
                            @Html.EditorFor(m => m.QualitySpecificationDateTypeInspire)
                        </div>
                    </div>
                </div>
                <div class="form-group required has-feedback">
                    <div class="row">
                        <label class="col-md-3 control-label">Datakonformitet</label>
                        <div class="col-md-8">
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultInspireConform" name="QualitySpecificationResultInspire" @{if (Model.QualitySpecificationResultInspire) { <text> checked="checked" </text>             } } type="radio" value="true" /> Dataene er produsert iht produktspesifikasjonen
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultInspireNotConform" name="QualitySpecificationResultInspire" @{if (!Model.QualitySpecificationResultInspire) { <text> checked="checked" </text>           } } type="radio" value="false" />Dataene avviker fra produktspesifikasjonen
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="QualitySpecificationExplanationInspireDiv" class="form-group required has-feedback@{if (Model.QualitySpecificationResultInspire) { <text> hidden</text> } }">
                    <div class="row">
                        <label class="col-md-3 control-label">Avvik fra produktspesifikasjonen</label>
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.QualitySpecificationExplanationInspire, new { @class = "form-control" })
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                            <p class="help-text bg-success" id="help-text-QualitySpecificationExplanationInspire" style="display: none">
                                Her informerer du om hva som i hovedsak mangler for at ressursen skal være i henhold til spesifikasjonen. Aktuelle tekster kan være: "Ressursen er i henhold til angitt spesifikasjon". Hvis ressursen er delvis i henhold til spesifikasjonen, eller har enkelte avvik, så kan disse angis, eventuelt så kan en bruke teksten: "Ressursen er langt på vei i henhold til angitt standard, men har enkelte avvik"
                            </p>
                        </div>
                        <div class="col-md-1">
                            <p class="form-control-static">
                                <a href="#" data-help-text-id="help-text-QualitySpecificationExplanationInspire" class="badge help-text-toggle">?</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 control-label">Avvik fra produktspesifikasjonen engelsk</label>
                        <div class="col-md-8">
                            @Html.EditorFor(m => m.EnglishQualitySpecificationExplanationInspire, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="QualitySpecificationSosi" class="panel-group">
            <div class="panel-heading bg-info">
                <div class="row">
                    <div class="col-md-11">
                        <span>Sosi:</span>
                    </div>
                    <div class="col-md-1">
                        <a href="#" data-help-text-id="help-text-Conformity-sosi" class="badge help-text-toggle">?</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-body">
                <p class="help-text bg-success" id="help-text-Conformity-sosi" style="display: none; ">
                    Referanse til SOSI-produktspesifikasjon eller SOSI-fagområde kan legges inn for nasjonale datasett. Datasettet eller tjenesten trenger ikke være fullstendig i tråd med SOSI. Da skal heller ikke "Er datasettet produsert iht angitt produktspesifikasjon?" være huket av. Man må velge/registere produktspesifikasjon.
                </p>
                <div id="QualitySpecificationSosiTitle" class="form-group required has-feedback">
                    <div class="row">
                        <label class="col-md-2 control-label">Angitt produktspesifikasjon</label>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.QualitySpecificationTitleSosi, new { @class = "form-control" })
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                            <p class="help-text bg-success" id="help-text-QualitySpecificationTitleSosi" style="display: none">
                                Referansenavn på datakilde/tjeneste. Du må velge "Produktspesifikasjon" under fanen "Dokumentasjon". Dersom ønsket ikke finnes i listen må du først registrere produktspesifikasjonen i registeret.
                            </p>
                        </div>
                        <div class="col-md-1">
                            <p class="form-control-static">
                                <a href="#" data-help-text-id="help-text-QualitySpecificationTitleSosi" class="badge help-text-toggle">?</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="QualitySpecificationSosiDate" class="form-group">
                    <div class="row">
                        <label class="col-md-2 control-label">Dato</label>
                        <div class="col-md-2">
                            @Html.EditorFor(m => m.QualitySpecificationDateSosi, new { cssClass = "" })
                        </div>
                        <label class="col-md-2 control-label hidden">Type dato</label>
                        <div class="col-md-2 hidden">
                            @Html.EditorFor(m => m.QualitySpecificationDateTypeSosi)
                        </div>
                    </div>
                </div>
                <div class="form-group required has-feedback">
                    <div class="row">
                        <label class="col-md-2 control-label">Datakonformitet</label>
                        <div id="QualitySpecificationSosiResult" class="col-md-9">
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiConform" name="QualitySpecificationResultSosi" @{if (Model.QualitySpecificationResultSosi) { <text> checked="checked" </text>            } } type="radio" value="true" /> Dataene er produsert iht produktspesifikasjonen
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiNotConform" name="QualitySpecificationResultSosi" @{if (!Model.QualitySpecificationResultSosi) { <text> checked="checked" </text>           } } type="radio" value="false" /> Dataene avviker fra produktspesifikasjonen
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="QualitySpecificationExplanationSosiDiv" class="form-group required has-feedback@{if (Model.QualitySpecificationResultSosi) { <text> hidden</text> } }">
                    <div class="row">
                        <label class="col-md-2 control-label">Avvik fra produktspesifikasjonen</label>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.QualitySpecificationExplanationSosi, new { @class = "form-control" })
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                            <p class="help-text bg-success" id="help-text-QualitySpecificationExplanationSosi" style="display: none">
                                Her informerer du om hva som i hovedsak mangler for at ressursen skal være i henhold til spesifikasjonen. Aktuelle tekster kan være: "Ressursen bygger på nasjonal standard (SOSI) og er ikke forsøkt harmonisert i henhold til INSPIRE". Hvis ressursen er i henhold til spesifikasjonen kan en benytte teksten: "Ressursen er i henhold til angitt spesifikasjon". Hvis ressursen er delvis i henhold til spesifikasjonen, eller har enkelte avvik, så kan disse angis, eventuelt så kan en bruke teksten: "Ressursen er langt på vei i henhold til angitt standard, men har enkelte avvik"
                            </p>
                        </div>
                        <div class="col-md-1">
                            <p class="form-control-static">
                                <a href="#" data-help-text-id="help-text-QualitySpecificationExplanationSosi" class="badge help-text-toggle">?</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label">Avvik fra produktspesifikasjonen engelsk</label>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.EnglishQualitySpecificationExplanationSosi, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
                <div id="QualitySpecificationSosiConformApplicationSchema" class="form-group">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-9">
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiConformApplicationSchema" name="QualitySpecificationResultSosiConformApplicationSchema" @{if (Model.QualitySpecificationResultSosiConformApplicationSchema) { <text> checked="checked" </text>               } } type="radio" value="true" /> SOSI-filer er i henhold til applikasjonsskjema
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiNotConformApplicationSchema" name="QualitySpecificationResultSosiConformApplicationSchema" @{if (!Model.QualitySpecificationResultSosiConformApplicationSchema) { <text> checked="checked" </text>                } } type="radio" value="false" /> SOSI-filer avviker fra applikasjonsskjema
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiConformGmlApplicationSchema" name="QualitySpecificationResultSosiConformGmlApplicationSchema" @{if (Model.QualitySpecificationResultSosiConformGmlApplicationSchema) { <text> checked="checked" </text>              } } type="radio" value="true" /> GML-filer er i henhold til applikasjonsskjema
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input id="QualitySpecificationResultSosiNotConformGmlApplicationSchema" name="QualitySpecificationResultSosiConformGmlApplicationSchema" @{if (!Model.QualitySpecificationResultSosiConformGmlApplicationSchema) { <text> checked="checked" </text>               } } type="radio" value="false" /> GML-filer avviker fra applikasjonsskjema
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="QualitySpecificationCustom" class="panel-group">
            <div class="panel-heading bg-info">
                <div class="row">
                    <div class="col-md-11">
                        <span>Annen standard/ egen dokumentasjon:</span>
                    </div>
                    <div class="col-md-1">
                        <a href="#" data-help-text-id="help-text-Conformity-custom" class="badge help-text-toggle">?</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="panel-body">
                <p class="help-text bg-success" id="help-text-Conformity-custom" style="display: none; ">
                    <b>Nasjonale eller internasjonale fagdata:</b> Datasett som følger egen standard, fagstandard eller internasjonal standard skal referere til denne. Datasettet eller tjenesten trenger ikke være fullstendig i tråd med standarden, men da skal det heller ikke hukes av for "Er datasettet produsert iht angitt produktspesifikasjon?". Man må velge/registere produktspesifikasjon annen (navn).
                    <br />
                    <b>Datasett og tjenester som ikke bygger på en standard:</b> Det skal her refereres til egen dokumentasjon, eller fylles inn "Mangler"
                </p>
                <div class="form-group required has-feedback">
                    <label class="col-md-2 control-label">Angitt produktspesifikasjon</label>
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.QualitySpecificationTitle, new { @class = "form-control" })
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                        <p class="help-text bg-success" id="help-text-QualitySpecificationTitle" style="display: none">
                            Referansenavn på datakilde/tjeneste. Du må først skrive inn "Produktspesifikasjon annen (navn)" under fanen "Dokumentasjon"
                        </p>
                    </div>
                    <div class="col-md-1">
                        <p class="form-control-static">
                            <a href="#" data-help-text-id="help-text-QualitySpecificationTitle" class="badge help-text-toggle">?</a>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Dato</label>
                    <div class="col-md-2">
                        @Html.EditorFor(m => m.QualitySpecificationDate, new { cssClass = "date" })
                    </div>
                    <label class="col-md-2 control-label hidden">Type dato</label>
                    <div class="col-md-2 hidden">
                        @Html.EditorFor(m => m.QualitySpecificationDateType)
                    </div>
                </div>
                <div class="form-group required has-feedback">
                    <label class="col-md-2 control-label">Datakonformitet</label>
                    <div class="col-md-9">
                        <input class="radio-inline" id="QualitySpecificationResultConform" name="QualitySpecificationResult" @{if (Model.QualitySpecificationResult) { <text> checked="checked" </text>         } } type="radio" value="true" />Dataene er produsert iht produktspesifikasjonen
                        <br />
                        <input class="radio-inline" id="QualitySpecificationResultNotConform" name="QualitySpecificationResult" @{if (!Model.QualitySpecificationResult) { <text> checked="checked" </text>         } } type="radio" value="false" />Dataene avviker fra produktspesifikasjonen
                    </div>
                </div>
                <div id="QualitySpecificationExplanationDiv" class="form-group required has-feedback@{if (Model.QualitySpecificationResult) { <text> hidden</text> } }">
                    <div class="row">
                        <label class="col-md-2 control-label">Avvik fra produktspesifikasjonen</label>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.QualitySpecificationExplanation, new { @class = "form-control" })
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                            <p class="help-text bg-success" id="help-text-QualitySpecificationExplanation" style="display: none">
                                Her informerer du om hva som i hovedsak mangler for at ressursen skal være i henhold til spesifikasjonen. Aktuelle tekster kan være: "Ressursen bygger på nasjonal standard (SOSI) og er ikke forsøkt harmonisert i henhold til INSPIRE". Hvis ressursen er i henhold til spesifikasjonen kan en benytte teksten: "Ressursen er i henhold til angitt spesifikasjon". Hvis ressursen er delvis i henhold til spesifikasjonen, eller har enkelte avvik, så kan disse angis, eventuelt så kan en bruke teksten: "Ressursen er langt på vei i henhold til angitt standard, men har enkelte avvik"
                            </p>
                        </div>
                        <div class="col-md-1">
                            <p class="form-control-static">
                                <a href="#" data-help-text-id="help-text-QualitySpecificationExplanation" class="badge help-text-toggle">?</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 control-label">Avvik fra produktspesifikasjonen engelsk</label>
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.EnglishQualitySpecificationExplanation, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }