@model Kartverket.MetadataEditor.Models.MetadataCreateViewModel

<h1>Opprett metadata</h1>
<form action="@Url.Action("Create")" method="post" class="form-horizontal">
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        Det har oppstått en feil: @ViewBag.ErrorMessage
    </div>
}

@Html.ValidationSummary(false, "Skjemaet er ikke korrekt utfylt. Vennligst rett opp følgende feil og mangler:", new { @class = "alert alert-danger" })

    <div class="form-group required has-feedback">
        <label class="col-sm-2 control-label">Tittel</label>
        <div class="col-sm-10 col-md-5">
            @Html.EditorFor(m => m.Title)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Velg type</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="type" value="service" checked="checked"/>
                Tjeneste
            </label>
            <label class="radio-inline">
                <input type="radio" name="type" value="dataset" />
                Datasett
            </label>
            <label class="radio-inline">
                <input type="radio" name="type" value="series" />
                DatasettSerie
            </label>
            <label class="radio-inline">
                <input type="radio" name="type" value="software" />
                Programvare
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10 col-md-6">

        
            <div class="panel panel-default">
                <div class="panel-heading">Metadatakontakt</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Navn</label>
                        <div class="col-sm-10">
                            @Html.EditorFor(m => m.MetadataContactName)
                        </div>
                    </div>
                    <div class="form-group required has-feedback">
                        <label class="col-sm-2 control-label">Epost</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.MetadataContactEmail, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Organisasjon</label>
                        <div class="col-sm-10 control-text">
                            @Html.DisplayFor(m => m.MetadataContactOrganization)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">Opprett metadata</button>
        </div>
    </div>

</form>
