@model Kartverket.MetadataEditor.Models.MetadataViewModel
@using Kartverket.MetadataEditor.Models
@using Resources
@using Kartverket.MetadataEditor.Helpers
@using Newtonsoft.Json;

@{
    ViewBag.Title = @Resources.UI.EditMetadata;

    JsonSerializerSettings settings = new JsonSerializerSettings();
    settings.ContractResolver = new DictionaryAsArrayResolver();

    string ViewModelSerialized = JsonConvert.SerializeObject(Model, settings);
    var ViewModelJson = @Html.Raw(ViewModelSerialized);
    string ViewBagSerialized = JsonConvert.SerializeObject(ViewBag);
    var ViewBagJson = @Html.Raw(ViewBagSerialized);


    bool showProductSheetGeneratorUrl = false;
    var ProductSheetGeneratorUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["ProductSheetGeneratorUrl"];
    if (ProductSheetGeneratorUrl != null && ProductSheetGeneratorUrl != "")
        showProductSheetGeneratorUrl = true;
}

@section breadcrumb{
    <li>@Model.TitleFromSelectedLanguage</li>
}


<form action="@Url.Action("Edit", new { uuid = Model.Uuid })" method="post" class="form form-horizontal" role="form" onkeydown="@(TempData["success"] != null ? "removeokmsg();" : "" )">
    <div id="vue-container">
        <ul class="nav nav-tabs">
            <li v-for="tab in tabs" v-on:click="setSelectTab(tab)" v-bind:class="{active: selectedTab.id == tab.id}">
                <a href="#">
                    <span v-bind:class="tab.iconClass"></span>
                    {{ tab.name }}
                </a>
            </li>
        </ul>
        <div v-bind:is="selectedTab.id"></div>
    </div>

    @Html.HiddenFor(m => m.Uuid)
    @Html.HiddenFor(m => m.DateMetadataUpdated)
    @Html.HiddenFor(m => m.HierarchyLevel)
    @if (Model.IsService())
    {
        <div id="operatesOn" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="operatesOn" aria-hidden="true">
            @Html.Partial("_OperatesOn", Model)
        </div>
        <div id="parentIdentifier" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="parentIdentifier" aria-hidden="true">
            @Html.Partial("_ParentIdentifier", Model)
        </div>
    }
    @if (Model.IsSoftware())
    {
        <div id="crossReference" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="crossReference" aria-hidden="true">
            @Html.Partial("_CrossReference", Model)
        </div>
    }

    @section ActionMenu {
        <div class="btn-group">
            @*<a href="@ViewBag.GeoNetworkXmlDownloadUrl" class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-file"></i> Last ned XML
                </a>*@

            <a href="@ViewBag.KartkatalogViewUrl" target="_blank" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-share-alt"></span> Vis i kartkatalogen
            </a>
            @if (Model.IsService() && string.IsNullOrWhiteSpace(Model.ParentIdentifier))
            {
                if (@Model.DistributionProtocol != null && @Model.DistributionProtocol.Contains("OGC:WMS"))
                {
                    <a href="@Url.Action("Index", "Service", new { uuid = @Model.Uuid })" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-plus-sign"></span> Opprett metadata for tjenestelag
                    </a>
                }
                if (@Model.DistributionProtocol != null && @Model.DistributionProtocol.Contains("OGC:WFS"))
                {
                    <a href="@Url.Action("Index", "ServiceWfs", new { uuid = @Model.Uuid })" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-plus-sign"></span> Opprett metadata for tjenestelag
                    </a>
                }
            }
            @if (Model.IsDataset() && showProductSheetGeneratorUrl)
            {
                <a href="@ViewBag.CreateProductSheetUrl" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Opprett produktark</a>
            }

            @if (Model.IsService())
            {
                <a href="#" role="button" data-toggle="modal" id="operatesOnLink" data-target="#operatesOn" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Koble til datasett</a>
                <a href="#" role="button" data-toggle="modal" id="parentIdentifierLink" data-target="#parentIdentifier" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Koble til tjeneste</a>
            }
            @if (Model.IsSoftware())
            {
                <a href="#" role="button" data-toggle="modal" id="crossReferenceLink" data-target="#crossReference" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Koble til datasett</a>
            }
        </div>
    }


    <div class="pull-right">
        <p class="text-right">
            <small>UUID: @Model.Uuid</small><br />
            <small>Metadata sist oppdatert: @String.Format("{0:dd.MM.yyyy}", Model.DateMetadataUpdated)</small>
            <br />
            <small>
                <div class="label @Model.GetInnholdstypeCSS()">@Model.GetInnholdstype()</div>

                @if (!string.IsNullOrWhiteSpace(Model.ParentIdentifier) && Model.HierarchyLevel == "service")
                {
                    <span>[<a href="@Url.Action("Edit", new { uuid = @Model.ParentIdentifier})">Lenke til tjenesten</a>]</span>
                }

            </small>
        </p>
        <script>
            function hideshow(which) {
                if (!document.getElementById)
                    return;
                if (which.style.visibility == "visible") {
                    which.style.display = "none";
                    which.style.visibility = "hidden";
                }
                else {
                    which.style.display = "inline-block";
                    which.style.visibility = "visible";
                }
            }
        </script>
        <div id="validation" style="display: none; visibility: hidden;">
            Validert <span id="validatedDate"></span>: <span id="validationStatus"></span>, <a style="cursor:pointer" class="alert-info" onclick="javascript: hideshow(document.getElementById('validationResults'))">detaljer</a>
        </div>
        <div id="validationResults" style="display:inline-block; visibility:hidden; position:absolute; width: 400px; height: auto; z-index: 3; background-color: white; border: 1px solid black;">
        </div>
    </div>

    <h3>@ViewBag.Title</h3>
    <h2>@Model.TitleFromSelectedLanguage</h2>

    @if (ViewBag.Saved == true)
    {
        <div class="alert alert-success">
            Metadata ble lagret.
        </div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            Det har oppstått en feil: @ViewBag.ErrorMessage
        </div>
    }

    @Html.ValidationSummary(false, "Skjemaet er ikke korrekt utfylt. Vennligst rett opp følgende feil og mangler:", new { @class = "alert alert-danger" })



    <ul id="editor-tabs" class="nav nav-tabs">
        <li class="active"><a href="#home" id="homelink" data-toggle="tab"><span class="glyphicon glyphicon-home"></span>  Grunnleggende</a></li>
        <li><a href="#timeandspace" id="timeandspacelink" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Tid og rom</a></li>
        <li><a href="#contact" id="contactlink" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Kontaktinformasjon</a></li>
        <li><a href="#distribution" id="distributionlink" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span> Distribusjon</a></li>
        <li><a href="#documents" id="documentslink" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> Dokumentasjon</a></li>
        <li><a href="#constraints" id="constraintslink" data-toggle="tab"><span class="glyphicon glyphicon-lock"></span> Restriksjoner</a></li>
        <li><a href="#keywords" id="keywordslink" data-toggle="tab"><span class="glyphicon glyphicon-ok-sign"></span> Nøkkelord</a></li>
        <li><a href="#quality" id="qualitylink" data-toggle="tab"><span class="glyphicon glyphicon-ok-sign"></span> Kvalitet</a></li>
        <li><a href="#english" id="englishlink" data-toggle="tab"><span class="glyphicon glyphicon-flag"></span> Engelsk</a></li>
        @if (ViewBag.IsAdmin == "1")
        {
            <li><a href="#admin" id="adminlink" data-toggle="tab"><span class="glyphicon glyphicon-cog"></span> Administrativt</a></li>
        }
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            @Html.Partial("_Basic", Model)
        </div>

        <div class="tab-pane" id="timeandspace">
            @Html.Partial("_TimeAndSpace", Model)
        </div>

        <div class="tab-pane" id="contact">
            @Html.Partial("_Contact", Model)
        </div>

        <div class="tab-pane" id="distribution">
            @Html.Partial("_Distribution", Model)
        </div>

        <div class="tab-pane" id="documents">
            @Html.Partial("_Documents", Model)
        </div>

        <div class="tab-pane" id="constraints">
            @Html.Partial("_Constraints", Model)
        </div>

        <div class="tab-pane" id="keywords">
            @Html.Partial("_Keywords", Model)
        </div>

        <div class="tab-pane" id="quality">
            @Html.Partial("_Quality", Model)
        </div>

        <div class="tab-pane" id="english">
            @Html.Partial("_English", Model)
        </div>

        <div class="tab-pane" id="admin">
            @Html.Partial("_Admin", Model)
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button onclick="location.href='@Url.Action("ConfirmDelete")?uuid=@Model.Uuid';return false;" name="action" type="button" class="btn btn-primary" value="">Slett</button>
            @if (!Html.ViewData.ModelState.IsValid /*&& ViewBag.IsAdmin == "1"*/)
            {
                <input type="checkbox" name="ignoreValidationError" value="1" /> <span>Ignorer feil</span>
            }
            else
            {
                <input type="hidden" name="ignoreValidationError" value="0" />
            }
            @*<button name="action" type="submit" class="btn btn-primary" value="@UI.Button_SaveAsXml">@UI.Button_SaveAsXml</button>*@

            @*@if (ViewBag.ValidModel == true)
                {*@
            @*<input type="checkbox" name="published" value="true" checked /> <span>Publiser</span>*@
            @*<button name="action" type="submit" class="btn btn-primary" value="@UI.Button_Validate">@UI.Button_Validate</button>*@
            @*}
                else
                {*@
            @*<input type="hidden" name="published" value="false" />*@
            <input type="hidden" name="published" value="true" />
            @*}*@
            <button name="action" type="submit" class="btn btn-primary show-loading-animation" value="@UI.Button_Save" data-loading-message="Lagrer metadata">@UI.Button_Save</button>
        </div>
    </div>


</form>

@section scripts {
    <script>
        var spatialRepresentationOptions = {
                vector: [],
                grid: [],
                textTable: [
                    "CSV",
                    "Microsoft Excel",
                    "DBF",
                    "Tekstfil"
                ],
                tin: [
                    "Intergraph TIN",
                    "ESRI TIN",
                    "GEOPAK TIN",
                    "LandXML TIN"
                ],
                stereoModel: [
                    "Intergraph TIN",
                    "JPEG"
                ],
                video: [
                    "MPEG",
                    "AVI",
                    "MOV",
                    "OGG",
                    "WMV",
                    "RealVideo",
                    "RMVB",
                    "FLASH",
                    "ASF",
                    "MP4",
                    "QuickTime"
                ]
            };

             @foreach (var distributionFormat in ViewBag.VectorFormats as SelectList)
             {
                  @:spatialRepresentationOptions.vector.push("@distributionFormat.Value");
              }

              @foreach (var distributionFormat in ViewBag.RasterFormats as SelectList)
              {
                  @:spatialRepresentationOptions.grid.push("@distributionFormat.Value");
              }

        $(function () {

            // Textarea auto size
            $('textarea').autosize();


            //  add warning sign to tabs containing input fields with error.
            $('.input-validation-error').each(function () {
                var inputElement = $(this);
                var id = inputElement.closest(".tab-pane").attr('id');
                var tabLink = $('ul.nav-tabs a[href="#' + id + '"]');

                inputElement.closest('.form-group').addClass('has-error');
                tabLink.parent().addClass("has-error");

                var warning = tabLink.parent().find('span.glyphicon-warning-sign');
                if (warning.length == 0) {
                    tabLink.parent().attr('data-toggle', 'tooltip');
                    tabLink.parent().prop('title', 'Skillearket inneholder feil og mangler som må rettes opp før innsending av skjemaet');
                }
            });

            // Set selected tab
            var menu_state = Cookies.get('navtabselected');
            (menu_state !== null) ? $('#' + menu_state).click() : $('#homelink').click();

            // Get selected tab
            $("#editor-tabs li a").click(function (event) {
                event.preventDefault();
                var cookieVal = this.id;
                Cookies.set('navtabselected', cookieVal);
            });

            $('#uploadThumbnailFile').fileupload({
                dataType: 'json',
                url: '/Metadata/UploadThumbnailGenerateMiniAndMedium',
                add: function (e, data) {

                    $("#uploadThumbnailButton").on("click", function (event) {
                        event.preventDefault();
                        data.formData = {
                            "uuid": "@Model.Uuid"
                        };
                        data.submit();
                    });
                },
                done: function (e, data) {
                    console.log("File uploaded: " + data.result.filename);
                    if (data.result.status == "ErrorWrongContent") {
                        $("#thumbnailUrl").val('');
                        $('#uploadThumbnailStatus').attr('style', 'color: red ;');
                        $('#uploadThumbnailStatus').text('Feil: Du må velge en fil av type jpeg, gif eller png.');
                    }
                    else {
                        $("#thumbnailUrl").val('@ViewBag.ThumbnailUrl' + data.result.filename);
                        $("#thumbnailUrlMini").val('@ViewBag.ThumbnailUrl' + data.result.filenamemini);
                        $("#thumbnailUrlMedium").val('@ViewBag.ThumbnailUrl' + data.result.filenameMedium);
                        $('#uploadThumbnailStatus').attr('style', 'text-info');
                        //$('#uploadThumbnailStatus').text('Filen er lastet opp. Velg type og trykk på "legg til" for å knytte bildet til metadataene.');
                    }
                }
            });

            $('#uploadCoverageFile').fileupload({
                dataType: 'json',
                url: '/Metadata/UploadThumbnail',
                add: function (e, data) {
                    $("#uploadCoverageButton").on("click", function (event) {
                        event.preventDefault();
                        data.formData = {
                            "uuid": "@Model.Uuid",
                            "scaleImage": $('#uploadScaleCoverage').prop('checked')
                        };

                        data.submit();
                    });
                },
                done: function (e, data) {
                    console.log("File uploaded: " + data.result.filename);
                    if (data.result.status == "ErrorWrongContent") {
                        $("#coverageUri").val('');
                        $('#uploadCoverageStatus').attr('style', 'color: red ;');
                        $('#uploadCoverageStatus').text('Feil: Du må velge en fil av type jpeg, gif eller png.');
                    }
                    else {
                        $("#coverageUri").val('@ViewBag.ThumbnailUrl' + data.result.filename);
                        $('#uploadCoverageStatus').attr('style', 'text-info');
                        //$('#uploadThumbnailStatus').text('Filen er lastet opp. Velg type og trykk på "legg til" for å knytte bildet til metadataene.');
                    }
                }
            });

            var checkExist = setInterval(function () {
                if ($('#thumbnailUrl').val() && $('#uploadMode').val() == 'upload') {
                    $("#thumbnailAdd").click();
                    $('#uploadMode').val('reference');
                }
            }, 100); // check every 100ms

            var checkExistCoverageImage = setInterval(function () {
                if ($('#coverageUri').val() && $('#uploadMode').val() == 'upload') {
                    $("#coverageAdd").click();
                    $('#uploadMode').val('reference');
                }
            }, 100); // check every 100ms


            $("#coverageAdd").click(function (event) {
                event.preventDefault();
                if ($('#coverageUri').val().trim() == '') { alert('URL mangler'); return false; }

                var $item = $('#imageCoverage');

                var $thumbnails = $("#thumbnails");
                var itemIndex = $('li', $thumbnails).length;


                var $thumbnailUrl = $("#coverageUri");

                var $itemTypeHidden = $('<input />', {
                    type: 'hidden',
                    name: 'Thumbnails[' + itemIndex + '].Type',
                    value: 'dekningsoversikt'
                });

                var $itemUrlHidden = $('<input />', {
                    type: 'hidden',
                    name: 'Thumbnails[' + itemIndex + '].URL',
                    value: $thumbnailUrl.val()
                });


                if (!$("#coverageImageSelectedType").length) {
                    $item.append($itemTypeHidden);
                    $item.append($itemUrlHidden);
                }
                else {
                    $("#coverageImageSelectedURL").val($thumbnailUrl.val());
                }

                $("#coverageImageSelected").removeAttr('src');
                $("#coverageImageSelected").attr('src', $("#coverageUri").val());
                $("#coverageImageNameSelected").text($("#coverageUri").val());


            });


            $("#thumbnailAdd").click(function (event) {
                event.preventDefault();
                if ($('#thumbnailUrl').val().trim() == '') { alert('URL mangler'); return false; }


                var $thumbnails = $("#thumbnails");
                var itemIndex = $('li', $thumbnails).length;

                //Remove old images
                $('li', $thumbnails).remove();

                itemIndex = $('li', $thumbnails).length;

                if ($("#coverageImageSelectedType").length) {
                    itemIndex = itemIndex + 1;
                }

                //Mini
                var thumbnailType = "miniatyrbilde";
                var $thumbnailUrl = $("#thumbnailUrlMini");
                var $itemMini = $('<li />', { "class": 'thumbnail clearfix' });
                var $itemImage = $('<img />', {
                    src: $thumbnailUrl.val(),
                    width: '200',
                });
                var $itemType = $('<p />').append('<strong>Type</strong> ').append(thumbnailType);
                var $itemUrl = $('<p />').append('<strong>Url</strong> ').append($thumbnailUrl.val());
                var $itemTypeHidden = $('<input />', {
                    type: 'hidden',
                    name: 'Thumbnails[' + itemIndex + '].Type',
                    value: thumbnailType
                });
                var $itemUrlHidden = $('<input />', {
                    type: 'hidden',
                    name: 'Thumbnails[' + itemIndex + '].URL',
                    value: $thumbnailUrl.val()
                });

                $itemMini.append($itemImage);
                $itemMini.append($itemType);
                $itemMini.append($itemTypeHidden);
                $itemMini.append($itemUrl);
                $itemMini.append($itemUrlHidden);
                $itemMini.append('<button class="thumbnailRemove btn btn-default pull-right"><span class="glyphicon glyphicon-trash"></span> Slett</button>');

                //Medium Image
                itemIndex = itemIndex + 1;
                var thumbnailType = "medium";
                var $thumbnailUrl = $("#thumbnailUrlMedium");
                var $itemMedium = $('<li />', { "class": 'thumbnail clearfix' });
                var $itemImage = $('<img />', {
                    src: $thumbnailUrl.val(),
                    width: '200',
                });
                var $itemType = $('<p />').append('<strong>Type</strong> ').append(thumbnailType);
                var $itemUrl = $('<p />').append('<strong>Url</strong> ').append($thumbnailUrl.val());
                var $itemTypeHidden = $('<input />', {
                    type: 'hidden',
                    name: 'Thumbnails[' + itemIndex + '].Type',
                    value: thumbnailType
                });
                var $itemUrlHidden = $('<input />', {
                    type: 'hidden',
                    name: 'Thumbnails[' + itemIndex + '].URL',
                    value: $thumbnailUrl.val()
                });

                $itemMedium.append($itemImage);
                $itemMedium.append($itemType);
                $itemMedium.append($itemTypeHidden);
                $itemMedium.append($itemUrl);
                $itemMedium.append($itemUrlHidden);
                $itemMedium.append('<button class="thumbnailRemove btn btn-default pull-right"><span class="glyphicon glyphicon-trash"></span> Slett</button>');


                //Large Image
                itemIndex = itemIndex + 1;
                var $thumbnailType = $("#thumbnailType");
                var $thumbnailUrl = $("#thumbnailUrl");
                var $item = $('<li />', { "class": 'thumbnail clearfix' });
                var $itemImage = $('<img />', {
                    src: $thumbnailUrl.val(),
                    width: '200',
                });
                var $itemType = $('<p />').append('<strong>Type</strong> ').append($thumbnailType.val());
                var $itemUrl = $('<p />').append('<strong>Url</strong> ').append($thumbnailUrl.val());
                var $itemTypeHidden = $('<input />', {
                    type: 'hidden',
                    name: 'Thumbnails[' + itemIndex + '].Type',
                    value: $thumbnailType.val()
                });
                var $itemUrlHidden = $('<input />', {
                    type: 'hidden',
                    name: 'Thumbnails[' + itemIndex + '].URL',
                    value: $thumbnailUrl.val()
                });

                $item.append($itemImage);
                $item.append($itemType);
                $item.append($itemTypeHidden);
                $item.append($itemUrl);
                $item.append($itemUrlHidden);
                $item.append('<button class="thumbnailRemove btn btn-default pull-right"><span class="glyphicon glyphicon-trash"></span> Slett</button>');


                $thumbnailType.val('');
                $thumbnailUrl.val('');

                $thumbnails.append($itemMini);
                $thumbnails.append($itemMedium);
                $thumbnails.append($item);

            });

            $('button.thumbnailRemove').click(function (event) {
                event.preventDefault();
                $(this).parent().remove();

                $('#thumbnails li').each(function (index, value) {
                    var $hiddenItemsForRow = $('input[type=hidden]', value);
                    $hiddenItemsForRow.each(function (hiddenIndex, hiddenValue) {
                        var name = $(hiddenValue).attr("name");
                        if (name.indexOf('.Type') !== -1) {
                            $(hiddenValue).attr('name', 'Thumbnails[' + index + '].Type');
                        } else if (name.indexOf('.URL') !== -1) {
                            $(hiddenValue).attr('name', 'Thumbnails[' + index + '].URL');
                        }
                    });
                });
            });



            // format
            $("#SpatialRepresentation").change(function (event) {
                event.preventDefault();
                var selectedSpatialRepresentation = $("#SpatialRepresentation").val();
                for (var f = 0; f < $('#DistributionFormatsCount').val() ; f++) {
                    if (selectedSpatialRepresentation == "vector") {
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').children('option:not(:first)').remove();
                        @foreach (var df in ViewBag.VectorFormats as SelectList)
                        { <text> $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>@df.Text</option>');</text>}
                    } else if (selectedSpatialRepresentation == "grid") {
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').children('option:not(:first)').remove();
                        @foreach (var df in ViewBag.RasterFormats as SelectList)
                        { <text> $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>@df.Text</option>');</text>}
                    } else if (selectedSpatialRepresentation == "textTable") {
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').children('option:not(:first)').remove();
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>CSV</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>Microsoft Excel</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>DBF</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>Tekstfil</option>');
                    } else if (selectedSpatialRepresentation == "tin") {
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').children('option:not(:first)').remove();
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>Intergraph TIN</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>ESRI TIN</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>GEOPAK TIN</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>LandXML TIN</option>');
                    } else if (selectedSpatialRepresentation == "stereoModel") {
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').children('option:not(:first)').remove();
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>Intergraph TIN</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>JPEG</option>');
                    } else if (selectedSpatialRepresentation == "video") {
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').children('option:not(:first)').remove();
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>MPEG</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>AVI</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>MOV</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>OGG</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>WMV</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>RealVideo</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>RMVB</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>FLASH</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>ASF</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>MP4</option>');
                        $('#DistributionsFormats\\[' + f + '\\]\\.FormatName').append('<option>QuickTime</option>');
                    }
                }
            });

            $("#SpatialRepresentation").trigger("change");


            $("#newReferencesystem").click(function (event) {
                event.preventDefault();
                var ReferenceSystemCounts = parseInt($("#ReferenceSystemsCount").val());
                ReferenceSystemCounts += 1;
                var fIndex = ReferenceSystemCounts - 1;

                var dfHtm = "";

                dfHtm += '<div id="referenceRow' + fIndex + '" class="form-group">';
                dfHtm += '<label for="referenceSystems[' + fIndex + '].CoordinateSystem" class="col-sm-2 control-label">Romlig<br>referansesystem</label>';
                dfHtm += '<div class="col-sm-3">';


                dfHtm += '<select id="referenceSystems[' + fIndex + '].CoordinateSystem" name="referenceSystems[' + fIndex + '].CoordinateSystem" class="form-control">';
                dfHtm += '<option value="">Velg</option>';
                @foreach (SelectListItem opt in ViewBag.ReferenceSystemsValues)
                {
            @:dfHtm += '<option value="@opt.Value">@opt.Text</option>';
                                                                                                                                                                                                                                                                                                                                                }
                dfHtm += '</select>';

                dfHtm += '</div>';
                dfHtm += '<label for="referenceSystems[' + fIndex + '].Version" class="col-sm-2" style="text-align: right;">Koderom</label>';
                dfHtm += '<div class="col-sm-3">';
                dfHtm += '<input type="text" id="referenceSystems[' + fIndex + '].Namespace" name="referenceSystems[' + fIndex + '].Namespace" readonly value="EPSG" class="form-control" />';
                dfHtm += '</div>';
                dfHtm += '<div class="col-sm-2">';

                dfHtm += '<button type="button" id="delReferenceSystem[' + fIndex + ']" class="btn btn-default" onclick="removeReferenceSystem(' + fIndex + ')">Slett</button>';

                dfHtm += '</div>';

                dfHtm += '</div>';

                $("#ReferenceSystemsDiv").append(dfHtm);
                $("#ReferenceSystemsCount").val(ReferenceSystemCounts);


            });



            // conformity

            var conformExplanation = "Dataene er i henhold til produktspesifikasjonen";
            var conformExplanationEnglish = "The data is according to the product specification";
            var conformExplainPlaceholder = "Beskriv avvikene fra spesifikasjonen";

            $('#QualitySpecificationTitleInspire').prop('readonly', true);
            if ($('#QualitySpecificationTitleInspire').val() == "")
                $('#QualitySpecificationInspire').hide();
            $('#QualitySpecificationTitleSosi').prop('readonly', true);
            if ($('#QualitySpecificationTitleSosi').val() == "")
                $('#QualitySpecificationSosi').hide();
            $('#QualitySpecificationTitle').prop('readonly', true);
            if ($('#QualitySpecificationTitle').val() == "")
                $('#QualitySpecificationCustom').hide();

            $('#QualitySpecificationDateTypeInspire').prop('readonly', true);
            $('#QualitySpecificationDateTypeSosi').prop('readonly', true);
            $('#QualitySpecificationDateType').prop('readonly', true);

            $('#QualitySpecificationDateInspire').prop('readonly', true);
            $('#QualitySpecificationDateSosi').prop('readonly', true);


            var Inspire = function (event) {
                if (event) {
                    if (!$('#keyword-inspire-valid').prop('checked'))
                    {
                        InspireRemove();
                    }
                    else {
                        if ($("#QualitySpecificationTitleInspire").val().trim() == "")
                            $("#QualitySpecificationTitleInspire").val("COMMISSION REGULATION (EU) No 1089/2010 of 23 November 2010 implementing Directive 2007/2/EC of the European Parliament and of the Council as regards interoperability of spatial data sets and services");
                        if ($("#QualitySpecificationDateInspire").val().trim() == "")
                            $("#QualitySpecificationDateInspire").val("08.12.2010");
                        if ($("#QualitySpecificationDateTypeInspire").val().trim() == "")
                            $("#QualitySpecificationDateTypeInspire").val("publication");

                        $('#QualitySpecificationInspire').show();
                    }
                }
            };

            $("#keyword-inspire-valid").on("change", Inspire);
            Inspire();


            function InspireRemove() {
                $("#QualitySpecificationTitleInspire").val("");
                $("#QualitySpecificationDateInspire").val("");
                $("#QualitySpecificationDateTypeInspire").val("");
                $("#QualitySpecificationExplanationInspire").val("");
                $("#EnglishQualitySpecificationExplanationInspire").val("");
                $("#QualitySpecificationResultInspireConform").prop('checked', false);
                $('#QualitySpecificationInspire').hide();
            };

            var Sosi = function (event) {

                var sosiKeyword = false;

                if ($('#keyword-dok-valid-kmd').is(":checked") || $('#keyword-geodatalaw').is(":checked")
                    || $('#keyword-norgedigitalt').is(":checked") || $('#keyword-areal-plans').is(":checked"))
                    sosiKeyword = true;

                var selectedSosi = $('#ProductSpecificationUrl option:selected').text();
                var selectedSosiUrl = $('#ProductSpecificationUrl option:selected').val();
                if (sosiKeyword) {
                    if (selectedSosiUrl.startsWith("http")) {
                        console.log("sosi not selected:" + selectedSosi);
                        $("#QualitySpecificationTitleSosi").val("SOSI-produktspesifikasjon: " + selectedSosi);
                        $('#QualitySpecificationSosi').show();
                        $("#QualitySpecificationSosiTitle").show();
                        $("#QualitySpecificationSosiDate").show();
                        $("#QualitySpecificationSosiResult").show();
                        $("#QualitySpecificationExplanationSosiDiv").show();
                    }
                    else if ($("#ApplicationSchema").val() != '')
                    {
                        $("#QualitySpecificationTitleSosi").val("");
                        $("#QualitySpecificationDateSosi").val("");
                        $("#QualitySpecificationDateTypeSosi").val("");
                        $("#QualitySpecificationExplanationSosi").val("");
                        $("#EnglishQualitySpecificationExplanationSosi").val("");
                        $("#QualitySpecificationResultSosiNotConform").prop('checked', false);

                        $('#QualitySpecificationSosi').show();
                        $("#QualitySpecificationSosiTitle").hide();
                        $("#QualitySpecificationSosiDate").hide();
                        $("#QualitySpecificationSosiResult").hide();
                        $("#QualitySpecificationExplanationSosiDiv").hide();
                    }
                    console.log("selectedSosiUrl:"  + selectedSosiUrl);
                    if (selectedSosiUrl != null) {
                        var selectedSosiUrlApi = selectedSosiUrl;
                        selectedSosiUrlApi = selectedSosiUrlApi.replace("/register/", "/api/register/");

                        $.getJSON(selectedSosiUrlApi, function (result) {
                            if (result != null) {
                                if (result.length != 0) {
                                    var QualitySpecificationDateSosiFromRegister = "";
                                    var dateAccepted = result.dateAccepted;
                                    if (dateAccepted != "0001-01-01T00:00:00") // Not accepted
                                    {
                                        var dateAccept = new Date(dateAccepted);
                                        QualitySpecificationDateSosiFromRegister = dateAccept.getDate() + "." + (dateAccept.getMonth() + 1) + "." + dateAccept.getFullYear();
                                    }
                                    else {
                                        var dateSubmitted = result.dateSubmitted;
                                        var dateSubmit = new Date(dateSubmitted);
                                        QualitySpecificationDateSosiFromRegister = dateSubmit.getDate() + "." + (dateSubmit.getMonth() + 1) + "." + dateSubmit.getFullYear();
                                    }

                                    var applicationSchema = result.ApplicationSchema;
                                    if (applicationSchema != null)
                                        $("#ApplicationSchema").val(applicationSchema);

                                    $("#QualitySpecificationDateSosi").val(QualitySpecificationDateSosiFromRegister);
                                }
                            }
                        }
                    )
                    };

                    if ($("#ApplicationSchema").val() != '') {
                        $('#QualitySpecificationSosi').show();
                        $("#QualitySpecificationSosiConformApplicationSchema").show();
                        if (!selectedSosiUrl.startsWith("http")) {
                            $("#QualitySpecificationSosiTitle").hide();
                            $("#QualitySpecificationSosiDate").hide();
                            $("#QualitySpecificationSosiResult").hide();
                            $("#QualitySpecificationExplanationSosiDiv").hide();
                        }
                    }
                    else {
                        $("#QualitySpecificationSosiConformApplicationSchema").hide();
                        $("#QualitySpecificationResultSosiConformApplicationSchema").prop('checked', false);
                        $("#QualitySpecificationResultSosiConformGmlApplicationSchema").prop('checked', false);
                    }
                }
                else {
                    $("#QualitySpecificationTitleSosi").val("");
                    $("#QualitySpecificationDateSosi").val("");
                    $("#QualitySpecificationDateTypeSosi").val("");
                    $("#QualitySpecificationExplanationSosi").val("");
                    $("#EnglishQualitySpecificationExplanationSosi").val("");
                    $("#QualitySpecificationResultSosiNotConform").prop('checked', false);
                    $('#QualitySpecificationSosi').hide();
                }

            };

            //$("#ProductSpecificationUrl").on("change", Sosi);
            //$("#ApplicationSchema").on("change", Sosi);
            $("#keyword-dok-valid-kmd").on("change", Sosi);
            $("#keyword-geodatalaw").on("change", Sosi);
            $("#keyword-norgedigitalt").on("change", Sosi);
            $("#keyword-areal-plans").on("change", Sosi);

            function SetAdministrativeKeyWords() {
                var items = $('#keywords-national-initiative-list li');
                $(items).each(function (key, value) {
                    var keyword = $(value).find('input').val();
                    if (keyword == "Det offentlige kartgrunnlaget")
                        $('#keyword-dok-valid-kmd').prop("checked", true);
                    if (keyword == "Inspire")
                        $('#keyword-inspire-valid').prop("checked", true);
                    if (keyword == "geodataloven")
                        $('#keyword-geodatalaw').prop("checked", true);
                    if (keyword == "Norge digitalt")
                        $('#keyword-norgedigitalt').prop("checked", true);
                    if (keyword == "arealplanerPBL")
                        $('#keyword-areal-plans').prop("checked", true);

                    $('#KeywordsCatalogs option').each(function () {
                        optionValue = $(this);
                        if (optionValue.val() == keyword) {
                            optionValue.prop('selected', true);
                        }
                    });

                });

                Sosi();
            }


            var otherSpec = function (event) {
                    var selectedOtherSpec = $('#ProductSpecificationOther_Name').val();
                    if (selectedOtherSpec != "") {
                        $("#QualitySpecificationTitle").val("Produktspesifikasjon: " + selectedOtherSpec);
                        $("#QualitySpecificationDate").val("");
                        $("#QualitySpecificationDateType").val("publication");
                        $("#QualitySpecificationResultConform").prop('checked', true);
                        $("#QualitySpecificationExplanation").val(conformExplanation);
                        $("#EnglishQualitySpecificationExplanation").val(conformExplanationEnglish);
                        $('#QualitySpecificationExplanationDiv').hide();
                        $('#QualitySpecificationCustom').show();
                    }
                    else {
                        $("#QualitySpecificationTitle").val("");
                        $("#QualitySpecificationDate").val("");
                        $("#QualitySpecificationDateType").val("");
                        $("#QualitySpecificationExplanation").val("");
                        $("#QualitySpecificationResultConform").prop('checked', false);
                        $('#QualitySpecificationCustom').hide();
                    }
                };

            $("#ProductSpecificationOther_Name").on("change", otherSpec);
            otherSpec();

            $("#QualitySpecificationResultInspireConform").change(function () {
                    if (this.checked) {
                    $("#QualitySpecificationExplanationInspire").val(conformExplanation);
                    $("#EnglishQualitySpecificationExplanationInspire").val(conformExplanationEnglish);
                    $("#QualitySpecificationExplanationInspireDiv").removeClass("show");
                    $("#QualitySpecificationExplanationInspireDiv").addClass("hidden");
                        }
                        });

            $("#QualitySpecificationResultInspireNotConform").change(function () {
                        if (this.checked) {
                    $("#QualitySpecificationExplanationInspire").val("");
                    $("#EnglishQualitySpecificationExplanationInspire").val("");
                    $("#QualitySpecificationExplanationInspire").attr("placeholder", conformExplainPlaceholder);
                    $("#QualitySpecificationExplanationInspireDiv").removeClass("hidden");
                    $("#QualitySpecificationExplanationInspireDiv").addClass("show");
                            }
                            });

            $("#QualitySpecificationResultSosiConform").change(function () {
                            if (this.checked) {
                    $("#QualitySpecificationExplanationSosi").val(conformExplanation);
                    $("#EnglishQualitySpecificationExplanationSosi").val(conformExplanationEnglish);
                    $("#QualitySpecificationExplanationSosiDiv").removeClass("show");
                    $("#QualitySpecificationExplanationSosiDiv").addClass("hidden");
                                }
                                });

            $("#QualitySpecificationResultSosiNotConform").change(function () {
                                if (this.checked) {
                    $("#QualitySpecificationExplanationSosi").val("");
                    $("#EnglishQualitySpecificationExplanationSosi").val("");
                    $("#QualitySpecificationExplanationSosi").attr("placeholder", conformExplainPlaceholder);
                    $("#QualitySpecificationExplanationSosiDiv").removeClass("hidden");
                    $("#QualitySpecificationExplanationSosiDiv").addClass("show");
                                    }
                                    });

            $("#QualitySpecificationResultConform").change(function () {
                                    if (this.checked) {
                    $("#QualitySpecificationExplanation").val(conformExplanation);
                    $("#EnglishQualitySpecificationExplanation").val(conformExplanationEnglish);
                    $("#QualitySpecificationExplanationDiv").removeClass("show");
                    $("#QualitySpecificationExplanationDiv").addClass("hidden");
                                        }
                                        });

            $("#QualitySpecificationResultNotConform").change(function () {
                                        if (this.checked) {
                    $("#QualitySpecificationExplanation").val("");
                    $("#EnglishQualitySpecificationExplanation").val("");
                    $("#QualitySpecificationExplanation").attr("placeholder", conformExplainPlaceholder);
                    $("#QualitySpecificationExplanationDiv").removeClass("hidden");
                    $("#QualitySpecificationExplanationDiv").addClass("show");
                                            }
                                            });

                                        // bounding box

                                        var states = $('select#bboxState');
                                        var counties = $('select#bboxCounty');

                                        var countyList = counties.find('option').clone();

                                        function populatePlaceList() {
                $('select#bboxState optgroup').each(function () {
                                                var regex = new RegExp("^" + $(this).data('statenumber'));
                                                var optgroup = $(this);
                                                optgroup.html(countyList.filter(function () {
                                                    return (regex.test($(this).attr('data-countynumber')));
                                                }));
                                    });
                                }

                                function setSelectedInPlaceList() {
                                    var selectedPlacesList = $("#keywords-place li");
                                    var selectedPlaces = [];
                $(selectedPlacesList).each(function (key, value) {
                                        var selectedPlace = $(value).find('input').val();
                                        selectedPlaces.push(selectedPlace);
                                    });

                $('select#bboxState option').each(function () {
                                    optionValue = $(this);
                                    selectedPlaces.forEach(function (entry) {
                                        if (optionValue.val() == entry) {
                                            optionValue.prop('selected', true);
                                        }
                                    });
                                });
                            }

            $(document).ready(function () {
                                populatePlaceList();
                                setSelectedInPlaceList();
                $('#setcoordinates').click(function () {
                                    setSelectedInPlaceList();
                                });
                            });

            $("select#bboxState").change(function (event) {
                event.preventDefault();
                $("#place-list").html("");

                if ($('#place-list li').length == 0) {
                    $("input#BoundingBoxNorth").val('');
                    $("input#BoundingBoxSouth").val('');
                    $("input#BoundingBoxEast").val('');
                    $("input#BoundingBoxWest").val('');
            }

            var selectedCounties = $(this).find('option:selected');

            selectedCounties.each(function () {
                if (!$("input#BoundingBoxNorth").val() || $(this).data('north') > $("input#BoundingBoxNorth").val())
                        $("input#BoundingBoxNorth").val($(this).data('north'));
                if (!$("input#BoundingBoxSouth").val() || $(this).data('south') < $("input#BoundingBoxSouth").val())
                        $("input#BoundingBoxSouth").val($(this).data('south'));
                if (!$("input#BoundingBoxEast").val() || $(this).data('east') > $("input#BoundingBoxEast").val())
                        $("input#BoundingBoxEast").val($(this).data('east'));
                if (!$("input#BoundingBoxWest").val() || $(this).data('west') < $("input#BoundingBoxWest").val())
                        $("input#BoundingBoxWest").val($(this).data('west'));
                addKeywordFromTextbox('place-list', "KeywordsPlace");
            })
            });

            // Check date not in future
            $("#DateUpdated").change(function (event) {
                event.preventDefault();
                var currentDate = new Date();
                var selectedDateStr = $('#DateUpdated').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                if (selectedDate > currentDate) {
                    alert('Dato kan ikke være i fremtiden');
                    $('#DateUpdated').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                        }
            });

            $("#DatePublished").change(function (event) {
                event.preventDefault();
                var currentDate = new Date();
                var selectedDateStr = $('#DatePublished').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                if (selectedDate > currentDate) {
                    alert('Dato kan ikke være i fremtiden');
                    $('#DatePublished').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                        }
            });

            $("#DateCreated").change(function (event) {
                event.preventDefault();
                var currentDate = new Date();
                var selectedDateStr = $('#DateCreated').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                if (selectedDate > currentDate) {
                    alert('Dato kan ikke være i fremtiden');
                    $('#DateCreated').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                        }
            });

            $("#DateMetadataValidFrom").change(function (event) {
                event.preventDefault();
                var selectedDateStr = $('#DateMetadataValidFrom').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                var validToStr = $('#DateMetadataValidTo').val();
                var validToArr = validToStr.split('.');
                var ValidToDate = new Date(validToArr[2], validToArr[1] - 1, validToArr[0]);

                if (ValidToDate < selectedDate) {
                    alert('Gyldig fra dato må være mindre enn gyldig til dato');
                    var newDate = new Date(ValidToDate);
                    newDate.setDate(newDate.getDate() - 1);
                    $('#DateMetadataValidFrom').val(newDate.getDate() + '.' + (newDate.getMonth() + 1) + '.' + newDate.getFullYear())
                        }
            });

            $("#DateMetadataValidTo").change(function (event) {
                event.preventDefault();
                var selectedDateStr = $('#DateMetadataValidTo').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                var validFromStr = $('#DateMetadataValidFrom').val();
                var validFromArr = validFromStr.split('.');
                var ValidFromDate = new Date(validFromArr[2], validFromArr[1] - 1, validFromArr[0]);

                if (selectedDate < ValidFromDate) {
                    alert('Gyldig til dato må være større enn gyldig fra dato');
                    var newDate = new Date(ValidFromDate);
                    newDate.setDate(newDate.getDate() + 1);
                    $('#DateMetadataValidTo').val(newDate.getDate() + '.' + (newDate.getMonth() + 1) + '.' + newDate.getFullYear())
                        }
            });

            $("#QualitySpecificationDate").change(function (event) {
                event.preventDefault();
                var currentDate = new Date();
                var selectedDateStr = $('#QualitySpecificationDate').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                if (selectedDate > currentDate) {
                    alert('Dato kan ikke være i fremtiden');
                    $('#QualitySpecificationDate').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                        }
            });

            // keywords
            var keywordThreshold = 20;

            function addKeyword(selectorPrefix, inputName, deleteLinkAttributes) {
                deleteLinkAttributes = (typeof deleteLinkAttributes === "undefined") ? null : deleteLinkAttributes;
                var $keywordInput = $('#' + selectorPrefix + '-text');
                var newKeyword = $keywordInput.val();
                var elementId = $('ul#' + selectorPrefix + ' li').length;
                var listItemId = selectorPrefix + "-" + elementId;

                var li = $('<li />', { "id": listItemId });
                li.append($('<span />', { "class": "", text: newKeyword }));
                li.append('&nbsp;');

                var link = $('<a />', {
                    "href": "",
                    "class": "keyword-delete label-list-remove",
                    "data-delete": listItemId,
                    "data-list": selectorPrefix + '-text',
                    "data-list-value": newKeyword
                        });

                li.append(link);
                li.append($('<input />', { "type": "hidden", "name": inputName + "[" + elementId + "]", "value": newKeyword }));

                if (elementId < keywordThreshold)
                    $('ul#' + selectorPrefix).append(li);
                else
                    alert('Maksimum antall nøkkelord er ' + keywordThreshold);

                return $keywordInput;
            };

            function addKeywordFromCodeList(selectorPrefix, inputName) {
                var $keywordInput = addKeyword(selectorPrefix, inputName);
                var $selected = $keywordInput.find("option:selected");
                $selected.attr("disabled", "disabled");
                $selected.removeAttr("selected");
            };

            function addKeywordFromTextbox(selectorPrefix, inputName) {
                var $keywordInput = addKeyword(selectorPrefix, inputName);
                $keywordInput.val('');
            }

            $('button#keywords-theme-add').click(function (event) {
                event.preventDefault();
                if ($('#keywords-theme-text').val().trim() == '')
                    alert('Vennligst fyll ut tema');
                else
                    addKeywordFromTextbox('keywords-theme', "KeywordsTheme");

            });

            $('button#keywords-place-add').click(function (event) {
                event.preventDefault();
                if ($('#keywords-place-text').val().trim() == '')
                    alert('Vennligst fyll ut sted');
                else
                    addKeywordFromTextbox('keywords-place', "KeywordsPlace");
            });

            $('button#keywords-national-initiative-add').click(function (event) {
                event.preventDefault();
                if ($('#keywords-national-initiative-text').val().trim() == '')
                    alert('Vennligst velg samarbeid og lov');
                else
                    addKeywordFromCodeList('keywords-national-initiative', "KeywordsNationalInitiative");
            });

            /* Chosen selects */
            function setSelectedKeywords() {
                var selectedKeywordsLists = $(".chosen-selected-keywords");
                selectedKeywordsLists.each(function () {
                    var selectedKeywords = [];
                    var selectorPrefix = $(this).data('selectorprefix');
                    var listItems = $(this).find('li');
                    $(listItems).each(function (key, value) {
                        var selectedKeyword = $(value).find('input').val();
                        selectedKeywords.push(selectedKeyword);
                    });
                    $('select#' + selectorPrefix + '-text option').each(function () {
                        optionValue = $(this);
                        selectedKeywords.forEach(function (entry) {
                            if (optionValue.val() == entry) {
                                optionValue.prop('selected', true);
                            }
                        });
                    });
                });
                SetAdministrativeKeyWords();
            }

            $(document).ready(function () {
                setSelectedKeywords();
            });

            $('.chosen-keyword-select').change(function (event) {
                var selectorPrefix = $(this).data('selectorprefix');
                var inputName = $(this).data('inputname');
                var selected = $(this).find(":selected");
                $('#' + selectorPrefix + '-list').html("");
                selected.each(function (key, val) {
                    var value = $(val).val();
                    $('#' + selectorPrefix + '-list').append('<li><input type="text" name="' + inputName + '[' + key + ']" value="' + value + '"/></li>');
                });
                if (inputName == "KeywordsNationalInitiative")
                    AddAdministrativeKeyWords();
            });

            $('button#keywords-inspire-add').click(function (event) {
                event.preventDefault();
                if ($('#keywords-inspire-text').val().trim() == '')
                    alert('Vennligst velg inspire');
                else
                    addKeywordFromCodeList('keywords-inspire', "KeywordsInspire");
            });

            $('button#keywords-other-add').click(function (event) {
                event.preventDefault();
                if ($('#keywords-other-text').val().trim() == '')
                    alert('Vennligst fyll ut annet');
                else
                    addKeywordFromTextbox('keywords-other', "KeywordsOther");
            });

            // use a delegated event handler to bind to all existing and future delete links
            $('body').on("click", "a.keyword-delete", function (event) {
                event.preventDefault();

                if (confirm('Er du sikker på at du vil slette nøkkelordet?')) {
                    var deleteId = $(this).data('delete');
                    var $selectCodeList = $("select#" + $(this).data('list'));
                    if ($selectCodeList !== undefined) {
                        var selector = 'option:contains("' + $(this).data('list-value') + '")';
                        if ($(this).data('list-value') == "Inspire")
                            InspireRemove();
                        var option = $selectCodeList.children(selector);
                        option.removeAttr('disabled');
                    }

                    var $listItem = $('li#' + deleteId);
                    var $parentList = $listItem.parent();
                    $listItem.remove();

                    $('li', $parentList).each(function (index, value) {
                        var $hiddenItemsForRow = $('input[type=hidden]', value);
                        $hiddenItemsForRow.each(function (hiddenIndex, hiddenValue) {
                            var name = $(hiddenValue).attr("name");
                            var inputName = name.substring(0, name.indexOf("["));
                            var inputNameWithIndex = inputName + '[' + index + ']';
                            $(hiddenValue).attr('name', inputNameWithIndex);
                        });
                    });
                }
            });
        });

        function AddAdministrativeKeyWords() {

            var selectorPrefix = "keywords-national-initiative";
            $('#' + selectorPrefix + '-list').empty();
            var inputName = "KeywordsNationalInitiative";
            var key = $('#keywords-national-initiative-list li').length;

            if ($('#keyword-dok-valid-kmd').prop('checked')) {
                var value = $('#keyword-dok-valid-kmd').val();
                $('#' + selectorPrefix + '-list').append('<li><input type="text" name="' + inputName + '[' + key + ']" value="' + value + '"/></li>');
                key = key + 1;
            }

            if ($('#keyword-inspire-valid').prop('checked')) {
                var value = $('#keyword-inspire-valid').val();
                $('#' + selectorPrefix + '-list').append('<li><input type="text" name="' + inputName + '[' + key + ']" value="' + value + '"/></li>');
                key = key + 1;
            }

            if ($('#keyword-geodatalaw').prop('checked')) {
                var value = $('#keyword-geodatalaw').val();
                $('#' + selectorPrefix + '-list').append('<li><input type="text" name="' + inputName + '[' + key + ']" value="' + value + '"/></li>');
                key = key + 1;
            }

            if ($('#keyword-norgedigitalt').prop('checked')) {
                var value = $('#keyword-norgedigitalt').val();
                $('#' + selectorPrefix + '-list').append('<li><input type="text" name="' + inputName + '[' + key + ']" value="' + value + '"/></li>');
                key = key + 1;
            }

            if ($('#keyword-areal-plans').prop('checked')) {
                var value = $('#keyword-areal-plans').val();
                $('#' + selectorPrefix + '-list').append('<li><input type="text" name="' + inputName + '[' + key + ']" value="' + value + '"/></li>');
                key = key + 1;
            }

            $('#KeywordsCatalogs :selected').each(function () {
                optionValue = $(this);
                var value = optionValue.val();
                $('#' + selectorPrefix + '-list').append('<li><input type="text" name="' + inputName + '[' + key + ']" value="' + value + '"/></li>');
                key = key + 1;
            });
        }

        function removeDistributionFormat(dist, formatID) {
            var elem = document.getElementById("formatRow" + dist + "_" + formatID);
            elem.parentNode.removeChild(elem);
            document.getElementById('DistributionFormatsCount').value -= 1;
        };

        function removeReferenceSystem(refID) {
            var elem = document.getElementById("referenceRow" + refID);
            elem.parentNode.removeChild(elem);
            document.getElementById('ReferenceSystemsCount').value -= 1;
        };

        //Setting placeholders
        var placeholderText = "Skriv inn";
        var placeholderTextChoose = "Klikk for å velge";

        $(document).ready(function () {
            $('form').find("input[type=textarea], input[type=text], textarea").each(function (ev) {
                if (!$(this).val() && !$(this).prop("disabled")) {
                    $(this).attr("placeholder", placeholderText);
                }
            });

            $('form').find("select").each(function (ev) {
                if ($(this).val() === '') {
                    idElem = $(this)[0].id;
                    $("#" + idElem + " option[value='']").text(placeholderTextChoose);
                }
            });

        });


        function loadConcepts() {
            $.ajax({
                headers: {
                    Accept: "application/rdf+xml",
                    "Content-Type": "text/plain; charset=utf-8"
                },
                type: "GET",
                url: $("#ApplicationSchema").val(),
                success: setConcepts
            });
        }

        function setConcepts(xml) {
            var conceptFound = false;
            $('#KeywordsConceptAlert').removeClass("alert alert-warning");
            $('#KeywordsConceptAlert').html("");
            $("#KeywordsConcept option").remove();
            $(xml).find("skos\\:Concept, Concept").each(function () {
                var prefLabel = $(this).find("skos\\:prefLabel, prefLabel").text();
                var about = $(this).attr("rdf:about");
                $('#KeywordsConcept').append($("<option selected></option>")
                    .attr("value", prefLabel + "|" + about)
                    .text(prefLabel));
                conceptFound = true;
            });
            $('#KeywordsConcept').trigger("chosen:updated");
            if (!conceptFound) {
                $('#KeywordsConceptAlert').addClass("alert alert-warning");
                $('#KeywordsConceptAlert').html("Fant ingen begreper");
            }
        }

        function setDistributionFormatOptionElements(spatialRepresentation) {
            var distributionFormatRowElements = $("#distribution-format-rows .distribution-format-row");
            distributionFormatRowElements.each(function (elementIndex, distributionFormatRowElement) {
                formatNameElement = $(distributionFormatRowElement).find(".distributionFormats-formatName");
                formatNameElement.html(getFormatNameSelectListOptionElements(spatialRepresentation));
            });
        }

        function updateDistributionFormatOptionElements() {
            var spatialRepresentation = $("#SpatialRepresentation").val();
            setDistributionFormatOptionElements(spatialRepresentation);
        }

        function setOrganizationHiddenFieldElements(event, value) {
            var thisElement = event.target;
            var distributionRow = $(thisElement).closest(".distribution-row");
            var distributionFormatRowElements = $(distributionRow).find("#distribution-format-rows .distribution-format-row");
            distributionFormatRowElements.each(function (elementIndex, distributionFormatRowElement) {
                var organizationHiddenElement = $(distributionFormatRowElement).find(".distributionFormats-organization");
                organizationHiddenElement.val(value);
            });
        }

        function updateOrganizationHiddenFieldElements(event) {
            var thisElement = event.target;
            var distributionRow = $(thisElement).closest(".distribution-row");
            var distributionOrganizationElement = $(distributionRow).find(".distribution-organization");
            var value = distributionOrganizationElement.val();
            setOrganizationHiddenFieldElements(event, value);
        }

        function setProtocolHiddenFieldElements(event, value) {
            var thisElement = event.target;
            var distributionRow = $(thisElement).closest(".distribution-row");
            var distributionFormatRowElements = $(distributionRow).find("#distribution-format-rows .distribution-format-row");
            distributionFormatRowElements.each(function (elementIndex, distributionFormatRowElement) {
                var protocolHiddenElement = $(distributionFormatRowElement).find(".distributionFormats-protocol");
                protocolHiddenElement.val(value);
            });
        }

        function updateProtocolHiddenFieldElements(event) {
            var thisElement = event.target;
            var distributionRow = $(thisElement).closest(".distribution-row");
            var distributionProtocolElement = $(distributionRow).find(".distribution-protocol");
            var value = distributionProtocolElement.val();
            setProtocolHiddenFieldElements(event, value);
        }

        function setUrlHiddenFieldElements(event, value) {
            var thisElement = event.target;
            var distributionRow = $(thisElement).closest(".distribution-row");
            var distributionFormatRowElements = $(distributionRow).find("#distribution-format-rows .distribution-format-row");
            distributionFormatRowElements.each(function (elementIndex, distributionFormatRowElement) {
                var urlHiddenElement = $(distributionFormatRowElement).find(".distributionFormats-url");
                urlHiddenElement.val(value);
            });
        }

        function updateUrlHiddenFieldElements(event) {
            var thisElement = event.target;
            var distributionRow = $(thisElement).closest(".distribution-row");
            var distributionUrlElement = $(distributionRow).find(".distribution-url");
            var value = distributionUrlElement.val();
            setUrlHiddenFieldElements(event, value);
        }


        function setUnitsOfDistributionHiddenFieldElements(event, value) {
            var thisElement = event.target;
            var distributionRow = $(thisElement).closest(".distribution-row");
            var distributionFormatRowElements = $(distributionRow).find("#distribution-format-rows .distribution-format-row");
            distributionFormatRowElements.each(function (elementIndex, distributionFormatRowElement) {
                var urlHiddenElement = $(distributionFormatRowElement).find(".distributionFormats-unitsOfDistribution");
                urlHiddenElement.val(value);
            });
        }

        function updateUnitsOfDistributionHiddenFieldElements(event) {
            var thisElement = event.target;
            var distributionRow = $(thisElement).closest(".distribution-row");
            var unitsOfDistributionRow = $(distributionRow).find(".units-of-distribution-row");
            unitsOfDistribution = [];
            unitsOfDistributionRow.find("input:checked").each(function () {
                unitsOfDistribution.push($(this).val());
            });
            var value = unitsOfDistribution.join(', ');
            setUnitsOfDistributionHiddenFieldElements(event, value);
        }

        function setNameHiddenFieldElements(event, value) {
            var thisElement = event.target;
            var distributionRow = $(thisElement).closest(".distribution-row");
            var distributionFormatRowElements = $(distributionRow).find("#distribution-format-rows .distribution-format-row");
            distributionFormatRowElements.each(function (elementIndex, distributionFormatRowElement) {
                var nameHiddenElement = $(distributionFormatRowElement).find(".distributionFormats-name");
                nameHiddenElement.val(value);
            });
        }

        function updateNameHiddenFieldElements(event) {
            var thisElement = event.target;
            var distributionRow = $(thisElement).closest(".distribution-row");
            var distributionNameElement = $(distributionRow).find(".distribution-name");
            var value = distributionNameElement.val();
            setNameHiddenFieldElements(event, value);
        }



        function updateDistributionFormatRowElementIds() {
            var distributionFormatRowElements = $("#distribution-format-rows .distribution-format-row");
            distributionFormatRowElements.each(function (elementIndex, distributionFormatRowElement) {
                formatNameLabelElement = $(distributionFormatRowElement).find(".distributionFormats-formatNameLabel");
                formatNameLabelElement.attr('for', 'DistributionsFormats[' + elementIndex + '].FormatName');

                formatNameElement = $(distributionFormatRowElement).find(".distributionFormats-formatName");
                formatNameElement.attr('id', 'DistributionsFormats[' + elementIndex + '].FormatName');
                formatNameElement.attr('name', 'DistributionsFormats[' + elementIndex + '].FormatName');

                formatVersionLabelElement = $(distributionFormatRowElement).find(".distributionFormats-formatVersionLabel");
                formatVersionLabelElement.attr('for', 'DistributionsFormats[' + elementIndex + '].FormatVersion');

                formatVersionElement = $(distributionFormatRowElement).find(".distributionFormats-formatVersion");
                formatVersionElement.attr('id', 'DistributionsFormats[' + elementIndex + '].FormatVersion');
                formatVersionElement.attr('name', 'DistributionsFormats[' + elementIndex + '].FormatVersion');

                // Hidden fields
                protocolElement = $(distributionFormatRowElement).find(".distributionFormats-protocol");
                protocolElement.attr('id', 'DistributionsFormats[' + elementIndex + '].Protocol');
                protocolElement.attr('name', 'DistributionsFormats[' + elementIndex + '].Protocol');

                nameElement = $(distributionFormatRowElement).find(".distributionFormats-name");
                nameElement.attr('id', 'DistributionsFormats[' + elementIndex + '].Name');
                nameElement.attr('name', 'DistributionsFormats[' + elementIndex + '].Name');

                urlElement = $(distributionFormatRowElement).find(".distributionFormats-url");
                urlElement.attr('id', 'DistributionsFormats[' + elementIndex + '].URL');
                urlElement.attr('name', 'DistributionsFormats[' + elementIndex + '].URL');

                unitsOfDistributionElement = $(distributionFormatRowElement).find(".distributionFormats-unitsOfDistribution");
                unitsOfDistributionElement.attr('id', 'DistributionsFormats[' + elementIndex + '].UnitsOfDistribution');
                unitsOfDistributionElement.attr('name', 'DistributionsFormats[' + elementIndex + '].UnitsOfDistribution');

                organizationElement = $(distributionFormatRowElement).find(".distributionFormats-organization");
                organizationElement.attr('id', 'DistributionsFormats[' + elementIndex + '].Organization');
                organizationElement.attr('name', 'DistributionsFormats[' + elementIndex + '].Organization');

                distributionIndexElement = $(distributionFormatRowElement).find(".distributionFormats-index");
                distributionIndexElement.val(elementIndex);
            });
        }

        function getFormatNameSelectListOptionElements(spatialRepresentation) {
            var formatNameSelectListOptionElements = "";
            if (spatialRepresentationOptions[spatialRepresentation] !== undefined && spatialRepresentationOptions[spatialRepresentation].length) {
                spatialRepresentationOptions[spatialRepresentation].forEach(function (spatialRepresentationOption) {
                    formatNameSelectListOptionElements += '<option value="' + spatialRepresentationOption + '">' + spatialRepresentationOption + '</option>';
                });
            }
            return formatNameSelectListOptionElements;
        }

        function addDistributionFormat(event) {
            event.preventDefault();
            var thisElement = event.target;
            var distributionFormatsType = $("#DistributionFormatsType").val();
            var spatialRepresentation = $("#SpatialRepresentation").val();
            var formatRowsContainerElement = $(thisElement).closest(".distribution-formats").find(".distribution-format-rows");

            var formatNameElement = "";
            if (distributionFormatsType == "dataset") {
                formatNameElement = '<div class="custom-select">'
                        + '<select class="distributionFormats-formatName form-control">'
                        + getFormatNameSelectListOptionElements(spatialRepresentation)
                        + '</select>'
                        + '</div>';
            } else {
                formatNameElement = '<input type="text" class="distributionFormats-formatName form-control">';
            }


            formatVersionElement = '<input class="distributionFormats-formatVersion form-control" />';

            removeFormatButtonElement = '<span class="btn" onclick="removeDistributionFormat(event)">Slett</span>';

            hiddenFieldElements = '<input type="hidden" class="distributionFormats-protocol" />'
                + '<input type="hidden" class="distributionFormats-name" />'
                + '<input type="hidden" class="distributionFormats-url" />'
                + '<input type="hidden" class="distributionFormats-unitsOfDistribution" />'
                + '<input type="hidden" class="distributionFormats-organization" />'
                + '<input type="hidden" class="distributionFormats-index" name="DistributionsFormats.Index" autocomplete="off"/>';

            formatRowElement = '<div class="distribution-format-row">'
                    + '<div class="form-group required has-feedback">'
                        + '<div class="row">'
                           + '<label class="col-md-3 control-label distributionFormats-formatNameLabel">Format</label>'
                            + '<div class="col-md-8">'
                                + '<div class="row">'
                                    + '<div class="col-md-4">'
                                        + formatNameElement
                                    + '</div>'
                                    + '<label class="col-md-2 control-label distributionFormats-formatVersionLabel">Versjon</label>'
                                    + '<div class="col-md-3">'
                                        + formatVersionElement
                                    + '</div>'
                                    + '<div class="col-md-3">'
                                        + removeFormatButtonElement
                                    + '</div>'
                                    + '<div class="col-md-1">'
                                    + '<div>'
                                + '</div>'
                            + '</div>'
                        + '</div>'
                        + hiddenFieldElements
                    + '</div>'
                + '</div>';

            formatRowsContainerElement.append(formatRowElement);

            // Add/update Id's for form elements
            updateDistributionFormatRowElementIds();

            // Add hidden field values
            updateOrganizationHiddenFieldElements(event);
            updateProtocolHiddenFieldElements(event);
            updateUrlHiddenFieldElements(event);
            updateUnitsOfDistributionHiddenFieldElements(event);
            updateNameHiddenFieldElements(event);
        };

        function removeDistributionFormat(event){
            var thisElement = event.target;
            var distributionFormatRow = $(thisElement).closest(".distribution-format-row");
            distributionFormatRow.remove();

            // Add/update Id's for form elements
            updateDistributionFormatRowElementIds();

        }


    </script>


}

@* Import components *@
@Html.Partial("VueComponents/Edit/_Basic")
@Html.Partial("VueComponents/Edit/_TimeAndSpace")
@Html.Partial("VueComponents/Edit/_Contact")
@Html.Partial("VueComponents/Edit/_Distribution")
@Html.Partial("VueComponents/Edit/_Documents")
@Html.Partial("VueComponents/Edit/_Constraints")
@Html.Partial("VueComponents/Edit/_Keywords")
@Html.Partial("VueComponents/Edit/_Quality")
@Html.Partial("VueComponents/Edit/_Admin")

    <script>
        Vue.use(Vuex);

        var vueModel = new Vue({
            el: "#vue-container",
            store: new Vuex.Store({
                state: {
                    model: @ViewModelJson,
                    viewBag: @ViewBagJson
                },
                getters: {
                    Title: function (state) {
                        return state.model.Title;
                    },
                    EnglishTitle: function (state) {
                        return state.model.EnglishTitle;
                    },
                    ResourceReferenceCodespace: function (state) {
                        return state.model.ResourceReferenceCodespace;
                    },
                    ResourceReferenceCode: function (state) {
                        return state.model.ResourceReferenceCode;
                    },
                    Abstract: function (state) {
                        return state.model.Abstract;
                    },
                    EnglishAbstract: function (state) {
                        return state.model.EnglishAbstract;
                    },
                    HelpUrl: function (state) {
                        return state.model.HelpUrl;
                    },
                    SpecificUsage: function (state) {
                        return state.model.SpecificUsage;
                    },
                    Purpose: function (state) {
                        return state.model.EnglishSpecificUsage;
                    },
                    EnglishPurpose: function (state) {
                        return state.model.EnglishPurpose;
                    },
                    DateUpdated: function (state) {
                        return state.model.DateUpdated;
                    },
                    DatePublished: function (state) {
                        return state.model.DatePublished;
                    },
                    DateCreated: function (state) {
                        return state.model.DateCreated;
                    },
                    DateMetadataValidFrom: function (state) {
                        return state.model.DateMetadataValidFrom;
                    },
                    DateMetadataValidTo: function (state) {
                        return state.model.DateMetadataValidTo;
                    },
                    MaintenanceFrequency: function (state) {
                        return state.model.MaintenanceFrequency;
                    },
                    BoundingBoxNorth: function (state) {
                        return state.model.BoundingBoxNorth;
                    },
                    BoundingBoxEast: function (state) {
                        return state.model.BoundingBoxEast;
                    },
                    BoundingBoxSouth: function (state) {
                        return state.model.BoundingBoxSouth;
                    },
                    BoundingBoxWest: function (state) {
                        return state.model.BoundingBoxWest;
                    },
                    CoverageUrl: function (state) {
                        return state.model.CoverageUrl;
                    },
                    ContactMetadata: function (state) {
                        return state.model.ContactMetadata;
                    },
                    ContactMetadataName: function (state) {
                        return state.model.ContactMetadata.Name;
                    },
                    ContactMetadataEmail: function (state) {
                        return state.model.ContactMetadata.Email;
                    },
                    ContactMetadataOrganization: function (state) {
                        return state.model.ContactMetadata.Organization;
                    },
                    ContactPublisher: function (state) {
                        return state.model.ContactPublisher;
                    },
                    ContactPublisherName: function (state) {
                        return state.model.ContactPublisher.Name;
                    },
                    ContactPublisherEmail: function (state) {
                        return state.model.ContactPublisher.Email;
                    },
                    ContactPublisherOrganization: function (state) {
                        return state.model.ContactPublisher.Organization;
                    },
                    ContactOwner: function (state) {
                        return state.model.ContactPublisher;
                    },
                    ContactOwnerName: function (state) {
                        return state.model.ContactOwner.Name;
                    },
                    ContactOwnerEmail: function (state) {
                        return state.model.ContactOwner.Email;
                    },
                    ContactOwnerOrganization: function (state) {
                        return state.model.ContactOwner.Organization;
                    }
                },
                mutations: {
                    Title: function (state, payload) {
                        state.Title = payload;
                    },
                    EnglishTitle: function (state, payload) {
                        return state.model.EnglishTitle = payload;
                    },
                    ResourceReferenceCodespace: function (state, payload) {
                        return state.model.ResourceReferenceCodespace = payload;
                    },
                    ResourceReferenceCode: function (state, payload) {
                        return state.model.ResourceReferenceCode = payload;
                    },
                    Abstract: function (state, payload) {
                        return state.model.Abstract = payload;
                    },
                    EnglishAbstract: function (state, payload) {
                        return state.model.EnglishAbstract = payload;
                    }
                },
                actions: {}
            }),
            data: {
                selectedTab: 'basic',
                tabs: [
                    { id: 'basic', name: 'Grunleggende', iconClass: 'glyphicon glyphicon-home' },
                    { id: 'timeAndSpace', name: 'Tid og rom', iconClass: 'glyphicon glyphicon-list-alt' },
                    { id: 'contact', name: 'Kontaktinformasjon', iconClass: 'glyphicon glyphicon-user' },
                    { id: 'distribution', name: 'Distribusjon', iconClass: 'glyphicon glyphicon-globe' },
                    { id: 'documents', name: 'Dokumentasjon', iconClass: 'glyphicon glyphicon-file' },
                    { id: 'constraints', name: 'Restriksjoner', iconClass: 'glyphicon glyphicon-lock' },
                    { id: 'keywords', name: 'Nøkkelord', iconClass: 'glyphicon glyphicon-ok-sign' },
                    { id: 'quality', name: 'Kvalitet', iconClass: 'glyphicon glyphicon-ok-sign' },
                    { id: 'admin', name: 'Administrativt', iconClass: 'glyphicon glyphicon-cog' }
                ],
                languages: {
                    all: '@UI.Language_All',
                    no: '@UI.Language_No',
                    en: '@UI.Language_En'
                },
                model: @ViewModelJson,
                viewBag: @ViewBagJson,
                selectedValues: {
                    timeAndSpace: {
                        boundingBox: {
                            areas: []
                        }
                    },
                    documents: {
                        keywordsConcept: {
                            concepts: []
                        }
                    },
                    admin: {
                        keywordsCatalogs: []
                    },
                    thumbnails: []
                }
            },
            computed: {
                defaultLanguage: function () {
                    var defaultLanguage = 'no';
                    return defaultLanguage;
                },
                isDatasetOrDatasetSeries: function () {
                    var hierarchyLevel = this.$root.model.HierarchyLevel;
                    return hierarchyLevel == 'dataset' || hierarchyLevel == 'series';
                },
                isSoftware: function () {
                    var hierarchyLevel = this.$root.model.HierarchyLevel;
                    return hierarchyLevel == 'software' || hierarchyLevel == 'series';
                },
                isService: function () {
                    var hierarchyLevel = this.$root.model.HierarchyLevel;
                    return hierarchyLevel == "service";
                },
                hasCoverageImage: function () {
                    var hasCoverageImage = false;
                    this.selectedValues.thumbnails.forEach(function (thumbnail) {
                        if (thumbnail.Type == 'dekningsoversikt') {
                            hasCoverageImage = true;
                            return;
                        }
                    });
                    return hasCoverageImage;
                }
            },
            mounted: function () {
                this.selectedValues.thumbnails = this.model.Thumbnails;
                this.selectedTab = this.getSelectedTab();
            },
            methods: {
                getSelectedTab: function () {
                    var tabId = Cookies.get('navtabselected');
                    var selectedTab = this.tabs[0];
                    this.tabs.forEach(function (tab) {
                        if (tab.id == tabId) {
                            selectedTab = tab;
                        }
                    });
                    return selectedTab;
                },
                setSelectTab: function (tab) {
                    this.selectedTab = tab;
                    Cookies.set('navtabselected', tab.id);
                },
                getSelectedCoverageImage: function () {
                    var selectedCoverageImage = {};
                    this.selectedValues.thumbnails.forEach(function (thumbnail) {
                        if (thumbnail.Type == 'dekningsoversikt') {
                            selectedCoverageImage = thumbnail;
                            return;
                        }
                    });
                    return selectedCoverageImage;
                },
                setSelectedThumbnails: function (thumbnails) {
                    this.selectedValues.thumbnails = thumbnails;
                },
                addKeyword: function (keywordValue, keywordName) {
                    if (this.model[keywordName] == undefined) {
                        this.model[keywordName] = [];
                    }
                    this.model[keywordName].push(keywordValue);
                },
                removeKeyword: function (keywordIndex, keywordName) {
                    this.model[keywordName].Value.Formats.splice(keywordIndex, 1);
                },
                initDatePicker: function () {

                    $.datepicker.regional['nb'] = {
                        closeText: 'Lukk',
                        prevText: '&#xAB;Forrige',
                        nextText: 'Neste&#xBB;',
                        currentText: 'I dag',
                        monthNames: ['januar', 'februar', 'mars', 'april', 'mai', 'juni', 'juli', 'august', 'september', 'oktober', 'november', 'desember'],
                        monthNamesShort: ['jan', 'feb', 'mar', 'apr', 'mai', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'des'],
                        dayNamesShort: ['søn', 'man', 'tir', 'ons', 'tor', 'fre', 'lør'],
                        dayNames: ['søndag', 'mandag', 'tirsdag', 'onsdag', 'torsdag', 'fredag', 'lørdag'],
                        dayNamesMin: ['sø', 'ma', 'ti', 'on', 'to', 'fr', 'lø'],
                        weekHeader: 'Uke',
                        dateFormat: 'dd.mm.yy',
                        firstDay: 1,
                        isRTL: false,
                        showMonthAfterYear: false,
                        yearSuffix: ''
                    };
                    $.datepicker.setDefaults($.datepicker.regional['nb']);

                    $("input.date").datepicker({
                        changeMonth: true,
                        changeYear: true,
                        dateFormat: 'dd.mm.yy'
                    });
                }
            },
            components: {
                basic: Basic,
                timeAndSpace: TimeAndSpace,
                contact: Contact,
                distribution: Distribution,
                documents: Documents,
                constraints: Constraints,
                keywords: Keywords,
                quality: Quality,
                admin: Admin
            }
        });
    </script>
