@model Kartverket.MetadataEditor.Models.MetadataViewModel
@using Resources
@{
    ViewBag.Title = @Resources.UI.EditMetadata;
}
<div class="pull-right">
    <p><small>UUID: @Model.Uuid</small></p>
    <p class="text-right"><small>Metadata sist oppdatert: @Model.DateMetadataUpdated</small></p>
</div>

<h3>@ViewBag.Title</h3>
<h2>@Model.Title</h2>

@if (ViewBag.Saved == true)
{
    <div class="alert alert-success">
        Metadata ble lagret.
    </div>
}

@if (Model.HierarchyLevel == "service")
{
    <div class="text-right">
        <a href="@Url.Action("Index", "Service", new { uuid = @Model.Uuid })" class="btn btn-default btn-xs">
            Opprett metadata for WMS-lag
        </a>
    </div>
}

<ul class="nav nav-tabs" style="clear:both">
    <li class="active"><a href="#home" data-toggle="tab">Grunnleggende</a></li>
@if (Model.HierarchyLevel == "dataset")
{
    <li><a href="#dataset" data-toggle="tab">Detaljer om datasett</a></li>
}
@if (Model.HierarchyLevel == "service")
{
    <li><a href="#service" data-toggle="tab">Detaljer om tjeneste</a></li>
}
    <li><a href="#contact" data-toggle="tab">Kontaktinformasjon</a></li>
    <li><a href="#distribution" data-toggle="tab">Distribusjon</a></li>
    <li><a href="#documents" data-toggle="tab">Dokumenter</a></li>
    <li><a href="#constraints" data-toggle="tab">Restriksjoner</a></li>
    <li><a href="#quality" data-toggle="tab">Kvalitet</a></li>
    <li><a href="#english" data-toggle="tab">Engelsk</a></li>
</ul>

<form action="@Url.Action("Edit")" method="post" class="form form-horizontal" role="form">
    @Html.HiddenFor(m => m.Uuid)

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            @Html.Partial("_Basic", Model)
        </div>

        @if (Model.HierarchyLevel == "dataset")
        {
            <div class="tab-pane" id="dataset">
                @Html.Partial("_Dataset", Model)
            </div>
        }

        @if (Model.HierarchyLevel == "service")
        {
            <div class="tab-pane" id="service">
                @Html.Partial("_Service", Model)
            </div>
        }
        
        <div class="tab-pane" id="contact">
            @Html.Partial("_Contact", Model)

        </div>

        <div class="tab-pane" id="distribution">
            @Html.Partial("_Distribution", Model)
        </div>
        
        <div class="tab-pane" id="documents">
            @Html.Partial("_Documents", Model)
        </div>

        <div class="tab-pane" id="constraints">
            @Html.Partial("_Constraints", Model)
        </div>

        <div class="tab-pane" id="quality">
            @Html.Partial("_Quality", Model)
        </div>
        
        <div class="tab-pane" id="english">
            @Html.Partial("_English", Model)
        </div>

        </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Lagre</button>
        </div>
    </div>


</form>

@section scripts {
    <script>
        $(function () {
            $("button#prefillConformityInspire").click(function (event) {
                event.preventDefault();
                $("#QualitySpecificationTitle").val("COMMISSION REGULATION (EU) No 1089/2010 of 23 November 2010 implementing Directive 2007/2/EC of the European Parliament and of the Council as regards interoperability of spatial data sets and services");
                $("#QualitySpecificationDate").val("2010-12-08");
                $("#QualitySpecificationDateType").val("publication");
                $("#QualitySpecificationExplanation").val("See the referenced specification");
                $("#QualitySpecificationResult").prop('checked', true);
            });
            $("button#prefillConformitySosi").click(function (event) {
                event.preventDefault();
                $("#QualitySpecificationTitle").val("SOSI-fagområde");
                $("#QualitySpecificationDate").val("2014-01-01");
                $("#QualitySpecificationDateType").val("publication");
                $("#QualitySpecificationExplanation").val("See the referenced specification");
                $("#QualitySpecificationResult").prop('checked', true);
            });


            var $states = $('select#bboxState');
            var $counties = $('select#bboxCounty');

            var $countyList = $counties.find('option').clone();

            $states.change(function () {
                var $selectedStateNumber = $(this).find('option:selected').data('statenumber');
                var regex = new RegExp("^" + $selectedStateNumber);
                $counties.html($countyList.filter(function () {
                    return regex.test($(this).attr('data-countynumber'));
                }));
            }).change();


            $("button#bboxPrefill").click(function (event) {
                event.preventDefault();
                var $selectedCounty = $counties.find('option:selected');
                $("input#BoundingBoxNorth").val($selectedCounty.data('north'));
                $("input#BoundingBoxSouth").val($selectedCounty.data('south'));
                $("input#BoundingBoxEast").val($selectedCounty.data('east'));
                $("input#BoundingBoxWest").val($selectedCounty.data('west'));
            });


            function addKeyword(selectorPrefix, inputName, deleteLinkAttributes) {
                var deleteLinkAttributes = (typeof deleteLinkAttributes === "undefined") ? null : deleteLinkAttributes;

                var $keywordInput = $('#' + selectorPrefix + '-text');

                var newKeyword = $keywordInput.val();

                var elementId = $('ul#' + selectorPrefix + ' li').length;

                var listItemId = selectorPrefix + "-" + elementId;

                var li = $('<li />', { "id": listItemId });
                li.append($('<span />', { "class": "label label-success", text: newKeyword }));
                li.append('&nbsp;');

                var link = $('<a />', {
                    "href": "",
                    "class": "keyword-delete",
                    "data-delete": listItemId,
                    "data-list": selectorPrefix + '-text',
                    "data-list-value": newKeyword
                });
                link.append("<small>Slett</small>");

                li.append(link);
                li.append($('<input />', { "type": "hidden", "name": inputName + "[" + elementId + "]", "value": newKeyword }));
                
                $('ul#' + selectorPrefix).append(li);

                return $keywordInput;
            };

            function addKeywordFromCodeList(selectorPrefix, inputName) {
                $keywordInput = addKeyword(selectorPrefix, inputName);
                var $selected = $keywordInput.find("option:selected");
                $selected.attr("disabled", "disabled");
                $selected.removeAttr("selected");
            };

            function addKeywordFromTextbox(selectorPrefix, inputName) {
                $keywordInput = addKeyword(selectorPrefix, inputName);
                $keywordInput.val('');
            }

            $('button#keywords-theme-add').click(function (event) {
                event.preventDefault();
                addKeywordFromTextbox('keywords-theme', "KeywordsTheme");
            });

            $('button#keywords-place-add').click(function (event) {
                event.preventDefault();
                addKeywordFromTextbox('keywords-place', "KeywordsPlace");
            });
                        
            $('button#keywords-national-initiative-add').click(function (event) {
                event.preventDefault();
                addKeywordFromCodeList('keywords-national-initiative', "KeywordsNationalInitiative");
            });

            $('button#keywords-inspire-add').click(function (event) {
                event.preventDefault();
                addKeywordFromCodeList('keywords-inspire', "KeywordsInspire");
            });

            // use a delegated event handler to bind to all existing and future delete links
            $('body').on("click", "a.keyword-delete", function (event) { 
                event.preventDefault();

                if (confirm('Er du sikker på at du vil slette nøkkelordet?')) {
                    var deleteId = $(this).data('delete');

                   var $selectCodeList = $("select#" + $(this).data('list'));
                    if ($selectCodeList !== undefined) {
                        var selector = 'option:contains("' + $(this).data('list-value') + '")';
                        var option = $selectCodeList.children(selector);
                        option.removeAttr('disabled');
                    }
                    
                    $('li#' + deleteId).remove();
                }
            });

        });


        /*
    $(function() {
        var hash = document.location.hash;
        var prefix = "tab_";
        if (hash) {
            var l = hash.replace(prefix, "");
            console.log("l = " + l);
            //$().tab('show');
        }

        // Change hash for page-reload
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash.replace("#", "#" + prefix);
        });
    });
        */

    </script>
}