@model Kartverket.MetadataEditor.Models.MetadataViewModel
@using Resources
@{
    ViewBag.Title = @Resources.UI.EditMetadata;
}

<h2>@ViewBag.Title</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Om datasettet</a></li>
    <li><a href="#contact" data-toggle="tab">Kontaktinformasjon</a></li>
    <li><a href="#distribution" data-toggle="tab">Distribusjon</a></li>
    <li><a href="#documents" data-toggle="tab">Dokumenter</a></li>
    <!--
    <li><a href="#keywords" data-toggle="tab">Nøkkelord</a></li>
    
    <li><a href="#extent" data-toggle="tab">Utstrekning</a></li>
-->

</ul>

<form action="@Url.Action("Edit")" method="post" class="form form-horizontal" role="form">
    @Html.HiddenFor(m => m.Uuid)

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            <div class="form-group">
                <label for="uuid" class="col-sm-2 control-label">UUID</label>
                <div class="col-sm-4">
                    <p class="form-control-static" id="uuid">@Model.Uuid</p>
                </div>
                <label for="title" class="col-sm-2 control-label">Hierarchy level</label>
                <div class="col-sm-3">
                    <p class="form-control-static">@Model.HierarchyLevel</p>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Navn</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="title" value="@Model.Title">
                </div>
                <label for="titleTechnical" class="col-sm-2 control-label">Teknisk navn</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="titleTechnical" value="">
                </div>
            </div>

            <div class="form-group">
                <label for="purpose" class="col-sm-2 control-label">Formål</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Purpose, new { @class = "form-control", cols = "", rows = "3" })
                    <div class="help-block panel panel-success hidden" id="help-block-purpose">
                        <div class="panel-body">
                            Dette er hjelpeteksten
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <p class="form-control-static">
                        <a href="#" data-help-block-id="help-block-purpose" class="badge help-block-toggle">?</a>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="abstract" class="col-sm-2 control-label">Sammendrag</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Abstract, new { @class = "form-control", cols = "", rows = "6" })
                    <div class="help-block panel panel-success hidden" id="help-block-abstract">
                        <div class="panel-body">
                            Dette er hjelpeteksten
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <p class="form-control-static">
                        <a href="#" data-help-block-id="help-block-abstract" class="badge help-block-toggle">?</a>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="keywords" class="col-sm-2 control-label">Nøkkelord</label>
                <div class="col-sm-9">
                        @foreach (var key in Model.Keywords.Keys)
                        {
                            <div class="col-sm-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h5>@key</h5>
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var element in Model.Keywords[key])
                                            {
                                                <li><span class="label label-info">@element.Value</span></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>

            <div class="form-group">
                <label for="abstract" class="col-sm-2 control-label">Tematisk hovedkategori</label>
                <div class="col-sm-9">
                    @Html.EditorFor(m => m.TopicCategory, new { htmlAttributes = new { @class = "form-control"} })
                </div>                
            </div>

        @if (Model.HierarchyLevel == "dataset")
        {
            
        
            <div class="fields-dataset panel panel-info">
                <div class="panel-heading">
                    @Resources.UI.Metadata_Edit_DatasetFields
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="supplementalDescription" class="col-sm-2 control-label">Supplerende beskrivelse</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(m => m.SupplementalDescription, new { @class = "form-control", cols = "", rows = "3" })
                            <div class="help-block panel panel-success hidden" id="help-block-supplementalDescription">
                                <div class="panel-body">
                                    Dette er hjelpeteksten
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <p class="form-control-static">
                                <a href="#" data-help-block-id="help-block-supplementalDescription" class="badge help-block-toggle">?</a>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="usage" class="col-sm-2 control-label">Bruksområde</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(m => m.SpecificUsage, new { @class = "form-control", cols = "", rows = "3" })
                            <div class="help-block panel panel-success hidden" id="help-block-usage">
                                <div class="panel-body">
                                    Dette er hjelpeteksten
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <p class="form-control-static">
                                <a href="#" data-help-block-id="help-block-usage" class="badge help-block-toggle">?</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div><!-- fields-dataset-->
        }

        @if (Model.HierarchyLevel == "service") { 
            <div class="fields-dataset panel panel-info">
                <div class="panel-heading">
                    @Resources.UI.Metadata_Edit_ServiceFields
                </div>
                <div class="panel-body">
                    test
                </div>
            </div><!-- fields-service-->
        }
        </div><!-- /home -->

        <div class="tab-pane" id="contact">
            <br />
            
            <div class="panel panel-info">
                <div class="panel-heading">Kontakt (pointOfContact)</div>
                <div class="panel-body">
                    @Html.HiddenFor(m => Model.ContactPointOfContact.Role)
                    <div class="form-group">
                        <label for="abstract" class="col-sm-2 control-label">Navn</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => Model.ContactPointOfContact.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => Model.ContactPointOfContact.Organization, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="abstract" class="col-sm-2 control-label">Epost</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => Model.ContactPointOfContact.Email, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div> <!-- pointOfContact -->

            <div class="panel panel-info">
                <div class="panel-heading">Utgiver (publisher)</div>
                <div class="panel-body">
                    @Html.HiddenFor(m => Model.ContactPublisher.Role)
                    <div class="form-group">
                        <label for="abstract" class="col-sm-2 control-label">Navn</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => Model.ContactPublisher.Name, new { @class="form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => Model.ContactPublisher.Organization, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="abstract" class="col-sm-2 control-label">Epost</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => Model.ContactPublisher.Email, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div> <!-- publisher-->



        </div>

        <div class="tab-pane" id="distribution">
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Representasjonsform</label>
                <div class="col-sm-9">
                    <select class="form-control">
                        <option>Vektor</option>
                        <option>Raster</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Format</label>
                <div class="col-sm-9">
                    <select class="form-control">
                        <option>WGS 84</option>
                        <option>EPSG</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Protokoll</label>
                <div class="col-sm-9">
                    <select class="form-control">
                        <option>File for download</option>
                        <option>Web address</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">URL</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" />
                </div>
            </div>


        </div> <!-- /tab-pane distribution -->

        <div class="tab-pane" id="documents">
            @Html.Partial("_Documents", Model)
        </div>

        </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Lagre</button>
        </div>
    </div>


</form>

@section scripts {
    <script>
$(function() {
  //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    //save the latest tab; use cookies if you like 'em better:
    localStorage.setItem('lastTab', $(e.target).attr('id'));
  });

  //go to the latest tab, if it exists:
  var lastTab = localStorage.getItem('lastTab');
  if (lastTab) {
      $('#'+lastTab).tab('show');
  }
});
    </script>
}