@model Kartverket.MetadataEditor.Models.MetadataViewModel
@using Kartverket.MetadataEditor.Models
@using Resources
@using Kartverket.MetadataEditor.Helpers
@using Newtonsoft.Json;

@{
    ViewBag.Title = @Resources.UI.EditMetadata;

    JsonSerializerSettings settings = new JsonSerializerSettings();
    settings.ContractResolver = new DictionaryAsArrayResolver();

    string ViewModelSerialized = JsonConvert.SerializeObject(Model, settings);
    var ViewModelJson = @Html.Raw(ViewModelSerialized);
    string ViewBagSerialized = JsonConvert.SerializeObject(ViewBag);
    var ViewBagJson = @Html.Raw(ViewBagSerialized);


    bool showProductSheetGeneratorUrl = false;
    var ProductSheetGeneratorUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["ProductSheetGeneratorUrl"];
    if (ProductSheetGeneratorUrl != null && ProductSheetGeneratorUrl != "")
        showProductSheetGeneratorUrl = true;
}

@section breadcrumb{
    <li>@Model.TitleFromSelectedLanguage</li>
}

@* Import sub components *@
@Html.Partial("VueComponents/Fields/_Field")
@Html.Partial("VueComponents/Edit/Keywords/MultilingualKeywords/_MultilingualKeyword")
@Html.Partial("VueComponents/Edit/Keywords/_MultilingualKeywords")

@* Import template  components *@
@Html.Partial("VueComponents/Template/_Tab")

@* Import view components *@
@Html.Partial("VueComponents/Edit/_Basic")
@Html.Partial("VueComponents/Edit/_TimeAndSpace")
@Html.Partial("VueComponents/Edit/_Contact")
@Html.Partial("VueComponents/Edit/_Distribution")
@Html.Partial("VueComponents/Edit/_Documents")
@Html.Partial("VueComponents/Edit/_Constraints")
@Html.Partial("VueComponents/Edit/_Keywords")
@Html.Partial("VueComponents/Edit/_Quality")
@Html.Partial("VueComponents/Edit/_Admin")




@* Import Vuex*@
@Html.Partial("VuexStore/_Store", Model)



<div class="pull-right">
    <p class="text-right">
        <small>UUID: @Model.Uuid</small><br />
        <small>Metadata sist oppdatert: @String.Format("{0:dd.MM.yyyy}", Model.DateMetadataUpdated)</small>
        <br />
        <small>
            <div class="label @Model.GetInnholdstypeCSS()">@Model.GetInnholdstype()</div>

            @if (!string.IsNullOrWhiteSpace(Model.ParentIdentifier) && Model.HierarchyLevel == "service")
            {
                <span>[<a href="@Url.Action("Edit", new { uuid = @Model.ParentIdentifier})">Lenke til tjenesten</a>]</span>
            }

        </small>
    </p>
    <script>
        function hideshow(which) {
            if (!document.getElementById)
                return;
            if (which.style.visibility == "visible") {
                which.style.display = "none";
                which.style.visibility = "hidden";
            }
            else {
                which.style.display = "inline-block";
                which.style.visibility = "visible";
            }
        }
    </script>
    <div id="validation" style="display: none; visibility: hidden;">
        Validert <span id="validatedDate"></span>: <span id="validationStatus"></span>, <a style="cursor:pointer" class="alert-info" onclick="javascript: hideshow(document.getElementById('validationResults'))">detaljer</a>
    </div>
    <div id="validationResults" style="display:inline-block; visibility:hidden; position:absolute; width: 400px; height: auto; z-index: 3; background-color: white; border: 1px solid black;">
    </div>
</div>

<h3>@ViewBag.Title</h3>
<h2>@Model.TitleFromSelectedLanguage</h2>

@if (ViewBag.Saved == true)
{
    <div class="alert alert-success">
        Metadata ble lagret.
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        Det har oppstått en feil: @ViewBag.ErrorMessage
    </div>
}

@Html.ValidationSummary(false, "Skjemaet er ikke korrekt utfylt. Vennligst rett opp følgende feil og mangler:", new { @class = "alert alert-danger" })

<form action="@Url.Action("Edit", new { uuid = Model.Uuid })" method="post" class="form form-horizontal" role="form" onkeydown="@(TempData["success"] != null ? "removeokmsg();" : "" )">
    <div id="vue-container">
        <ul class="nav nav-tabs">
            <li is="tab" v-for="tab in $store.getters['settingsTabs']" v-bind:tab="tab"></li>
        </ul>
        <div v-bind:is="tab.id" v-show="$store.getters['settingsSelectedTab'].id == tab.id" v-for="tab in $store.getters['settingsTabs']"></div>
    </div>

    @Html.HiddenFor(m => m.Uuid)
    @Html.HiddenFor(m => m.DateMetadataUpdated)
    @Html.HiddenFor(m => m.HierarchyLevel)
    @if (Model.IsService())
    {
        <div id="operatesOn" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="operatesOn" aria-hidden="true">
            @Html.Partial("_OperatesOn", Model)
        </div>
        <div id="parentIdentifier" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="parentIdentifier" aria-hidden="true">
            @Html.Partial("_ParentIdentifier", Model)
        </div>
    }
    @if (Model.IsSoftware())
    {
        <div id="crossReference" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="crossReference" aria-hidden="true">
            @Html.Partial("_CrossReference", Model)
        </div>
    }

    @section ActionMenu {
        <div class="btn-group">
            @*<a href="@ViewBag.GeoNetworkXmlDownloadUrl" class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-file"></i> Last ned XML
                </a>*@

            <a href="@ViewBag.KartkatalogViewUrl" target="_blank" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-share-alt"></span> @UI.DisplayInMapCatalogue
            </a>
            @if (Model.IsService() && string.IsNullOrWhiteSpace(Model.ParentIdentifier))
            {
                if (@Model.DistributionProtocol != null && @Model.DistributionProtocol.Contains("OGC:WMS"))
                {
                    <a href="@Url.Action("Index", "Service", new { uuid = @Model.Uuid })" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-plus-sign"></span> Opprett metadata for tjenestelag
                    </a>
                }
                if (@Model.DistributionProtocol != null && @Model.DistributionProtocol.Contains("OGC:WFS"))
                {
                    <a href="@Url.Action("Index", "ServiceWfs", new { uuid = @Model.Uuid })" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-plus-sign"></span> Opprett metadata for tjenestelag
                    </a>
                }
            }
            @if (Model.IsDataset() && showProductSheetGeneratorUrl)
            {
                <a href="@ViewBag.CreateProductSheetUrl" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> @UI.CreateProductFactSheet</a>
            }

            @if (Model.IsService())
            {
                <a href="#" role="button" data-toggle="modal" id="operatesOnLink" data-target="#operatesOn" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Koble til datasett</a>
                <a href="#" role="button" data-toggle="modal" id="parentIdentifierLink" data-target="#parentIdentifier" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Koble til tjeneste</a>
            }
            @if (Model.IsSoftware())
            {
                <a href="#" role="button" data-toggle="modal" id="crossReferenceLink" data-target="#crossReference" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Koble til datasett</a>
            }
        </div>
    }

    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button onclick="location.href='@Url.Action("ConfirmDelete")?uuid=@Model.Uuid';return false;" name="action" type="button" class="btn btn-primary" value="">@UI.Delete</button>
            @if (!Html.ViewData.ModelState.IsValid /*&& ViewBag.IsAdmin == "1"*/)
            {
                <input type="checkbox" name="ignoreValidationError" value="1" /> <span>Ignorer feil</span>
            }
            else
            {
                <input type="hidden" name="ignoreValidationError" value="0" />
            }
            <input type="hidden" name="published" value="true" />
            @*}*@
            <button name="action" type="submit" class="btn btn-primary show-loading-animation" value="@UI.Button_Save" data-loading-message="Lagrer metadata">@UI.Button_Save</button>
        </div>
    </div>


</form>

@section scripts {
    <script>
        $(function () {

            //  add warning sign to tabs containing input fields with error.
            $('.input-validation-error').each(function () {
                var inputElement = $(this);
                var id = inputElement.closest(".tab-pane").attr('id');
                var tabLink = $('ul.nav-tabs a[href="#' + id + '"]');

                inputElement.closest('.form-group').addClass('has-error');
                tabLink.parent().addClass("has-error");

                var warning = tabLink.parent().find('span.glyphicon-warning-sign');
                if (warning.length == 0) {
                    tabLink.parent().attr('data-toggle', 'tooltip');
                    tabLink.parent().prop('title', 'Skillearket inneholder feil og mangler som må rettes opp før innsending av skjemaet');
                }
            });


            // Check date not in future
            $("#DateUpdated").change(function (event) {
                event.preventDefault();
                var currentDate = new Date();
                var selectedDateStr = $('#DateUpdated').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                if (selectedDate > currentDate) {
                    alert('Dato kan ikke være i fremtiden');
                    $('#DateUpdated').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                }
            });

            $("#DatePublished").change(function (event) {
                event.preventDefault();
                var currentDate = new Date();
                var selectedDateStr = $('#DatePublished').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                if (selectedDate > currentDate) {
                    alert('Dato kan ikke være i fremtiden');
                    $('#DatePublished').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                }
            });

            $("#DateCreated").change(function (event) {
                event.preventDefault();
                var currentDate = new Date();
                var selectedDateStr = $('#DateCreated').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                if (selectedDate > currentDate) {
                    alert('Dato kan ikke være i fremtiden');
                    $('#DateCreated').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                }
            });

            $("#DateMetadataValidFrom").change(function (event) {
                event.preventDefault();
                var selectedDateStr = $('#DateMetadataValidFrom').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                var validToStr = $('#DateMetadataValidTo').val();
                var validToArr = validToStr.split('.');
                var ValidToDate = new Date(validToArr[2], validToArr[1] - 1, validToArr[0]);

                if (ValidToDate < selectedDate) {
                    alert('Gyldig fra dato må være mindre enn gyldig til dato');
                    var newDate = new Date(ValidToDate);
                    newDate.setDate(newDate.getDate() - 1);
                    $('#DateMetadataValidFrom').val(newDate.getDate() + '.' + (newDate.getMonth() + 1) + '.' + newDate.getFullYear())
                }
            });

            $("#DateMetadataValidTo").change(function (event) {
                event.preventDefault();
                var selectedDateStr = $('#DateMetadataValidTo').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                var validFromStr = $('#DateMetadataValidFrom').val();
                var validFromArr = validFromStr.split('.');
                var ValidFromDate = new Date(validFromArr[2], validFromArr[1] - 1, validFromArr[0]);

                if (selectedDate < ValidFromDate) {
                    alert('Gyldig til dato må være større enn gyldig fra dato');
                    var newDate = new Date(ValidFromDate);
                    newDate.setDate(newDate.getDate() + 1);
                    $('#DateMetadataValidTo').val(newDate.getDate() + '.' + (newDate.getMonth() + 1) + '.' + newDate.getFullYear())
                }
            });

            $("#QualitySpecificationDate").change(function (event) {
                event.preventDefault();
                var currentDate = new Date();
                var selectedDateStr = $('#QualitySpecificationDate').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                if (selectedDate > currentDate) {
                    alert('Dato kan ikke være i fremtiden');
                    $('#QualitySpecificationDate').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                }
            });
        });

        function removeReferenceSystem(refID) {
            var elem = document.getElementById("referenceRow" + refID);
            elem.parentNode.removeChild(elem);
            document.getElementById('ReferenceSystemsCount').value -= 1;
        };

        //Setting placeholders
        var placeholderText = "Skriv inn";
        var placeholderTextChoose = "Klikk for å velge";

        $(document).ready(function () {
            $('form').find("input[type=textarea], input[type=text], textarea").each(function (ev) {
                if (!$(this).val() && !$(this).prop("disabled")) {
                    $(this).attr("placeholder", placeholderText);
                }
            });

            $('form').find("select").each(function (ev) {
                if ($(this).val() === '') {
                    idElem = $(this)[0].id;
                    $("#" + idElem + " option[value='']").text(placeholderTextChoose);
                }
            });

        });


        function loadConcepts() {
            $.ajax({
                headers: {
                    Accept: "application/rdf+xml",
                    "Content-Type": "text/plain; charset=utf-8"
                },
                type: "GET",
                url: $("#ApplicationSchema").val(),
                success: setConcepts
            });
        }

        function setConcepts(xml) {
            var conceptFound = false;
            $('#KeywordsConceptAlert').removeClass("alert alert-warning");
            $('#KeywordsConceptAlert').html("");
            $("#KeywordsConcept option").remove();
            $(xml).find("skos\\:Concept, Concept").each(function () {
                var prefLabel = $(this).find("skos\\:prefLabel, prefLabel").text();
                var about = $(this).attr("rdf:about");
                $('#KeywordsConcept').append($("<option selected></option>")
                    .attr("value", prefLabel + "|" + about)
                    .text(prefLabel));
                conceptFound = true;
            });
            $('#KeywordsConcept').trigger("chosen:updated");
            if (!conceptFound) {
                $('#KeywordsConceptAlert').addClass("alert alert-warning");
                $('#KeywordsConceptAlert').html("Fant ingen begreper");
            }
        }

    </script>
}


<script>
        var vueModel = new Vue({
            el: "#vue-container",
            store: new Vuex.Store(Store),
            data: {
                model: @ViewModelJson,
                viewBag: @ViewBagJson,
                selectedValues: {
                    timeAndSpace: {
                        boundingBox: {
                            areas: []
                        }
                    },
                    documents: {
                        keywordsConcept: {
                            concepts: []
                        }
                    },
                    admin: {
                        keywordsCatalogs: []
                    }
                }
            },
            computed: {
                isDatasetOrDatasetSeries: function () {
                    var hierarchyLevel = this.$root.model.HierarchyLevel;
                    return hierarchyLevel == 'dataset' || hierarchyLevel == 'series';
                },
                isSoftware: function () {
                    var hierarchyLevel = this.$root.model.HierarchyLevel;
                    return hierarchyLevel == 'software' || hierarchyLevel == 'series';
                },
                isService: function () {
                    var hierarchyLevel = this.$root.model.HierarchyLevel;
                    return hierarchyLevel == "service";
                },
                hasCoverageImage: function () {
                    var hasCoverageImage = false;
                    this.$store.getters['Thumbnails'].forEach(function (thumbnail) {
                        if (thumbnail.Type == 'dekningsoversikt') {
                            hasCoverageImage = true;
                            return;
                        }
                    });
                    return hasCoverageImage;
                }
            },
            created: function () {
                this.setSelectedLanguage();
            },
            mounted: function () {
                this.$store.dispatch('getSelectedTab');
                if (applicationEnvironment == "dev") {
                    for (var getter in this.$store.getters) {
                        if (this.$store.getters.hasOwnProperty(getter)) {
                            if (this.$store.getters[getter] === undefined) {
                                console.log('Vuex getter: "' + getter + '" is undefined');
                            }
                        }
                    }
                }
                $('textarea').autosize();
            },
            methods: {
                setSelectedLanguage: function () {
                    var selectedLanguage = Cookies.get('_culture') !== undefined ? Cookies.get('_culture') : 'no';
                    this.$store.commit('updateSettingsSelectedLanguage', selectedLanguage);
                },
                getSelectedCoverageImage: function () {
                    var selectedCoverageImage = {};
                    $store.getters['Thumbnails'].forEach(function (thumbnail) {
                        if (thumbnail.Type == 'dekningsoversikt') {
                            selectedCoverageImage = thumbnail;
                            return;
                        }
                    });
                    return selectedCoverageImage;
                },
            },
            components: {
                Tab: Tab,
                Basic: Basic,
                TimeAndSpace: TimeAndSpace,
                Contact: Contact,
                Distribution: Distribution,
                Documents: Documents,
                Constraints: Constraints,
                Keywords: Keywords,
                Quality: Quality,
                Admin: Admin
            }
        });
</script>
