@model Kartverket.MetadataEditor.Models.MetadataViewModel
@using Kartverket.MetadataEditor.Models
@using Resources
@using Kartverket.MetadataEditor.Helpers
@using Newtonsoft.Json;

@{
    ViewBag.Title = @Resources.UI.EditMetadata;

    JsonSerializerSettings settings = new JsonSerializerSettings();
    settings.ContractResolver = new DictionaryAsArrayResolver();

    string ViewModelSerialized = JsonConvert.SerializeObject(Model, settings);
    var ViewModelJson = @Html.Raw(ViewModelSerialized);
    string ViewBagSerialized = JsonConvert.SerializeObject(ViewBag);
    var ViewBagJson = @Html.Raw(ViewBagSerialized);


    bool showProductSheetGeneratorUrl = false;
    var ProductSheetGeneratorUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["ProductSheetGeneratorUrl"];
    if (ProductSheetGeneratorUrl != null && ProductSheetGeneratorUrl != "")
        showProductSheetGeneratorUrl = true;
}

@section breadcrumb{
    <li>@Model.TitleFromSelectedLanguage</li>
}

@* Import sub components *@
@Html.Partial("VueComponents/Fields/_Field")
@Html.Partial("VueComponents/Edit/Keywords/KeywordsSection/_MultilingualKeyword")
@Html.Partial("VueComponents/Edit/Keywords/KeywordsSection/_MonolingualKeyword")
@Html.Partial("VueComponents/Edit/Keywords/_KeywordsSection")

@* Import template  components *@
@Html.Partial("VueComponents/Template/_Tab")

@* Import view components *@
@Html.Partial("VueComponents/Edit/_Basic")
@Html.Partial("VueComponents/Edit/_TimeAndSpace")
@Html.Partial("VueComponents/Edit/_Contact")
@Html.Partial("VueComponents/Edit/_Distribution")
@Html.Partial("VueComponents/Edit/_Documents")
@Html.Partial("VueComponents/Edit/_Constraints")
@Html.Partial("VueComponents/Edit/_Keywords")
@Html.Partial("VueComponents/Edit/_Quality")
@Html.Partial("VueComponents/Edit/_Admin")




@* Import Vuex*@
@Html.Partial("VuexStore/_Store", Model)



<div class="pull-right">
    <p class="text-right">
        <small>UUID: @Model.Uuid</small><br />
        <small>@UI.MetadataLastUpdated: @Model.DateMetadataUpdated.Value.ToShortDateString()</small>
        <br />
        <small>
            <div class="label @Model.GetInnholdstypeCSS()">@Model.GetInnholdstype()</div>
            @if (Model.HierarchyLevel == "series" && !string.IsNullOrEmpty(Model.HierarchyLevelName))
            {
                <span>@Model.HierarchyLevelName</span>
            }
            @if (!string.IsNullOrWhiteSpace(Model.ParentIdentifier) && Model.HierarchyLevel == "service")
            {
                <span>[<a href="@Url.Action("Edit", new { uuid = @Model.ParentIdentifier})">Lenke til tjenesten</a>]</span>
            }

        </small>
    </p>
    <script>
        function hideshow(which) {
            if (!document.getElementById)
                return;
            if (which.style.visibility == "visible") {
                which.style.display = "none";
                which.style.visibility = "hidden";
            }
            else {
                which.style.display = "inline-block";
                which.style.visibility = "visible";
            }
        }
    </script>
    <div id="validation" style="display: none; visibility: hidden;">
        Validert <span id="validatedDate"></span>: <span id="validationStatus"></span>, <a style="cursor:pointer" class="alert-info" onclick="javascript: hideshow(document.getElementById('validationResults'))">detaljer</a>
    </div>
    <div id="validationResults" style="display:inline-block; visibility:hidden; position:absolute; width: 400px; height: auto; z-index: 3; background-color: white; border: 1px solid black;">
    </div>
</div>

<h3>@ViewBag.Title</h3>
<h2>@Model.TitleFromSelectedLanguage</h2>

@if (ViewBag.Saved == true)
{
    <div class="alert alert-success">
        Metadata ble lagret.
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        Det har oppstått en feil: @ViewBag.ErrorMessage
    </div>
}

@Html.ValidationSummary(false, UI.FormValidationErrors + ":", new { @class = "alert alert-danger" })

<form action="@Url.Action("Edit", new { uuid = Model.Uuid })" method="post" class="form form-horizontal" role="form" onkeydown="@(TempData["success"] != null ? "removeokmsg();" : "" )">
    <div id="vue-container">
        <ul class="nav nav-tabs">
            <li is="tab" v-show="tab.display == true" v-for="tab in $store.getters['settingsTabs']" v-bind:tab="tab"></li>
        </ul>
        <div v-bind:is="tab.id" v-show="$store.getters['settingsSelectedTab'].id == tab.id" v-for="tab in $store.getters['settingsTabs']"></div>
    </div>

    @Html.HiddenFor(m => m.Uuid)
    @Html.HiddenFor(m => m.DateMetadataUpdated)
    @Html.HiddenFor(m => m.HierarchyLevel)
    @if (Model.IsService())
    {
        <div id="operatesOn" class="modal" tabindex="-1" role="dialog" aria-labelledby="operatesOn" aria-hidden="true">

            <div class="modal-dialog" style="width: 75%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Koble til datasett (@Model.Title)</h4>
                        <div style="right: 5px; top: 5px; position:absolute;"><button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button></div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <input class="form-control" type="text" id="searchmetadata" onkeydown="if (event.keyCode == 13) { getMetadataFreetext(document.getElementById('searchmetadata').value); return false; }" />
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="form-control" onclick="getMetadataFreetext(document.getElementById('searchmetadata').value);">Søk</button>
                                <span id="searchInfo" style="color:red"></span>
                            </div>
                            <div class="col-sm-6"><b>Tilknyttede datasett:</b></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <br />
                                <div id="searchresultsDS">

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="operatesOnDIV">
                                    @for (int i = 0; i < Model.OperatesOn.Count; i++)
                                    {
                                        <div id="operatesOn-@Model.OperatesOn[i].ToString()" class="row">
                                            <input type="hidden" value="@Model.OperatesOn[i].ToString()" name="OperatesOn" />
                                            <div class="col-sm-8">
                                                <div id="title-@Model.OperatesOn[i].ToString()">

                                                </div>
                                            </div>
                                            <div class="col-sm-2 btn-group">
                                                <a href="@Html.KartkatalogUrl()metadata/uuid/@Model.OperatesOn[i].ToString()" target="_blank" class="btn btn-default btn-xs">
                                                    <span class="glyphicon glyphicon-share-alt"></span> Vis i katalog
                                                </a>
                                            </div>
                                            <div class="col-sm-2 btn-group">
                                                <a href="#" onclick="document.getElementById('operatesOn-@Model.OperatesOn[i].ToString()').parentNode.removeChild(document.getElementById('operatesOn-@Model.OperatesOn[i].ToString()'));" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Slett</a>
                                            </div>
                                        </div>
                                        <hr style="margin: 2px 2px 2px 2px" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="parentIdentifier" class="modal" tabindex="-1" role="dialog" aria-labelledby="parentIdentifier" aria-hidden="true">
            <div class="modal-dialog" style="width: 75%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Koble til tjeneste (@Model.Title)</h4>
                        <div style="right: 5px; top: 5px; position:absolute;"><button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button></div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <input class="form-control" type="text" id="searchmetadataService" onkeydown="if (event.keyCode == 13) { getMetadataService(document.getElementById('searchmetadataService').value); return false; }" />
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="form-control" onclick="getMetadataService(document.getElementById('searchmetadataService').value);">Søk</button>
                                <span id="searchInfoService" style="color:red"></span>
                            </div>
                            <div class="col-sm-6"><b>Tilknyttet tjeneste:</b></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <br />
                                <div id="searchresultsService">

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="parentIdentifierDIV">
                                    @if (!string.IsNullOrEmpty(Model.ParentIdentifier))
                                    {
                                        <div id="parentIdentifier-@Model.ParentIdentifier" class="row">
                                            <input type="hidden" value="@Model.ParentIdentifier" name="parentIdentifier" />
                                            <div class="col-sm-8">
                                                <div id="titleService-@Model.ParentIdentifier">
                                                    <script>getMetadataForService('@Model.ParentIdentifier');</script>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 btn-group">
                                                <a href="@Html.KartkatalogUrl()metadata/uuid/@Model.ParentIdentifier" target="_blank" class="btn btn-default btn-xs">
                                                    <span class="glyphicon glyphicon-share-alt"></span> Vis i katalog
                                                </a>
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.IsSoftware())
    {
        <div id="crossReference" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="crossReference" aria-hidden="true">
            @Html.Partial("_CrossReference", Model)
        </div>
    }
    @if (Model.IsDataset())
    {
        <div id="parentIdentifier" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="parentIdentifier" aria-hidden="true">
            @Html.Partial("_ParentIdentifierSeries", Model)
        </div>
    }

    @section ActionMenu {
        <div class="btn-group">
            @*<a href="@ViewBag.GeoNetworkXmlDownloadUrl" class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-file"></i> Last ned XML
                </a>*@

            <a href="@ViewBag.KartkatalogViewUrl" target="_blank" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-share-alt"></span> @UI.DisplayInMapCatalogue
            </a>
            @if (Model.IsService() && string.IsNullOrWhiteSpace(Model.ParentIdentifier))
            {
                if (@Model.DistributionProtocol != null && @Model.DistributionProtocol.Contains("OGC:WMS"))
                {
                    <a href="@Url.Action("Index", "Service", new { uuid = @Model.Uuid })" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-plus-sign"></span> Opprett metadata for tjenestelag
                    </a>
                }
                if (@Model.DistributionProtocol != null && @Model.DistributionProtocol.Contains("OGC:WFS"))
                {
                    <a href="@Url.Action("Index", "ServiceWfs", new { uuid = @Model.Uuid })" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-plus-sign"></span> Opprett metadata for tjenestelag
                    </a>
                }
            }
            @if (Model.IsDataset() && showProductSheetGeneratorUrl)
            {
                <a href="@ViewBag.CreateProductSheetUrl" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> @UI.CreateProductFactSheet</a>
            }

            @if (Model.IsService())
            {
                <a href="#" role="button" data-toggle="modal" id="operatesOnLink" data-target="#operatesOn" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> @UI.LinkToDataset</a>
                <a href="#" role="button" data-toggle="modal" id="parentIdentifierLink" data-target="#parentIdentifier" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> @UI.AddLinkToService</a>
            }
            @if (Model.IsSoftware())
            {
                <a href="#" role="button" data-toggle="modal" id="crossReferenceLink" data-target="#crossReference" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Koble til datasett</a>
            }
            @if (Model.IsDataset())
            {
                <a href="#" role="button" data-toggle="modal" id="parentIdentifierLink" data-target="#parentIdentifier" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Koble til datasettserie</a>
            }
        </div>
    }

    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button onclick="location.href='@Url.Action("ConfirmDelete")?uuid=@Model.Uuid';return false;" name="action" type="button" class="btn btn-primary" value="">@UI.Delete</button>
            @if (!Html.ViewData.ModelState.IsValid /*&& ViewBag.IsAdmin == "1"*/)
            {
                <input type="checkbox" name="ignoreValidationError" value="1" /> <span>@UI.IgnoreErrors</span>
            }
            else
            {
                <input type="hidden" name="ignoreValidationError" value="0" />
            }
            <input type="hidden" name="published" value="true" />
            @*}*@
            <button name="action" type="submit" class="btn btn-primary show-loading-animation" value="@UI.Button_Save" data-loading-message="Lagrer metadata">@UI.Button_Save</button>
        </div>
    </div>


</form>

@section scripts {
    <script>
                        function getMetadata(uuid) {

    $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?text=" + uuid + "&lang=" + Cookies.get('_culture'), function (result) {


    if (result.length != 0) {
    if (result.Results.length != 0) {
    var title = result.Results[0].Title;
    $("#title-" + uuid).text(title);
    }
    else { $("#title-" + uuid).text("TITTEL MANGLER"); }
    }

    else {
    $("#title-" + uuid).text("TITTEL MANGLER");
    }

    });
    };


    function getMetadataFreetext(searchStr) {

    $('#searchresultsDS').empty();
    $('#searchInfo').text('Fant ingen metadata');
    if (searchStr == '') {
    $('#searchInfo').text('Vennligst skriv inn søkeord');
    return false;
    }

    var counter = 0;

    $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?limit=25&facets[0]name=type&facets[0]value=dataset&text=" + searchStr + "&lang=" + Cookies.get('_culture'), function (result) {

    if (result.length != 0) {

    if (result.Results.length != 0) {
    for (r = counter ; r < result.Results.length; r++) {
    displayMetadataRow(result.Results[r]);
    }
    $('#searchInfo').text('');
    }

    }

    });

    $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?facets[0]name=type&facets[0]value=series&text=" + searchStr + "&lang=" + Cookies.get('_culture'), function (result) {

    if (result.length != 0) {

    if (result.Results.length != 0) {
    for (r = counter ; r < result.Results.length; r++) {
    displayMetadataRow(result.Results[r]);
    }

    $('#searchInfo').text('');
    }

    }

    });

    };


    function displayMetadataRow(result) {
    var div = '<div class="row"><div class="col-sm-10">' + result.Title + ', ' + result.Organization + '</div> <div class="col-sm-2"> <a onclick="addOperatesOn(\'' + result.Uuid + '\')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Legg til' + '</a> </div> </div> <hr style="margin: 2px 2px 2px 2px" />';
    $('#searchresultsDS').append(div);
    }

    function addOperatesOn(Uuid) {
    var h = '<div id="operatesOn-' + Uuid + '" class="row">';
        h += '<input type="hidden" value="' + Uuid + '" name="OperatesOn" />';

        h += '<div class="col-sm-8">';

            h += '<div id="title-' + Uuid + '">';
                h += '<script>getMetadata(\'' + Uuid + '\'' + '\)\;\<\/script>';
        h += '</div>';

        h += '</div>';

        h += '<div class="col-sm-2 btn-group">';
        h += '<a href="@Html.KartkatalogUrl()metadata/uuid/' + Uuid + '" target="_blank" class="btn btn-default btn-xs">';
        h += ' <span class="glyphicon glyphicon-share-alt"></span> Vis i katalog';
        h += '   </a>';
        h += '</div>';

        h += '<div class="col-sm-2 btn-group">';
        h += '<a href="#" onclick="document.getElementById(\'operatesOn-' + Uuid + '\').parentNode.removeChild(document.getElementById(\'operatesOn-' + Uuid + '\'));" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Slett</a>';
        h += '</div>';

        h += '</div>';
        h += '<hr style="margin: 2px 2px 2px 2px" />';
        if(document.getElementById('operatesOn-' + Uuid) == null){
            $('#operatesOnDIV').append(h);
            alert('Datasett ble lagt til');
        }
        else { alert('Datasett er allerede lagt til');}

    }

                            $(function () {

                                    //  add warning sign to tabs containing input fields with error.
                                    $('.input-validation-error').each(function () {
                                        var inputElement = $(this);
                                        var id = inputElement.closest(".tab-pane").attr('id');
                                        var tabLink = $('ul.nav-tabs a[href="#' + id + '"]');

                                        inputElement.closest('.form-group').addClass('has-error');
                                        tabLink.parent().addClass("has-error");

                                        var warning = tabLink.parent().find('span.glyphicon-warning-sign');
                                        if (warning.length == 0) {
                                            tabLink.parent().attr('data-toggle', 'tooltip');
                                            tabLink.parent().prop('title', 'Skillearket inneholder feil og mangler som må rettes opp før innsending av skjemaet');
                                        }
                                    });


                                // Check date not in future
                                $("#DateUpdated").change(function (event) {
                                    event.preventDefault();
                                    var currentDate = new Date();
                                    var selectedDateStr = $('#DateUpdated').val();
                                    var selectedDateArr = selectedDateStr.split('.');
                                    var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                                    if (selectedDate > currentDate) {
                                    alert('Dato kan ikke være i fremtiden');
                                        $('#DateUpdated').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                                    }
                                });

                                $("#DatePublished").change(function (event) {
                                    event.preventDefault();
                                    var currentDate = new Date();
                                    var selectedDateStr = $('#DatePublished').val();
                                    var selectedDateArr = selectedDateStr.split('.');
                                    var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                                    if (selectedDate > currentDate) {
                                    alert('Dato kan ikke være i fremtiden');
                                        $('#DatePublished').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                                    }
                                });

                                $("#DateCreated").change(function (event) {
                                    event.preventDefault();
                                    var currentDate = new Date();
                                    var selectedDateStr = $('#DateCreated').val();
                                    var selectedDateArr = selectedDateStr.split('.');
                                    var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                                    if (selectedDate > currentDate) {
                                    alert('Dato kan ikke være i fremtiden');
                                        $('#DateCreated').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                                    }
                                });

                                $("#DateMetadataValidFrom").change(function (event) {
                                    event.preventDefault();
                                    var selectedDateStr = $('#DateMetadataValidFrom').val();
                                    var selectedDateArr = selectedDateStr.split('.');
                                    var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                                    var validToStr = $('#DateMetadataValidTo').val();
                                    var validToArr = validToStr.split('.');
                                    var ValidToDate = new Date(validToArr[2], validToArr[1] - 1, validToArr[0]);

                                    if (ValidToDate < selectedDate) {
                                    alert('Gyldig fra dato må være mindre enn gyldig til dato');
                                        var newDate = new Date(ValidToDate);
                                        newDate.setDate(newDate.getDate() - 1);
                                        $('#DateMetadataValidFrom').val(newDate.getDate() + '.' + (newDate.getMonth() + 1) + '.' + newDate.getFullYear())
                                    }
                                });

                                $("#DateMetadataValidTo").change(function (event) {
                                    event.preventDefault();
                                    var selectedDateStr = $('#DateMetadataValidTo').val();
                                    var selectedDateArr = selectedDateStr.split('.');
                                    var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                                    var validFromStr = $('#DateMetadataValidFrom').val();
                                    var validFromArr = validFromStr.split('.');
                                    var ValidFromDate = new Date(validFromArr[2], validFromArr[1] - 1, validFromArr[0]);

                                    if (selectedDate < ValidFromDate) {
                                    alert('Gyldig til dato må være større enn gyldig fra dato');
                                        var newDate = new Date(ValidFromDate);
                                        newDate.setDate(newDate.getDate() + 1);
                                        $('#DateMetadataValidTo').val(newDate.getDate() + '.' + (newDate.getMonth() + 1) + '.' + newDate.getFullYear())
                                    }
                                });

                                $("#QualitySpecificationDate").change(function (event) {
                                    event.preventDefault();
                                    var currentDate = new Date();
                                    var selectedDateStr = $('#QualitySpecificationDate').val();
                                    var selectedDateArr = selectedDateStr.split('.');
                                    var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                                    if (selectedDate > currentDate) {
                                    alert('Dato kan ikke være i fremtiden');
                                        $('#QualitySpecificationDate').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                                    }
                                });
                            });

                            function removeReferenceSystem(refID) {
                                var elem = document.getElementById("referenceRow" + refID);
                                elem.parentNode.removeChild(elem);
                                document.getElementById('ReferenceSystemsCount').value -= 1;
                            };



                            function loadConcepts() {
                                    $.ajax({
                                        headers: {
                                            Accept: "application/rdf+xml",
                                            "Content-Type": "text/plain; charset=utf-8"
                                        },
                                        type: "GET",
                                        url: $("#ApplicationSchema").val(),
                                        success: setConcepts
                                    });
                            }

                            function setConcepts(xml) {
                                var conceptFound = false;
                                $('#KeywordsConceptAlert').removeClass("alert alert-warning");
                                $('#KeywordsConceptAlert').html("");
                                $("#KeywordsConcept option").remove();
                                $(xml).find("skos\\:Concept, Concept").each(function () {
                                    var prefLabel = $(this).find("skos\\:prefLabel, prefLabel").text();
                                    var about = $(this).attr("rdf:about");
                                    $('#KeywordsConcept').append($("<option selected></option>")
                                        .attr("value", prefLabel + "|" + about)
                                        .text(prefLabel));
                                    conceptFound = true;
                                });
                                $('#KeywordsConcept').trigger("chosen:updated");
                                if (!conceptFound) {
                                    $('#KeywordsConceptAlert').addClass("alert alert-warning");
                                    $('#KeywordsConceptAlert').html("Fant ingen begreper");
                                }
                            }

    </script>


    <script>
        var vueModel = new Vue({
            el: "#vue-container",
            store: new Vuex.Store(Store),
            data: {
                model: @ViewModelJson,
                viewBag: @ViewBagJson,
                selectedValues: {
                    timeAndSpace: {
                        boundingBox: {
                            areas: []
                        }
                    },
                    documents: {
                        keywordsConcept: {
                            concepts: []
                        }
                    },
                    admin: {
                        keywordsCatalogs: []
                    }
                }
            },
            computed: {
                hasCoverageImage: function () {
                    var hasCoverageImage = false;
                    this.$store.getters['Thumbnails'].forEach(function (thumbnail) {
                        if (thumbnail.Type == 'dekningsoversikt') {
                            hasCoverageImage = true;
                            return;
                        }
                    });
                    return hasCoverageImage;
                }
            },
            created: function () {
                this.setSelectedLanguage();
            },
            mounted: function () {
                this.$store.dispatch('getSelectedTab');
                if (applicationEnvironment == "dev") {
                    for (var getter in this.$store.getters) {
                        if (this.$store.getters.hasOwnProperty(getter)) {
                            if (this.$store.getters[getter] === undefined) {
                                console.log('Vuex getter: "' + getter + '" is undefined');
                            }
                        }
                    }
                }
                $(document).ready(function () {
                    autosize($('textarea'));
                })
            },
            methods: {
                setSelectedLanguage: function () {
                    var selectedLanguage = Cookies.get('_culture') !== undefined ? Cookies.get('_culture') : 'no';
                    this.$store.commit('updateSettingsSelectedLanguage', selectedLanguage);
                }
            },
            components: {
                Tab: Tab,
                Basic: Basic,
                TimeAndSpace: TimeAndSpace,
                Contact: Contact,
                Distribution: Distribution,
                Documents: Documents,
                Constraints: Constraints,
                Keywords: Keywords,
                Quality: Quality,
                Admin: Admin
            }
        });
    </script>
    <script>
    function getMetadataForService(uuid) {

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?text=" + uuid, function (result) {


            if (result.length != 0) {
                if (result.Results.length != 0) {
                    var titleService = result.Results[0].Title;
                    $("#titleService-" + uuid).text(titleService);
                }
                else { $("#titleService-" + uuid).text("TITTEL MANGLER"); }
            }

            else {
                $("#titleService-" + uuid).text("TITTEL MANGLER");
            }

        });
    };

    function getMetadataService(searchStr) {

        $('#searchresultsService').empty();
        $('#searchInfoService').text('Fant ingen metadata');
        if (searchStr == '') {
            $('#searchInfoService').text('Vennligst skriv inn søkeord');
            return false;
        }

        var counter = 0;

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?facets[0]name=type&facets[0]value=service&text=" + searchStr, function (result) {

            if (result.length != 0) {

                if (result.Results.length != 0) {
                    for (r = counter ; r < result.Results.length; r++) {
                        displayMetadataServiceRow(result.Results[r]);
                    }
                    $('#searchInfoService').text('');
                }

            }

        });

    };


    function displayMetadataServiceRow(result) {
        var div = '<div class="row"><div class="col-sm-10">' + result.Title + ', ' + result.Organization + '</div> <div class="col-sm-2"> <a onclick="setParentIdentifier(\'' + result.Uuid + '\')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Velg' + '</a> </div> </div> <hr style="margin: 2px 2px 2px 2px" />';
        $('#searchresultsService').append(div);
    }

    function setParentIdentifier(Uuid) {
        if (Uuid == $('#Uuid').val()) {
            $('#searchInfoService').text('Kan ikke koble tjenesten til seg selv');
        }
        else
        {
        var h = '<div id="parentIdentifier-' + Uuid + '" class="row">';
        h += '<input type="hidden" value="' + Uuid + '" name="ParentIdentifier" />';

        h += '<div class="col-sm-8">';

        h += '<div id="titleService-' + Uuid + '">';
        h += '<script>getMetadataForService(\'' + Uuid + '\'' + '\)\;\<\/script>';
        h += '</div>';

        h += '</div>';

        h += '<div class="col-sm-4 btn-group">';
        h += '<a href="@Html.KartkatalogUrl()metadata/uuid/' + Uuid + '" target="_blank" class="btn btn-default btn-xs">';
        h += ' <span class="glyphicon glyphicon-share-alt"></span> Vis i katalog';
        h += '   </a>';
        h += '</div>';

        h += '</div>';
        h += '<hr style="margin: 2px 2px 2px 2px" />';

            $('#parentIdentifierDIV').html(h);
        }


    }

    </script>
    @for (int i = 0; i < Model.OperatesOn.Count; i++)
    {
        <script>getMetadata('@Model.OperatesOn[i].ToString()');</script>
    }
}

