@model Kartverket.MetadataEditor.Models.MetadataViewModel
@using Resources
@{
    ViewBag.Title = @Resources.UI.EditMetadata;
}

<h2>@ViewBag.Title for @Model.Title</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Om datasettet</a></li>
    <li><a href="#contact" data-toggle="tab">Kontaktinformasjon</a></li>
    <li><a href="#distribution" data-toggle="tab">Distribusjon</a></li>
    <li><a href="#documents" data-toggle="tab">Dokumenter</a></li>
    <li><a href="#quality" data-toggle="tab">Kvalitet</a></li>
</ul>

<form action="@Url.Action("Edit")" method="post" class="form form-horizontal" role="form">
    @Html.HiddenFor(m => m.Uuid)

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            <div class="text-right"><small>Metadata sist oppdatert: @Model.DateMetadataUpdated</small></div>

            <div class="form-group">
                <label for="uuid" class="col-sm-2 control-label">UUID</label>
                <div class="col-sm-4">
                    <p class="form-control-static" id="uuid">@Model.Uuid</p>
                </div>
                <label for="title" class="col-sm-2 control-label">Hierarchy level</label>
                <div class="col-sm-3">
                    <p class="form-control-static">@Model.HierarchyLevel</p>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Navn</label>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Title)
                </div>
            </div>

            <div class="form-group">
                <label for="purpose" class="col-sm-2 control-label">Formål</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Purpose, new { @class = "form-control", cols = "", rows = "3" })
                    <div class="help-block panel panel-success hidden" id="help-block-purpose">
                        <div class="panel-body">
                            Dette er hjelpeteksten
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <p class="form-control-static">
                        <a href="#" data-help-block-id="help-block-purpose" class="badge help-block-toggle">?</a>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="abstract" class="col-sm-2 control-label">Sammendrag</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => m.Abstract, new { @class = "form-control", cols = "", rows = "6" })
                    <div class="help-block panel panel-success hidden" id="help-block-abstract">
                        <div class="panel-body">
                            Dette er hjelpeteksten
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <p class="form-control-static">
                        <a href="#" data-help-block-id="help-block-abstract" class="badge help-block-toggle">?</a>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="keywords" class="col-sm-2 control-label">Nøkkelord</label>
                <div class="col-sm-9">
                        @foreach (var key in Model.Keywords.Keys)
                        {
                            <div class="col-sm-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h5>@key</h5>
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var element in Model.Keywords[key])
                                            {
                                                <li><span class="label label-info">@element.Value</span></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>



            <div class="form-group">
                <label for="abstract" class="col-sm-2 control-label">Opprettet dato</label>
                <div class="col-sm-2">
                    @Html.EditorFor(m => m.DateCreated)
                </div>
                <label for="abstract" class="col-sm-2 control-label">Publiseringsdato</label>
                <div class="col-sm-2">
                    @Html.EditorFor(m => m.DatePublished)
                </div>
                <label for="abstract" class="col-sm-2 control-label">Dato sist oppdatert</label>
                <div class="col-sm-2">
                    @Html.EditorFor(m => m.DateUpdated)
                </div>
            </div>

        @if (Model.HierarchyLevel == "dataset")
        {
            <div class="fields-dataset panel panel-info">
                <div class="panel-heading">
                    @Resources.UI.Metadata_Edit_DatasetFields
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="abstract" class="col-sm-2 control-label">Tematisk hovedkategori</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("TopicCategory", ViewBag.TopicCategoryValues as SelectList, String.Empty, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="supplementalDescription" class="col-sm-2 control-label">Supplerende beskrivelse</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(m => m.SupplementalDescription, new { @class = "form-control", cols = "", rows = "3" })
                            <div class="help-block panel panel-success hidden" id="help-block-supplementalDescription">
                                <div class="panel-body">
                                    Dette er hjelpeteksten
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <p class="form-control-static">
                                <a href="#" data-help-block-id="help-block-supplementalDescription" class="badge help-block-toggle">?</a>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="usage" class="col-sm-2 control-label">Bruksområde</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(m => m.SpecificUsage, new { @class = "form-control", cols = "", rows = "3" })
                            <div class="help-block panel panel-success hidden" id="help-block-usage">
                                <div class="panel-body">
                                    Dette er hjelpeteksten
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <p class="form-control-static">
                                <a href="#" data-help-block-id="help-block-usage" class="badge help-block-toggle">?</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div><!-- fields-dataset-->
        }

        @if (Model.HierarchyLevel == "service") { 
            <div class="fields-dataset panel panel-info">
                <div class="panel-heading">
                    @Resources.UI.Metadata_Edit_ServiceFields
                </div>
                <div class="panel-body">
                    test
                </div>
            </div><!-- fields-service-->
        }
        </div><!-- /home -->

        <div class="tab-pane" id="contact">
            @Html.Partial("_Contact", Model)

        </div>

        <div class="tab-pane" id="distribution">
            @Html.Partial("_Distribution", Model)
        </div>
        
        <div class="tab-pane" id="documents">
            @Html.Partial("_Documents", Model)
        </div>

        <div class="tab-pane" id="quality">
            @Html.Partial("_Quality", Model)
        </div>

        </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Lagre</button>
        </div>
    </div>


</form>

@section scripts {
    <script>
        $(function () {
            $("button#prefillConformityInspire").click(function (event) {
                event.preventDefault();
                $("#QualitySpecificationTitle").val("COMMISSION REGULATION (EU) No 1089/2010 of 23 November 2010 implementing Directive 2007/2/EC of the European Parliament and of the Council as regards interoperability of spatial data sets and services");
                $("#QualitySpecificationDate").val("2010-12-08");
                $("#QualitySpecificationDateType").val("publication");
                $("#QualitySpecificationExplanation").val("See the referenced specification");
                $("#QualitySpecificationResult").prop('checked', true);
            });
            $("button#prefillConformitySosi").click(function (event) {
                event.preventDefault();
                $("#QualitySpecificationTitle").val("SOSI-fagområde");
                $("#QualitySpecificationDate").val("2014-01-01");
                $("#QualitySpecificationDateType").val("publication");
                $("#QualitySpecificationExplanation").val("See the referenced specification");
                $("#QualitySpecificationResult").prop('checked', true);
            });
        });


        /*
    $(function() {
        var hash = document.location.hash;
        var prefix = "tab_";
        if (hash) {
            var l = hash.replace(prefix, "");
            console.log("l = " + l);
            //$().tab('show');
        }

        // Change hash for page-reload
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash.replace("#", "#" + prefix);
        });
    });
        */
    </script>
}