@model Kartverket.MetadataEditor.Models.MetadataIndexViewModel

<h1>@Resources.UI.MyMetadata_Label</h1>
<p class="text-right">
    <a href="@Url.Action("Create","Metadata")" class="btn btn-primary btn-xs">Opprett ny metadata</a>
</p>

@if (!string.IsNullOrWhiteSpace(ViewBag.StatusMessage))
{
    <div class="col-sm-offset-2 col-sm-7">
        <div class="panel panel-primary">
            <div class="panel-heading">Feilmelding</div>
            <div class="panel-body">@ViewBag.StatusMessage</div>
        </div>
    </div>
}

@if (Model.MetadataItems.Count > 0) { 
    @Html.Partial("_MetadataList", Model.MetadataItems)
    <div class="clearfix">
        <p class="text-right">
            Viser metadata @Model.Offset - @Model.ShowTo() av @Model.TotalNumberOfRecords
        </p>
        <div class="pull-right btn-group">
            <a href="@Url.Action("Index")?offset=@Model.OffsetPrevious()" class="btn btn-default btn-sm @Model.OffsetPreviousState()">Forrige</a>
            <a href="@Url.Action("Index")?offset=@Model.OffsetNext()" class="btn btn-default btn-sm @Model.OffsetNextState()">Neste</a>
        </div>
    </div>
}
else
{
    <p style="font-style: italic">Ingen metadata tilgjengelig.</p>
}
