@model Kartverket.MetadataEditor.Models.MetadataIndexViewModel

<h1>@Resources.UI.MyMetadata_Label</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Resources.UI.Metadata_Title</th>
            <th>@Resources.UI.Metadata_Organization</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var metadata in Model.MetadataItems)
        {
            <tr>
                <td><a href="@Url.Action("Edit", new { uuid=@metadata.Uuid })">@metadata.Title</a></td>
                <td>@metadata.Organization</td>
            </tr>
        }
    </tbody>
</table>