@model Kartverket.MetadataEditor.Models.MetadataIndexViewModel
<br/><br/>
<div class="row">
    <div class="alert alert-info col-sm-12">
        <p>
            GeoNorge metadataeditor er et registreringsskjema for å registrere kartdata og karttjenester. Det finnes ulike seksjoner med ulike opplysninger. Opplysninger om et datasett eller tjeneste angis som metadata. Etater skal følge standarder når disse leveres geoportalen. Metadataeditoren hjelper etater i å følge standarden. Hver etat må være innlogget og får da vist de metadata som etaten selv er ansvarlig for.
        </p>
        <p>
            Denne editoren er under arbeid, og foreligger i første versjon, men er fullt operativ, og metadataene vil oppdateres og lagres i den nasjonale katalogen.
        </p>
        <p>
            Tilbakemeldinger på editoren kan sendes til <a href="mailto: post@norgedigitalt.no?subject=Tilbakemelding%20GeoNorge-metadataeditor">post@norgedigitalt.no</a>
        </p>
    </div>
</div>

<h1>@Resources.UI.MyMetadata_Label</h1>

@if (Request.IsAuthenticated)
{
    <p class="text-right">
        <a href="@Url.Action("Create","Metadata")" class="btn btn-primary btn-xs">Opprett ny metadata</a>
    </p>
}

@if (!string.IsNullOrWhiteSpace(ViewBag.StatusMessage))
{
    <div class="col-sm-offset-2 col-sm-7">
        <div class="panel panel-primary">
            <div class="panel-heading">Feilmelding</div>
            <div class="panel-body">@ViewBag.StatusMessage</div>
        </div>
    </div>
}

@if (Model.UserIsAdmin)
{
    <p><a href="@Url.Action("Index")?organization=@Model.UserOrganization" class="btn btn-default">Vis metadata for @Model.UserOrganization</a></p>
    <form action="@Url.Action("Index")" method="get" class="form-inline" role="form">
        <div class="form-group">
            <label for="searchString">Fritekst søk:</label>
            <input type="text" class="form-control" name="searchString" value="@Model.SearchString" />
        </div>
        <div class="form-group">
            <label for="searchOrganization">Organisasjon:</label>
            <input type="text" class="form-control" name="organization" value="@Model.SearchOrganization" />
        </div>
        <button type="submit" class="btn btn-primary">Søk</button>
    </form>
}


@if (Model.MetadataItems.Count > 0) { 
    @Html.Partial("_MetadataList", Model.MetadataItems)
    <div class="clearfix">
        <p class="text-right">
            Viser metadata @Model.Offset - @Model.ShowTo() av @Model.TotalNumberOfRecords
        </p>
        <div class="pull-right btn-group">
            @{
                string linkParam = "";
                if (!string.IsNullOrWhiteSpace(Model.SearchString))
                {
        
                }
            }
            <a href="@Url.Action("Index")?@(Model.PaginationLinkParameters())offset=@Model.OffsetPrevious()" class="btn btn-default btn-sm @Model.OffsetPreviousState()">Forrige</a>
            <a href="@Url.Action("Index")?@(Model.PaginationLinkParameters())offset=@Model.OffsetNext()" class="btn btn-default btn-sm @Model.OffsetNextState()">Neste</a>
        </div>
    </div>
}
else
{
    <p style="font-style: italic">Ingen metadata tilgjengelig. Du må være pålogget for å kunne redigere dine metadata.</p>
}
