@model Kartverket.MetadataEditor.Models.SimpleMetadataViewModel
@using System.Security.Claims
@using Geonorge.AuthLib.Common
@using Kartverket.MetadataEditor.Util
@using Resources
@using Kartverket.MetadataEditor.Helpers
<div class="form-group required has-feedback">
    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-name" style="display: none">
            Navn på metadataoppføringen. Navnet skal være kort og konsist og beskrive tjenesten/datasettet best mulig. Genereller begreper må settes inn i en faglig kontekst (eks: Kulturminner - lokaliteter). Navnet skal være identisk med det som blir brukt i eventuell produktspesifikasjon. Navnet kan også inneholde årstall og geografisk område.
        </p>
        @Html.EditorFor(m => m.Title)
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-name" class="badge help-text-toggle">?</a>
        </p>
    </div>

</div>

<div class="form-group required has-feedback">
    @Html.LabelFor(m => m.Abstract, new { @class = "col-md-2 control-label" })
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-abstract" style="display: none">
            Kortfattet tekst om hva som er innholdet i tjenesten/datasettet.
        </p>
        @Html.TextAreaFor(m => m.Abstract, new { @class = "form-control", cols = "", rows = "6" })
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-abstract" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group required has-feedback">
    <label for="DateUpdated" class="col-md-2 control-label">Dato sist oppdatert</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-date" style="display: none">
            Angir når datasettet/tjenesten sist ble oppdatert
        </p>
        @Html.EditorFor(m => m.DateUpdated, new { cssClass = "form-control date" })
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-date" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>



<div class="form-group required has-feedback">
    <label class="col-md-2 control-label">Oppdaterings<span class="hypernation">-</span>hyppighet</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-maintenancefrequency" style="display: none">
            Angivelse av intervaller for modifikasjon og andre endringer av data etter at de er etablert.
        </p>
        <div class="custom-select">
            @Html.DropDownList("MaintenanceFrequency", ViewBag.MaintenanceFrequencyValues as SelectList, String.Empty, new { @class = "form-control" })
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        </div>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-maintenancefrequency" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group required has-feedback">
    <label for="keywords" class="col-md-2 control-label">@UI.Metadata_KeywordsNationalTheme_Label</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-keyword-national-theme" style="display: none">
            En norsk tematisk inndeling basert på kategoriene fra det offentlige kartgrunnlaget.
        </p>
        @if (!Model.IsSoftware())
        {

            <div class="input-group chosen-input-group input-group-omraade full-width">
                @Html.ListBox("KeywordsNationalTheme", ViewBag.NationalThemeValues as MultiSelectList, new { @class = "chosen-select form-control", @multiple = "multiple", data_placeholder = "Velg " + UI.Metadata_KeywordsNationalTheme_Label })
                @Html.ValidationMessage("KeywordsNationalTheme", "Påkrevd")
            </div>

        }
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-keyword-national-theme" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>


<div class="form-group required has-feedback">
    <label for="keywords" class="col-md-2 control-label">Samarbeid og lover</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-keyword-national-initiative" style="display: none">
            Nøkkelordliste som viser til lover eller regler datasettet/serien er omfattet av eller forpliktende samarbeid som datasettet/serien inngår i. (Egen kodeliste)
        </p>
        <div id="keywords-national-initiative" class="checkbox">
            @{ var nationalInitiative = ViewBag.NationalInitiativeValues as SelectList; int j = 0;
                foreach (var keyword in nationalInitiative)
                {
                    if (keyword.Value == "Det offentlige kartgrunnlaget")
                    {
                        if (Model.KeywordsNationalInitiative.Contains(keyword.Value))
                        {
                            <label class="checkbox-inline"><input type="checkbox" name="KeywordsNationalInitiative[@j]" checked value="@keyword.Value" />@keyword.Text</label>
                        }
                        else
                        {
                            <label class="checkbox-inline"><input type="checkbox" name="KeywordsNationalInitiative[@j]" value="@keyword.Value" />@keyword.Text</label>
                        }
                        @: <input type="hidden" name="KeywordsNationalInitiative[@j]" />
                        j++;
                    }
                    else
                    {
                        if (Model.KeywordsNationalInitiative.Contains(keyword.Value))
                        {
                            <input type="hidden" name="KeywordsNationalInitiative[@j]" value="@keyword.Value" />
                            j++;
                        }
                    }
                }
            }

            @if (Model.OtherConstraintsAccess == "http://inspire.ec.europa.eu/metadata-codelist/LimitationsOnPublicAccess/noLimitations" || Model.OtherConstraintsAccess == "no restrictions")
            {
                <label class="checkbox-inline"><input type="checkbox" name="OtherConstraintsAccess" checked value="no restrictions" />Åpne data</label>
            }
            else
            {
                <label class="checkbox-inline"><input type="checkbox" name="OtherConstraintsAccess" value="no restrictions" />Åpne data</label>
            }

        </div>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-keyword-national-initiative" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
@{
    string displayDistributionProtocol = "hidden";
    if (ClaimsPrincipal.Current.IsInRole(GeonorgeRoles.MetadataAdmin) || ClaimsPrincipal.Current.IsInRole(GeonorgeRoles.MetadataManager))
    {
        displayDistributionProtocol = "";
    }
}

<div class="form-group required @displayDistributionProtocol">
    <label for="DistributionProtocol" class="col-md-2 control-label">Distribusjonstype</label>
    <div class="col-md-9">
        <div class="custom-select">
            @Html.DropDownList("DistributionProtocol", ViewBag.predefinedDistributionProtocols as SelectList, "-- Velg distribusjonstype  --", new { @class = "form-control" })
        </div>
    </div>
</div>

<div class="form-group required">
    <label for="DistributionUrl" class="col-md-2 control-label">URL til nedlastingsside</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-DistributionUrl" style="display: none">
            Fyll inn adresse til nedlastningsside/webside eller bruk "Last opp" for å laste opp et datasett.
        </p>
        @Html.EditorFor(m => m.DistributionUrl)
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-DistributionUrl" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>


<div class="form-group required">
    <label class="col-md-2 control-label">Datasett fil</label>
    <div class="col-md-9">
        <div class="no-border-radius upload-group" id="uploadDataset">
            <input type="file" id="uploadDatasetFile" class="filestyle" data-buttontext="Velg fil" />
            <button class="btn btn-default upload-btn" type="submit" id="uploadThumbnailButton">Last opp</button>
        </div>
        <div id="uploadDatasetStatus"></div>
    </div>
</div>


<div class="form-group required">

    <label class="col-md-2 control-label">Geografisk ustrekning</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-BoundingBox" style="display: none">Bruk forhåndsdefinerte områdenavn i nedtrekkslisten dersom de geografiske dataene gjelder for et bestemt fylke eller en kommune.</p>

        <div class="input-group chosen-input-group">
            <select name="state" id="bboxState" multiple="multiple" class="form-control" data-placeholder="Velg område">
                <option></option>
                <option data-statenumber="00" data-north="72" data-south="57" data-east="33" data-west="2">Hele landet</option>
                <optgroup label="Agder" data-statenumber="42"></optgroup>
                <optgroup label="Akershus" data-statenumber="32"></optgroup>
                <optgroup label="Buskerud" data-statenumber="33"></optgroup>
                <optgroup label="Finnmark" data-statenumber="56"></optgroup>
                <optgroup label="Innlandet" data-statenumber="34"></optgroup>
                <optgroup label="Møre og Romsdal" data-statenumber="15"></optgroup>
                <optgroup label="Nordland" data-statenumber="18"></optgroup>
                <optgroup label="Oslo" data-statenumber="21"></optgroup>
                <optgroup label="Rogaland" data-statenumber="11"></optgroup>
                <optgroup label="Telemark" data-statenumber="40"></optgroup>
                <optgroup label="Troms" data-statenumber="55"></optgroup>
                <optgroup label="Trøndelag" data-statenumber="50"></optgroup>
                <optgroup label="Vestfold" data-statenumber="39"></optgroup>
                <optgroup label="Vestland" data-statenumber="46"></optgroup>
                <optgroup label="Østfold" data-statenumber="31"></optgroup>
            </select>
            @*<span class="input-group-btn">
                    <button onclick="event.preventDefault(); showMap();" id="norgeskartLink" class="btn btn-fullheight"><span class="glyphicon glyphicon-globe"></span></button>
                </span>*@
        </div>

    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-BoundingBox" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="hidden">
    <select name="county" id="bboxCounty">
        <option></option>
        <option data-countynumber="00" data-north="72" data-south="57" data-east="33" data-west="2">Hele landet</option>
        @Html.Partial("~/Views/Metadata/_OptionsCountyList.cshtml")
    </select>
    <ul id="keywords-place">
        @for (int i = 0; i < Model.KeywordsPlace.Count; i++)
        {
            var keyword = Model.KeywordsPlace[i];
            <li id="keywords-place-@i">
                <span class="">@keyword</span>
                <a href="" class="keyword-delete" data-delete="keywords-place-@i"><small>@UI.Delete</small></a>
                <input type="hidden" name="KeywordsPlace[@i]" value="@keyword" />
            </li>
        }
    </ul>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" id="keywords-place-text" class="form-control" />
            @Html.ValidationMessage("KeywordsPlace", "Påkrevd")
        </div>
        <div class="col-sm-2 hidden">
            <button type="button" class="btn btn-default btn-sm" id="keywords-place-add">Legg til manuelt</button>
        </div>
    </div>

    <div class="form-group col-sm-6 has-feedback">
        <label class="col-sm-2 col-sm-offset-4 control-label">Nord</label>
        <div class="col-sm-4">
            @Html.EditorFor(m => m.BoundingBoxNorth)
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        </div>
    </div>
    <div class="form-group col-sm-6 has-feedback">
        <label class="col-sm-2 control-label">Øst</label>
        <div class="col-sm-4">
            @Html.EditorFor(m => m.BoundingBoxEast)
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        </div>
    </div>
    <div class="form-group col-sm-6 has-feedback">
        <label class="col-sm-2 col-sm-offset-4 control-label">Sør</label>
        <div class="col-sm-4">
            @Html.EditorFor(m => m.BoundingBoxSouth)
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        </div>
    </div>
    <div class="form-group col-sm-6 has-feedback">
        <label class="col-sm-2 control-label">Vest</label>
        <div class="col-sm-4">
            @Html.EditorFor(m => m.BoundingBoxWest)
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <p class="help-text bg-success" id="help-text-keyword-place">
                Det kan for eksempel være kommunenavn for kommunale datasett, eller Norges fastland for landsdekkende datasett. Skriv steder datasettet dekker i stedet for hva det ikke dekker.
            </p>
        </div>
        <div class="col-sm-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-keyword-place" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-8"><span id="map-message" class="field-validation-error"></span></div>
    </div>
</div>


<div class="clearfix"></div>
<p>@UI.ContactInfoGDPR</p>
<div class="panel panel-default">
    <div class="panel-heading">Metadatakontakt<div class="pull-right"><a href="#" data-help-text-id="help-text-ContactMetadata" class="badge help-text-toggle">?</a></div></div>
    <div class="panel-body">
        <p class="help-text bg-success" id="help-text-ContactMetadata" style="display: none">Kontaktpunkt (person eller avdeling) som vedlikeholder metadata og som kan svare på spørsmål knyttet til disse. Organisasjonsnavn skal skrives med det navnet organisasjonen omtales som eksternt uten henvisninger til avdeling eller underliggende enhet. Epost bør gå til fellesadresse som drift@etat.no</p>
        @Html.HiddenFor(m => Model.ContactMetadata.Role)
        <div class="form-group has-feedback hidden">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactMetadata.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactMetadata.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                <div class="custom-select">
                    @Html.DropDownList("ContactMetadata.Organization", ViewBag.OrganizationContactMetadataValues as SelectList, Model.ContactMetadata.Organization != null ? Model.ContactMetadata.Organization : String.Empty, new { @class = "form-control" })
                </div>
                @Html.ValidationMessage("ContactMetadata.Organization", "Organisasjonsnavn er feil, vennligst velg rett i listen")
                <input type="hidden" value="@Model.ContactMetadata.Organization" name="ContactMetadata.Organization.Old" />
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Teknisk kontakt<div class="pull-right"><a href="#" data-help-text-id="help-text-ContactPublisher" class="badge help-text-toggle">?</a></div></div>
    <div class="panel-body">
        <p class="help-text bg-success" id="help-text-ContactPublisher" style="display: none">Kontaktpunkt (person eller avdeling) som kan svare på tekniske detaljer angående publisering og tilgjengeliggjøring av datene. Organisasjonsnavn skal skrives med det navnet organisasjonen omtales som eksternt uten henvisninger til avdeling eller underliggende enhet. Epost bør gå til fellesadresse som drift@etat.no</p>
        @Html.HiddenFor(m => Model.ContactPublisher.Role)
        <div class="form-group has-feedback hidden">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactPublisher.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactPublisher.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                <div class="custom-select">
                    @Html.DropDownList("ContactPublisher.Organization", ViewBag.OrganizationContactPublisherValues as SelectList, Model.ContactPublisher.Organization != null ? Model.ContactPublisher.Organization : String.Empty, new { @class = "form-control" })
                </div>
                @Html.ValidationMessage("ContactPublisher.Organization", "Organisasjonsnavn er feil, vennligst velg rett i listen")
                <input type="hidden" value="@Model.ContactPublisher.Organization" name="ContactPublisher.Organization.Old" />
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Faglig kontakt<div class="pull-right"><a href="#" data-help-text-id="help-text-ContactOwner" class="badge help-text-toggle">?</a></div></div>
    <div class="panel-body">
        <p class="help-text bg-success" id="help-text-ContactOwner" style="display: none">Kontaktpunkt (person eller avdeling) som har et eierforhold til datene og kan svare inngående om faglige forhold rundt datasettets struktur og innhold. Organisasjonsnavn skal skrives med det navnet organisasjonen omtales som eksternt uten henvisninger til avdeling eller underliggende enhet. Epost bør gå til fellesadresse som drift@etat.no</p>
        @Html.HiddenFor(m => Model.ContactOwner.Role)
        <div class="form-group has-feedback hidden">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactOwner.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactOwner.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group required has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                <div class="custom-select">
                    @Html.DropDownList("ContactOwner.Organization", ViewBag.OrganizationContactOwnerValues as SelectList, Model.ContactOwner.Organization != null ? Model.ContactOwner.Organization : String.Empty, new { @class = "form-control" })
                </div>
                @Html.ValidationMessage("ContactOwner.Organization", "Organisasjonsnavn er feil, vennligst velg rett i listen")
                <input type="hidden" value="@Model.ContactOwner.Organization" name="ContactOwner.Organization.Old" />
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>
<div id="norgeskart" style="display: none;" class="custom-modal">
    <div class="custom-modal-container">
        <div id="container">
            @*<p id="result"></p>*@
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="hideMap()">Avbryt</button><button id="setcoordinates" onclick="setBoundingBoxAndPlaces();hideMap()" type="button" class="btn btn-default" data-dismiss="modal">Legg til område</button>
        </div>
    </div>

</div>
<script>
    var BBWest;
    var BBSouth;
    var BBEast;
    var BBNorth;

    var x1;
    var y1;
    var x2;
    var y2;

    function showMap()
    {
        document.getElementById('norgeskart').style.display = 'block';
    }

    function hideMap() {
        document.getElementById('norgeskart').style.display = 'none';
    }

    function isJSON(str) {
        try {
            return (JSON.parse(str) && !!str);
        } catch (e) {
            return false;
        }
    }

        function sendMessage(msg) {
            var win = document.getElementById("iframe").contentWindow;
            win.postMessage(JSON.stringify(msg), '*');
        }

        conf = {
            center_latitude: "7226208",
            center_longitude: "378604",
            grid_folder: "/sites/all/modules/custom/kms_widget/grid/",
            koordinatsystem: "UTM32-EUREF89",
            selection_type: "3525",
            service_name: "fylker-utm32",
            zoom_level: "4",
        };

        window.addEventListener('message', function (e) {

            if (isJSON(e.data)) {
            console.log(e.data);
            var msg = JSON.parse(e.data);
            if (msg.type === "mapInitialized") {
                sendMessage({
                    "cmd": "setCenter",
                    "x": conf.center_longitude,
                    "y": conf.center_latitude,
                    "zoom": conf.zoom_level
                });
            } else {

                if (msg.cmd === "setVisible") return;

                var obj = msg;
                if (obj.feature != null) {
                    var coords = obj.feature.geometry.coordinates[0];
                    var c1 = coords[0];
                    var c2 = coords[1];
                    var c3 = coords[2];
                    var c4 = coords[3];

                    x1 = c1[0];
                    y1 = c1[1];
                    x2 = c2[0];
                    y2 = c3[1];


                    $.getJSON('@Html.GeonorgeWebserviceUrl()/transApi?ost=' + x1 + '&nord=' + y1 + '&fra=23&til=84', function (result) {
                        if (result.kode == 0) {
                            BBWest = result.ost;
                            BBSouth = result.nord;
                        }
                    }
                    );

                    $.getJSON('@Html.GeonorgeWebserviceUrl()/transApi?ost=' + x2 + '&nord=' + y2 + '&fra=23&til=84', function (result) {
                        if (result.kode == 0) {
                            BBEast = result.ost;
                            BBNorth = result.nord;
                            console.log(BBNorth);
                        }
                    }
                );

                }

            }
            console.log(e.data);
            }
        }, false);

        window.onload = function () {
            setTimeout(function () {
                $("#container").html("<iframe src='@Html.SecureNorgeskartUrl()select-rect.html' id='iframe' name='iframe' style='height: 100%; width:50px; position:fixed'></iframe>");
            }, 1000);
        };


    function setBoundingBoxAndPlaces() {
            if (typeof BBWest != 'undefined') {

                BBWest = BBWest.toFixed(4);
                BBSouth = BBSouth.toFixed(4);
                BBEast = BBEast.toFixed(4);
                BBNorth = BBNorth.toFixed(4);

                document.getElementById('BoundingBoxWest').value = BBWest;
                document.getElementById('BoundingBoxSouth').value = BBSouth;
                document.getElementById('BoundingBoxEast').value = BBEast;
                document.getElementById('BoundingBoxNorth').value = BBNorth;

                $.getJSON("/api/places?nord=" + BBNorth + "&aust=" + BBEast, function (result) {

                    if (result.length != 0) {
                        $("#map-message").text("");
                        $("#keywords-place").empty();
                        $('select#bboxState option').prop('selected', false);
                        for (var r = 0; r < result.length; r++) {
                            $("#keywords-place-text").val(result[r]);
                            console.log(result[r]);
                            $("#bboxState option:contains(" + result[r] + ")").attr('selected', 'selected');

                            $("#keywords-place-add").click();
                            $("#keywords-place-text").val('');
                        }
                        $("select#bboxState").trigger("chosen:updated");
                    }
                    else {
                        $("#keywords-place").empty();
                        $("#map-message").text("Fant ingen områder i kartet. Vennligst prøv et større område eller velg fast område ovenfor");
                    }

                })
                .fail(function (jqXHR, textStatus, errorThrown)
                {
                    $("#keywords-place").empty();
                    $("#map-message").text("Fant ingen områder i kartet. Vennligst prøv et større område eller velg fast område ovenfor");
                });
            }
        }

    function setLicense() {
        var e = document.getElementById("LicenseTypes");
        var linkValue = e.options[e.selectedIndex].value;
        var linkText = e.options[e.selectedIndex].text;

        document.getElementById('OtherConstraintsLink').value = linkValue;
        document.getElementById('OtherConstraintsLinkText').value = linkText;
    }

</script>


