@model Kartverket.MetadataEditor.Models.SimpleMetadataViewModel
@using Resources
<div class="form-group has-feedback">
    @Html.LabelFor(m => m.Title, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-9">
        @Html.EditorFor(m => m.Title)
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        <p class="help-text bg-success" id="help-text-name" style="display: none">
            Offisiell tittel (navn) på metadataene. Navnet skal være konsist, beskrive tjenesten/datasettet best mulig og baseres på norsk rettskriving. Navnet skal være identisk med det som blir brukt i eventuell produktspesifikasjon, nedlastningsløsninger og på etatens hjemmesider. Navnet kan også inneholde årstall og geografisk område.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-name" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group has-feedback">
    @Html.LabelFor(m => m.Abstract, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-9">
        @Html.TextAreaFor(m => m.Abstract, new { @class = "form-control", cols = "", rows = "6" })
        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        <p class="help-text bg-success" id="help-text-abstract" style="display: none">
            Kortfattet tekst om hva som er innholdet i tjenesten/datasettet.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-abstract" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group has-feedback">
            <label for="DateUpdated" class="col-sm-6 control-label">Dato sist oppdatert (dd.mm.yyyy)</label>
            <div class="col-sm-4">
                @Html.EditorFor(m => m.DateUpdated, new { cssClass = "date" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <p class="help-text bg-success" id="help-text-date" style="display: none">
           Angir når datasettet/tjenesten sist ble oppdatert
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-date" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>



<div class="form-group has-feedback">
    <label class="col-sm-3 control-label">Oppdateringshyppighet</label>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="col-sm-6">
                @Html.DropDownList("MaintenanceFrequency", ViewBag.MaintenanceFrequencyValues as SelectList, String.Empty, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <p class="help-text bg-success" id="help-text-maintenancefrequency" style="display: none">
            Angivelse av intervaller for modifikasjon og andre endringer av data etter at de er etablert.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-maintenancefrequency" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group has-feedback">
    <label for="keywords" class="col-sm-2 control-label">Nasjonal temainndeling</label>
    <div class="col-sm-5">

        @if (!Model.IsSoftware())
            {
            <div class="col-sm-6">
                <ul id="keywords-national-theme">
                    @for (int i = 0; i < Model.KeywordsNationalTheme.Count; i++)
                    {
                        var keyword = Model.KeywordsNationalTheme[i];
                        <li id="keywords-national-theme-@i">
                            <span class="">@keyword</span>
                            <a href="" class="keyword-delete" data-delete="keywords-national-theme-@i"><small>Slett</small></a>
                            <input type="hidden" name="KeywordsNationalTheme[@i]" value="@keyword" />
                        </li>
                    }
                </ul>
                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.DropDownList("keywords-national-theme-text", ViewBag.NationalThemeValues as SelectList, String.Empty, new { @class = "input-sm form-control" })
                        @Html.ValidationMessage("KeywordsNationalTheme", "Påkrevd")
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-default btn-sm" id="keywords-national-theme-add">Legg til</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        <div class="col-sm-4">
            <p class="keyword-header">Samarbeid og lover</p>
            <ul id="keywords-national-initiative">
                @for (int i = 0; i < Model.KeywordsNationalInitiative.Count; i++)
                {
                    var keyword = Model.KeywordsNationalInitiative[i];
                    <li id="keywords-national-initiative-@i">
                        <span class="">@keyword</span>
                        <a href="" class="keyword-delete" data-delete="keywords-national-initiative-@i" data-list="keywords-national-initiative-text" data-list-value="@keyword"><small>Slett</small></a>
                        <input type="hidden" name="KeywordsNationalInitiative[@i]" value="@keyword" />
                    </li>
                }
            </ul>
            <div class="form-group">
                <div class="col-sm-4">
                    @Html.DropDownList("keywords-national-initiative-text", ViewBag.NationalInitiativeValues as SelectList, String.Empty, new { @class = "input-sm form-control" })
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-default btn-sm" id="keywords-national-initiative-add">Legg til</button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-keyword" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
        <div class="help-text bg-success" id="help-text-keyword" style="display: none">
            <b>Velkjente ord og begreper brukt som søkeord</b>
            <p>
                <b>Nasjonal tematisk inndeling (Nasjonal temainndeling)</b><br>
                En norsk tematisk inndeling basert på kategoriene fra det offentlige kartgrunnlaget.
            </p>
            <p>
                <b>Samarbeid og lover</b><br>
                Nøkkelordliste som viser til lover eller regler datasettet/serien er omfattet av eller forpliktende samarbeid som datasettet/serien inngår i. (Egen kodeliste)
            </p>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Datasett fil</label>
    <div class="col-sm-8">
        <div class="form-group" id="uploadDataset">
            <div class="col-sm-7">
                <input type="file" id="uploadDatasetFile" class="filestyle" data-buttontext="Velg fil" />               
            </div>
            <div class="col-sm-5">
                <button class="btn btn-default" type="submit" id="uploadThumbnailButton">Last opp</button>
            </div>
        </div>
        <div id="uploadDatasetStatus"></div>
    </div>
</div>
<div class="form-group">
    <label for="DistributionUrl" class="col-sm-2 control-label">URL til datasett</label>
    <div class="col-sm-9">
        @Html.EditorFor(m => m.DistributionUrl)
        <p class="help-text bg-success" id="help-text-DistributionUrl" style="display: none">
            Fyll inn adresse til nedlastningsside/webside eller bruk "Last opp" for å laste opp et datasett.
        </p>
    </div>
    <div class="col-sm-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-DistributionUrl" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Geografisk utstrekning<div class="pull-right"><a href="#" data-help-text-id="help-text-BoundingBox" class="badge help-text-toggle">?</a></div></div>
    <p class="help-text bg-success" id="help-text-BoundingBox" style="display: none">Bruk forhåndsdefinerte områdenavn i nedtrekkslisten dersom de geografiske dataene gjelder for et bestemt fylke eller en kommune. Du kan også angi koordinatene ved å bruke knappen "Angi i kartet" for å definere et rektangel i kartet.</p>
        <div class="panel-body">
            <div class="form-group">
                <label for="state" class="control-label col-sm-3">Velg fast område:</label>
                <div class="col-sm-2">
                    <select name="state" id="bboxState" class="form-control">
                        <option></option>
                        <option data-statenumber="00">Hele landet</option>
                        <option data-statenumber="02">Akershus</option>
                        <option data-statenumber="09">Aust-Agder</option>
                        <option data-statenumber="06">Buskerud</option>
                        <option data-statenumber="20">Finnmark</option>
                        <option data-statenumber="04">Hedmark</option>
                        <option data-statenumber="12">Hordaland</option>
                        <option data-statenumber="15">Møre og Romsdal</option>
                        <option data-statenumber="17">Nord-Trøndelag</option>
                        <option data-statenumber="18">Nordland</option>
                        <option data-statenumber="05">Oppland</option>
                        <option data-statenumber="21">Oslo</option>
                        <option data-statenumber="11">Rogaland</option>
                        <option data-statenumber="14">Sogn og Fjordane</option>
                        <option data-statenumber="16">Sør-Trøndelag</option>
                        <option data-statenumber="08">Telemark</option>
                        <option data-statenumber="19">Troms</option>
                        <option data-statenumber="10">Vest-Agder</option>
                        <option data-statenumber="07">Vestfold</option>
                        <option data-statenumber="01">Østfold</option>
                    </select>
                </div>
                <label for="county" class="control-label col-sm-1">Delområde:</label>
                <div class="col-sm-3">
                    <select name="county" id="bboxCounty" class="form-control">
                        <option></option>
                        <option data-countynumber="00" data-north="72" data-south="57" data-east="33" data-west="2">Hele landet</option>
                        @Html.Partial("~/Views/Metadata/_OptionsCountyList.cshtml")
                    </select>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" id="bboxPrefill">Bruk</button>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-1">
                        <label for="state" class="control-label">Eller angi området i kartet:</label>
                    </div>
                    <div class="col-sm-2 col-sm-pull-1">
                        <a href="#" role="button" data-toggle="modal" id="norgeskartLink" data-target="#norgeskart" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-globe"></span> Angi i kartet</a>
                    </div>
                    <div class="col-sm-1">
                        <div id="norgeskart" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="norgeskart" aria-hidden="true">
                            @Html.Partial("_Kart")
                        </div>
                    </div>
                    <div class="col-sm-8"><span id="map-message" class="field-validation-error"></span></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Valgt geografisk område</label>
                <div class="col-sm-4">
                    <div class="form-group">
                        <ul id="keywords-place">
                            @for (int i = 0; i < Model.KeywordsPlace.Count; i++)
                            {
                                var keyword = Model.KeywordsPlace[i];
                                <li id="keywords-place-@i">
                                    <span class="">@keyword</span>
                                    <a href="" class="keyword-delete" data-delete="keywords-place-@i"><small>Slett</small></a>
                                    <input type="hidden" name="KeywordsPlace[@i]" value="@keyword" />
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" id="keywords-place-text" class="form-control hidden" />
                            @Html.ValidationMessage("KeywordsPlace", "Påkrevd")
                        </div>
                        <div class="col-sm-2 hidden">
                            <button type="button" class="btn btn-default btn-sm" id="keywords-place-add">Legg til manuelt</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="help-text bg-success" id="help-text-keyword-place" style="display: none">
                        Det kan for eksempel være kommunenavn for kommunale datasett, eller Norges fastland for landsdekkende datasett. Skriv steder datasettet dekker i stedet for hva det ikke dekker.
                    </p>
                </div>
                <div class="col-sm-1">
                    <p class="form-control-static">
                        <a href="#" data-help-text-id="help-text-keyword-place" class="badge help-text-toggle">?</a>
                    </p>
                </div>
            </div>
            <div class="row hidden">
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 col-sm-offset-3 control-label">Koordinater:</label>
                </div>
            </div>
            <div class="row hidden">
                <div class="form-group col-sm-6 has-feedback">
                    <label class="col-sm-2 col-sm-offset-4 control-label">Nord</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.BoundingBoxNorth)
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                    </div>
                </div>
                <div class="form-group col-sm-6 has-feedback">
                    <label class="col-sm-2 control-label">Øst</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.BoundingBoxEast)
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row hidden">
                <div class="form-group col-sm-6 has-feedback">
                    <label class="col-sm-2 col-sm-offset-4 control-label">Sør</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.BoundingBoxSouth)
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                    </div>
                </div>
                <div class="form-group col-sm-6 has-feedback">
                    <label class="col-sm-2 control-label">Vest</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(m => m.BoundingBoxWest)
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Metadatakontakt<div class="pull-right"><a href="#" data-help-text-id="help-text-ContactMetadata" class="badge help-text-toggle">?</a></div></div>
    <div class="panel-body">
        <p class="help-text bg-success" id="help-text-ContactMetadata" style="display: none">Kontaktpunkt (person eller avdeling) som vedlikeholder metadata og som kan svare på spørsmål knyttet til disse. Organisasjonsnavn skal skrives med det navnet organisasjonen omtales som eksternt uten henvisninger til avdeling eller underliggende enhet. Epost kan gå til fellesadresse som drift@etat.no</p>
        @Html.HiddenFor(m => Model.ContactMetadata.Role)
        <div class="form-group has-feedback hidden">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactMetadata.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactMetadata.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                @Html.DropDownList("ContactMetadata.Organization", ViewBag.OrganizationContactMetadataValues as SelectList, Model.ContactMetadata.Organization != null ? Model.ContactMetadata.Organization : String.Empty, new { @class = "form-control" })
                @Html.ValidationMessage("ContactMetadata.Organization", "Organisasjonsnavn er feil, vennligst velg rett i listen")
                <input type="hidden" value="@Model.ContactMetadata.Organization" name="ContactMetadata.Organization.Old" />
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Teknisk kontakt<div class="pull-right"><a href="#" data-help-text-id="help-text-ContactPublisher" class="badge help-text-toggle">?</a></div></div>
    <div class="panel-body">
        <p class="help-text bg-success" id="help-text-ContactPublisher" style="display: none">Kontaktpunkt (person eller avdeling) som kan svare på tekniske detaljer angående publisering og tilgjengeliggjøring av datene. Organisasjonsnavn skal skrives med det navnet organisasjonen omtales som eksternt uten henvisninger til avdeling eller underliggende enhet. Epost kan gå til fellesadresse som drift@etat.no</p>
        @Html.HiddenFor(m => Model.ContactPublisher.Role)
        <div class="form-group has-feedback hidden">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactPublisher.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactPublisher.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                @Html.DropDownList("ContactPublisher.Organization", ViewBag.OrganizationContactPublisherValues as SelectList, Model.ContactPublisher.Organization != null ? Model.ContactPublisher.Organization : String.Empty, new { @class = "form-control" })
                @Html.ValidationMessage("ContactPublisher.Organization", "Organisasjonsnavn er feil, vennligst velg rett i listen")
                <input type="hidden" value="@Model.ContactPublisher.Organization" name="ContactPublisher.Organization.Old" />
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Faglig kontakt<div class="pull-right"><a href="#" data-help-text-id="help-text-ContactOwner" class="badge help-text-toggle">?</a></div></div>
    <div class="panel-body">
        <p class="help-text bg-success" id="help-text-ContactOwner" style="display: none">Kontaktpunkt (person eller avdeling) som har et eierforhold til datene og kan svare inngående om faglige forhold rundt datasettets struktur og innhold. Organisasjonsnavn skal skrives med det navnet organisasjonen omtales som eksternt uten henvisninger til avdeling eller underliggende enhet. Epost kan gå til fellesadresse som drift@etat.no</p>
        @Html.HiddenFor(m => Model.ContactOwner.Role)
        <div class="form-group has-feedback hidden">
            <label for="abstract" class="col-sm-2 control-label">Navn</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactOwner.Name, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Epost</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => Model.ContactOwner.Email, new { @class = "form-control" })
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="abstract" class="col-sm-2 control-label">Organisasjon</label>
            <div class="col-sm-9">
                @Html.DropDownList("ContactOwner.Organization", ViewBag.OrganizationContactOwnerValues as SelectList, Model.ContactOwner.Organization != null ? Model.ContactOwner.Organization : String.Empty, new { @class = "form-control" })
                @Html.ValidationMessage("ContactOwner.Organization", "Organisasjonsnavn er feil, vennligst velg rett i listen")
                <input type="hidden" value="@Model.ContactOwner.Organization" name="ContactOwner.Organization.Old" />
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </div>
        </div>
    </div>
</div>

