@model Kartverket.MetadataEditor.Models.SimpleMetadataViewModel
<div class="form-group">
    <label for="SpecificUsage" class="col-sm-2 control-label">Bruksområde</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-usage" style="display: none">
            Kort beskrivelse av hvilke oppgaver datasettet kan/bør brukes til.
        </p>
        @Html.TextAreaFor(m => m.SpecificUsage, new { @class = "form-control", cols = "", rows = "3" })
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-usage" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>
@if (Model.IsDatasetOrSeriesOrSoftware())
{
    <div class="form-group">
        <label for="SupplementalDescription" class="col-sm-2 control-label">Supplerende beskrivelse</label>
        <div class="col-md-9">
            <p class="help-text bg-success" id="help-text-supplementalDescription" style="display: none">
                Annen informasjon som er ønskelig å opplyse om, men som ikke hører hjemme i beskrivelsen.
            </p>
            @Html.TextAreaFor(m => m.SupplementalDescription, new { @class = "form-control", cols = "", rows = "3" })
        </div>
        <div class="col-md-1">
            <p class="form-control-static">
                <a href="#" data-help-text-id="help-text-supplementalDescription" class="badge help-text-toggle">?</a>
            </p>
        </div>
    </div>
}

<div class="form-group">
    <label for="ProcessHistory" class="col-sm-2 control-label">Prosesshistorie</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-ProcessHistory" style="display: none">
            Dataprodusentens generelle kunnskap om opprinnelsen og prosesshistorien til et datasett eller tjeneste. Forklar kort hvilke vikte operasjoner som er gjort fra datafangst til leveranse, og hvordan dette eventuelt påvirker kvalitet og innhold i datasettet
        </p>
        @Html.TextAreaFor(m => m.ProcessHistory, new { @class = "form-control", cols = "", rows = "5" })
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-ProcessHistory" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Produktside (URL)</label>
    <div class="col-md-9">
        @Html.EditorFor(m => m.ProductPageUrl, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="form-group" id="licenses">
    <label for="LicenseTypes" class="col-sm-2 control-label">Lisens</label>
    <div class="col-md-9">
        <p class="help-text bg-success" id="help-text-LicenseTypes" style="display: none">
            Lisens for datasettet/datatjenesten.
        </p>
        <div class="custom-select">
            @Html.DropDownList("LicenseTypes", ViewBag.LicenseTypesValues as SelectList, "-- Velg lisens --", new { @class = "form-control", @onchange = "setLicense()" })
        </div>
    </div>
    <div class="col-md-1">
        <p class="form-control-static">
            <a href="#" data-help-text-id="help-text-LicenseTypes" class="badge help-text-toggle">?</a>
        </p>
    </div>
</div>


<div class="form-group" id="LicenseLink" style="visibility:hidden; display: none;">
    <label for="OtherConstraintsLinkText" class="col-sm-2 control-label">Valgt lisens</label>
    <div class="col-md-3">
        @Html.EditorFor(m => m.OtherConstraintsLinkText)
    </div>
    <label for="OtherConstraintsLink" class="col-sm-1 control-label">URL</label>
    <div class="col-md-4">
        @Html.EditorFor(m => m.OtherConstraintsLink)
    </div>
    <div class="col-md-1">
    </div>

</div>
<script>


    function setLicense()
    {
        var e = document.getElementById("LicenseTypes");
        var linkValue = e.options[e.selectedIndex].value;
        var linkText = e.options[e.selectedIndex].text;

        document.getElementById('OtherConstraintsLink').value = linkValue;
        document.getElementById('OtherConstraintsLinkText').value = linkText;
    }

</script>
