@model Kartverket.MetadataEditor.Models.SimpleMetadataViewModel
@using Resources
@using Kartverket.MetadataEditor.Helpers
﻿@using System.Security.Claims
@{
    var pageTitle = @Resources.UI.EditMetadata;
    ViewBag.Title = @Model.TitleFromSelectedLanguage + " | " + pageTitle;
    bool showProductSheetGeneratorUrl = false;
    var ProductSheetGeneratorUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["ProductSheetGeneratorUrl"];
    if (ProductSheetGeneratorUrl != null && ProductSheetGeneratorUrl != "")
        showProductSheetGeneratorUrl = true;
}
<gn-shortcut-button environment="@Html.EnvironmentName()" language="no"></gn-shortcut-button>
@section breadcrumb{
    <li>@Model.TitleFromSelectedLanguage</li>
}
<h1 class="h2">@Model.TitleFromSelectedLanguage</h1>
<form action="@Url.Action("Edit")" method="post" class="form form-horizontal" role="form" onkeydown="@(TempData["success"] != null ? "removeokmsg();" : "" )">
    @Html.HiddenFor(m => m.Uuid)
    @Html.HiddenFor(m => m.DateMetadataUpdated)
    @Html.HiddenFor(m => m.HierarchyLevel)
    <div id="parentIdentifier" class="modal" tabindex="-1" role="dialog" aria-labelledby="parentIdentifier" aria-hidden="true">
        <div class="modal-dialog" style="width: 75%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Overordnet metadata for @Model.Title</h4>
                    <div style="right: 5px; top: 5px; position:absolute;"><button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="searchmetadata" onkeydown="if (event.keyCode == 13) { getMetadataFreetext(document.getElementById('searchmetadata').value); return false; }" />
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="form-control" onclick="getMetadataFreetext(document.getElementById('searchmetadata').value);">Søk</button>
                            <span id="searchInfo" style="color:red"></span>
                        </div>
                        <div class="col-sm-6"><b>Valgt overordnet metadata:</b></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <br />
                            <div id="searchresultsDS">

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="parentIdentifierDIV">
                                @if (!string.IsNullOrEmpty(Model.ParentIdentifier))
                                {
                                    <div id="parentIdentifier-@Model.ParentIdentifier.ToString()" class="row">
                                        <input type="hidden" value="@Model.ParentIdentifier.ToString()" name="ParentIdentifier" />
                                        <div class="col-sm-8">
                                            <div id="title-@Model.ParentIdentifier.ToString()">
                                            </div>
                                        </div>
                                        <div class="col-sm-2 btn-group">
                                            <a href="@Html.KartkatalogUrl()metadata/uuid/@Model.ParentIdentifier.ToString()" target="_blank" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-share-alt"></span> Vis i katalog
                                            </a>
                                        </div>
                                        <div class="col-sm-2 btn-group">
                                            <a href="#" onclick="document.getElementById('parentIdentifier-@Model.ParentIdentifier.ToString()').parentNode.removeChild(document.getElementById('parentIdentifier-@Model.ParentIdentifier.ToString()'));" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Slett</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    @section ActionMenu {
        <div class="btn-group">
            @if (Html.SimpleMetadataEnabled())
            {
                <a href="@Url.Action("Edit", "Metadata", new { uuid = @Model.Uuid, editor = "standard" })" onclick="alert('Dersom du lagrer oppføringen i standard editor kan du ikke gå tilbake til enkle metadata')" class="btn btn-sm btn-default" style="background-color:Highlight;">
                    <span class="glyphicon glyphicon-share-alt"></span> Vis standard editor
                </a>
            }
            <a href="@ViewBag.KartkatalogViewUrl" target="_blank" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-share-alt"></span> Vis i kartkatalogen
            </a>
            @if (Model.IsService() && string.IsNullOrWhiteSpace(Model.ParentIdentifier))
            {
                if (@Model.DistributionProtocol != null && @Model.DistributionProtocol.Contains("OGC:WMS"))
                {
                    <a href="@Url.Action("Index", "Service", new { uuid = @Model.Uuid })" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-plus-sign"></span> Opprett metadata for tjenestelag
                    </a>
                }
                if (@Model.DistributionProtocol != null && @Model.DistributionProtocol.Contains("OGC:WFS"))
                {
                    <a href="@Url.Action("Index", "ServiceWfs", new { uuid = @Model.Uuid })" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-plus-sign"></span> Opprett metadata for tjenestelag
                    </a>
                }
            }
            @if (Model.IsDataset() && showProductSheetGeneratorUrl)
            {
                <a href="@ViewBag.CreateProductSheetUrl" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Opprett produktark</a>
            }

            <a href="#" role="button" data-toggle="modal" id="parentIdentifierLink" data-target="#parentIdentifier" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list-alt"></span> Koble til metadata</a>

        </div>
    }

    <div class="pull-right">
        <p class="text-right">
            <small>UUID: @Model.Uuid</small><br />
            <small>Metadata sist oppdatert: @String.Format("{0:dd.MM.yyyy}", Model.DateMetadataUpdated)</small>
            <br />
            <small>
                <div class="label @Model.GetInnholdstypeCSS()">@Model.GetInnholdstype()</div>

                @if (!string.IsNullOrWhiteSpace(Model.ParentIdentifier) && Model.HierarchyLevel == "service")
                {
                    <span>[<a href="@Url.Action("Edit", new { uuid = @Model.ParentIdentifier})">Lenke til tjenesten</a>]</span>
                }

            </small>
        </p>
        <script>
            function hideshow(which) {
                if (!document.getElementById)
                    return;
                if (which.style.visibility == "visible") {
                    which.style.display = "none";
                    which.style.visibility = "hidden";
                }
                else {
                    which.style.display = "inline-block";
                    which.style.visibility = "visible";
                }
            }
        </script>
        <div id="validation" style="display: none; visibility: hidden;">
            Validert <span id="validatedDate"></span>: <span id="validationStatus"></span>, <a style="cursor:pointer" class="alert-info" onclick="javascript: hideshow(document.getElementById('validationResults'))">detaljer</a>
        </div>
        <div id="validationResults" style="display:inline-block; visibility:hidden; position:absolute; width: 400px; height: auto; z-index: 3; background-color: white; border: 1px solid black;">
        </div>
    </div>

    @if (ViewBag.Saved == true)
    {
        <div class="alert alert-success">
            Metadata ble lagret.
        </div>
    }
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            Det har oppstått en feil: @ViewBag.ErrorMessage
        </div>
    }

    @Html.ValidationSummary(false, "Skjemaet er ikke korrekt utfylt. Vennligst rett opp følgende feil og mangler:", new { @class = "alert alert-danger" })



    <ul class="nav nav-tabs" style="clear:both">
        <li class="active"><a href="#home" id="homelink" data-toggle="tab">Påkrevd</a></li>
        <li><a href="#optional" id="optionallink" data-toggle="tab">Valgfritt</a></li>
        <li><a href="#english" id="englishlink" data-toggle="tab">Engelsk</a></li>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="home">
            @Html.Partial("_Basic", Model)
        </div>

        <div class="tab-pane" id="optional">
            @Html.Partial("_Optional", Model)
        </div>

        <div class="tab-pane" id="english">
            @Html.Partial("_English", Model)
        </div>

    </div>


    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button onclick="location.href='@Url.Action("ConfirmDelete")?uuid=@Model.Uuid';return false;" name="action" type="button" class="btn btn-primary" value="">Slett</button>
            <input type="hidden" name="published" value="true" />
            <button name="action" type="submit" class="btn btn-primary show-loading-animation" value="@UI.Button_Save" data-loading-message="Lagrer metadata">@UI.Button_Save</button>
        </div>
    </div>


</form>
@{ bool IsAdmin = false;
    foreach (var c in System.Security.Claims.ClaimsPrincipal.Current.Claims)
    {
        if (c.Value == "nd.metadata_admin")
        {
            IsAdmin = true;
            break;
        }
    }
}

@section scripts {
    <script>
        $(function () {

            //  add warning sign to tabs containing input fields with error.
            $('.input-validation-error').each(function () {
                var inputElement = $(this);
                inputElement.closest('.form-group').addClass('has-error');

                var id = inputElement.closest(".tab-pane").attr('id');
                var tabLink = $('ul.nav-tabs a[href="#' + id + '"]');

                tabLink.parent().addClass("has-error");

                var warning = tabLink.parent().find('span.glyphicon-warning-sign');
                if (warning.length == 0) {
                    tabLink.parent().attr('data-toggle', 'tooltip');
                    tabLink.parent().prop('title', 'Skillearket inneholder feil og mangler som må rettes opp før innsending av skjemaet');
                }
            });

            var menu_state = Cookies.get('navtabselected');

            $('#homelink').click(function (event) {
                event.preventDefault();
                Cookies.set('navtabselected', 'home');
            });

            $('#optional').click(function (event) {
                event.preventDefault();
                Cookies.set('navtabselected', 'optional');
            });

            $('#englishlink').click(function (event) {
                event.preventDefault();
                Cookies.set('navtabselected', 'english');
            });

            if (menu_state == 'home' || menu_state == null)
                $('#homelink').click();
            else if (menu_state == 'optional')
                $('#optional').click();
            else if (menu_state == 'english')
                $('#englishlink').click();


            //$('#Abstract').autosize();
            //$('#SupplementalDescription').autosize();
            //$('#SpecificUsage').autosize();

            // bounding box
            var states = $('select#bboxState');
            var counties = $('select#bboxCounty');

            var countyList = counties.find('option').clone();

            function populatePlaceList() {
                $('select#bboxState optgroup').each(function () {
                    var regex = new RegExp("^" + $(this).data('statenumber'));
                    var optgroup = $(this);
                    optgroup.html(countyList.filter(function () {
                        return (regex.test($(this).attr('data-countynumber')));
                    }));
                });
            }

            function setSelectedInPlaceList() {
                var selectedPlacesList = $("#keywords-place li");
                var selectedPlaces = [];
                $(selectedPlacesList).each(function (key, value) {
                    var selectedPlace = $(value).find('input').val();
                    selectedPlaces.push(selectedPlace);
                });

                $('select#bboxState option').each(function () {
                    optionValue = $(this);
                    selectedPlaces.forEach(function (entry) {
                        if (optionValue.val() == entry) {
                            optionValue.prop('selected', true);
                        }
                    });
                });
            }


            $(document).ready(function () {
                populatePlaceList();
                setSelectedInPlaceList();
                $('#setcoordinates').click(function () {
                    setSelectedInPlaceList();
                });
            });

            $("select#bboxState").change(function (event) {
                event.preventDefault();
                $("#keywords-place").html("");

                if ($('#keywords-place li').length == 0) {
                    $("input#BoundingBoxNorth").val('');
                    $("input#BoundingBoxSouth").val('');
                    $("input#BoundingBoxEast").val('');
                    $("input#BoundingBoxWest").val('');
                }

                var selectedCounties = $(this).find('option:selected');

                selectedCounties.each(function () {
                    if (!$("input#BoundingBoxNorth").val() || $(this).data('north') > $("input#BoundingBoxNorth").val())
                        $("input#BoundingBoxNorth").val($(this).data('north'));
                    if (!$("input#BoundingBoxSouth").val() || $(this).data('south') < $("input#BoundingBoxSouth").val())
                        $("input#BoundingBoxSouth").val($(this).data('south'));
                    if (!$("input#BoundingBoxEast").val() || $(this).data('east') > $("input#BoundingBoxEast").val())
                        $("input#BoundingBoxEast").val($(this).data('east'));
                    if (!$("input#BoundingBoxWest").val() || $(this).data('west') < $("input#BoundingBoxWest").val())
                        $("input#BoundingBoxWest").val($(this).data('west'));
                    $("#keywords-place-text").val($(this).val());
                    addKeywordFromTextbox('keywords-place', "KeywordsPlace");
                })
                $("#keywords-place-text").val('');
            });


            // Check date not in future
            $("#DateUpdated").change(function (event) {
                event.preventDefault();
                var currentDate = new Date();
                var selectedDateStr = $('#DateUpdated').val();
                var selectedDateArr = selectedDateStr.split('.');
                var selectedDate = new Date(selectedDateArr[2], selectedDateArr[1] - 1, selectedDateArr[0]);
                if (selectedDate > currentDate) {
                    alert('Dato kan ikke være i fremtiden');
                    $('#DateUpdated').val(currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear())
                }
            });


            $('#uploadDatasetFile').fileupload({
                dataType: 'json',
                url: '/SimpleMetadata/UploadDataset',
                add: function (e, data) {

                    $("#uploadThumbnailButton").on("click", function (event) {
                        event.preventDefault();

                        console.log(data);

                        showLoadingAnimation('Laster opp');

                        data.formData = {
                            "uuid": "@Model.Uuid"
                        };

                        data.submit();
                    });
                },
                done: function (e, data) {
                    console.log("File uploaded: " + data.result.filename);
                    if (data.result.status == "ErrorWrongContent") {
                        $("#thumbnailUrl").val('');
                        $('#uploadDatasetStatus').attr('style', 'color: red ;');
                        $('#uploadDatasetStatus').text('Feil: Du må velge en fil av type zip.');
                    }
                    else {
                        $("#DistributionUrl").val('@ViewBag.DatasetUrl' + data.result.filename);
                        @if (IsAdmin)
                        {
                        @:$('#DistributionProtocol option[value="GEONORGE:FILEDOWNLOAD"]').attr("selected", "selected");
                                                                                                                                                                            }
                        else
                        {
                        @:$('#DistributionProtocol option[value="GEONORGE:OFFLINE"]').attr("selected", "selected");
                                                                                                                                                                            }
                        $('#uploadDatasetStatus').attr('style', 'text-info');
                        $('#uploadDatasetStatus').text('Filen er lastet opp.');
                    }
                    hideLoadingAnimation();
                }
            });


            // keywords

            function addKeyword(selectorPrefix, inputName, deleteLinkAttributes) {
                deleteLinkAttributes = (typeof deleteLinkAttributes === "undefined") ? null : deleteLinkAttributes;

                var $keywordInput = $('#' + selectorPrefix + '-text');

                var newKeyword = $keywordInput.val();

                var elementId = $('ul#' + selectorPrefix + ' li').length;

                var listItemId = selectorPrefix + "-" + elementId;

                var li = $('<li />', { "id": listItemId });
                li.append($('<span />', { "class": "", text: newKeyword }));
                li.append('&nbsp;');

                var link = $('<a />', {
                    "href": "",
                    "class": "keyword-delete",
                    "data-delete": listItemId,
                    "data-list": selectorPrefix + '-text',
                    "data-list-value": newKeyword
                });
                link.append("<small>Slett</small>");

                li.append(link);
                li.append($('<input />', { "type": "hidden", "name": inputName + "[" + elementId + "]", "value": newKeyword }));

                $('ul#' + selectorPrefix).append(li);

                return $keywordInput;
            };

            function addKeywordFromCodeList(selectorPrefix, inputName) {
                var $keywordInput = addKeyword(selectorPrefix, inputName);
                var $selected = $keywordInput.find("option:selected");
                $selected.attr("disabled", "disabled");
                $selected.removeAttr("selected");
            };

            function addKeywordFromTextbox(selectorPrefix, inputName) {
                var $keywordInput = addKeyword(selectorPrefix, inputName);
                $keywordInput.val('');
            }

            $('button#keywords-theme-add').click(function (event) {
                event.preventDefault();
                if ($('#keywords-theme-text').val().trim() == '')
                    alert('Vennligst fyll ut tema');
                else
                    addKeywordFromTextbox('keywords-theme', "KeywordsTheme");

            });

            $('button#keywords-place-add').click(function (event) {
                event.preventDefault();
                if ($('#keywords-place-text').val().trim() == '')
                    alert('Vennligst fyll ut sted');
                else
                    addKeywordFromTextbox('keywords-place', "KeywordsPlace");
            });


            $('button#keywords-national-theme-add').click(function (event) {
                event.preventDefault();
                if ($('#keywords-national-theme-text').val().trim() == '')
                    alert('Vennligst velg Nasjonal temainndeling');
                else
                    addKeywordFromCodeList('keywords-national-theme', "KeywordsNationalTheme");
            });

            $('button#keywords-inspire-add').click(function (event) {
                event.preventDefault();
                if ($('#keywords-inspire-text').val().trim() == '')
                    alert('Vennligst velg inspire');
                else
                    addKeywordFromCodeList('keywords-inspire', "KeywordsInspire");
            });

            $('button#keywords-other-add').click(function (event) {
                event.preventDefault();
                if ($('#keywords-other-text').val().trim() == '')
                    alert('Vennligst fyll ut annet');
                else
                    addKeywordFromTextbox('keywords-other', "KeywordsOther");
            });

            // use a delegated event handler to bind to all existing and future delete links
            $('body').on("click", "a.keyword-delete", function (event) {
                event.preventDefault();

                if (confirm('Er du sikker på at du vil slette nøkkelordet?')) {
                    var deleteId = $(this).data('delete');
                    var $selectCodeList = $("select#" + $(this).data('list'));
                    if ($selectCodeList !== undefined) {
                        var selector = 'option:contains("' + $(this).data('list-value') + '")';
                        if ($(this).data('list-value') == "Inspire")
                            InspireRemove();
                        var option = $selectCodeList.children(selector);
                        option.removeAttr('disabled');
                    }

                    var $listItem = $('li#' + deleteId);
                    var $parentList = $listItem.parent();
                    $listItem.remove();

                    $('li', $parentList).each(function (index, value) {
                        var $hiddenItemsForRow = $('input[type=hidden]', value);
                        $hiddenItemsForRow.each(function (hiddenIndex, hiddenValue) {
                            var name = $(hiddenValue).attr("name");
                            var inputName = name.substring(0, name.indexOf("["));
                            var inputNameWithIndex = inputName + '[' + index + ']';
                            $(hiddenValue).attr('name', inputNameWithIndex);
                        });
                    });


                }
            });

        });

    </script>
    <script>

    function getMetadata(uuid) {
        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?listhidden=true&text=" + uuid, function (result) {


            if (result.length != 0) {
                if (result.Results.length != 0) {
                    var title = result.Results[0].Title;
                    $("#title-" + uuid).text(title);
                }
                else { $("#title-" + uuid).text("TITTEL MANGLER"); }
            }

            else {
                $("#title-" + uuid).text("TITTEL MANGLER");
            }

        });
    };


    function getMetadataFreetext(searchStr) {

        $('#searchresultsDS').empty();
        $('#searchInfo').text('Fant ingen metadata');
        if (searchStr == '') {
            $('#searchInfo').text('Vennligst skriv inn søkeord');
            return false;
        }

        var counter = 0;

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?listhidden=true&facets[0]name=type&facets[0]value=dataset&text=" + searchStr, function (result) {

            if (result.length != 0) {

                if (result.Results.length != 0) {
                    for (r = counter ; r < result.Results.length; r++) {
                        displayMetadataRow(result.Results[r]);
                    }
                    $('#searchInfo').text('');
                }

            }

        });

        $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?listhidden=true&facets[0]name=type&facets[0]value=series&text=" + searchStr, function (result) {

            if (result.length != 0) {

                if (result.Results.length != 0) {
                    for (r = counter ; r < result.Results.length; r++) {
                        displayMetadataRow(result.Results[r]);
                    }

                    $('#searchInfo').text('');
                }

            }

        });

    };


    function displayMetadataRow(result) {
        var div = '<div class="row"><div class="col-sm-10">' + result.Title + ', ' + result.Organization + '</div> <div class="col-sm-2"> <a onclick="addParentIdentifier(\'' + result.Uuid + '\')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus-sign"></span> Velg' + '</a> </div> </div> <hr style="margin: 2px 2px 2px 2px" />';
        $('#searchresultsDS').append(div);
    }

    function addParentIdentifier(Uuid) {
        var h = '<div id="parentIdentifier-' + Uuid + '" class="row">';
        h += '<input type="hidden" value="' + Uuid + '" name="ParentIdentifier" />';

        h += '<div class="col-sm-8">';

        h += '<div id="title-' + Uuid + '">';
        h += '<script>getMetadata(\'' + Uuid + '\'' + '\)\;\<\/script>';
        h += '</div>';

        h += '</div>';

        h += '<div class="col-sm-2 btn-group">';
        h += '<a href="@Html.KartkatalogUrl()metadata/uuid/' + Uuid + '" target="_blank" class="btn btn-default btn-xs">';
        h += ' <span class="glyphicon glyphicon-share-alt"></span> Vis i katalog';
        h += '   </a>';
        h += '</div>';

        h += '<div class="col-sm-2 btn-group">';
        h += '<a href="#" onclick="document.getElementById(\'parentIdentifier-' + Uuid + '\').parentNode.removeChild(document.getElementById(\'parentIdentifier-' + Uuid + '\'));" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span> Slett</a>';
        h += '</div>';

        h += '</div>';
        h += '<hr style="margin: 2px 2px 2px 2px" />';

        $('#parentIdentifierDIV').html(h);
        alert('Metadata ble lagt til');


    }

    </script>
    @if (!string.IsNullOrEmpty(Model.ParentIdentifier))
    {
        <script>getMetadata('@Model.ParentIdentifier.ToString()');</script>
    }
}

@{
    var cp = (ClaimsPrincipal)User;
    var claim = cp.FindFirst("access_token");
    var accessToken = claim != null ? claim.Value : null;
}

<script src="https://cdn.jsdelivr.net/npm/@("@kartverket/geonorge-web-components@4.0.7/GnShortcutButton.js")"></script>

<script>
        var accessToken = "@accessToken";
        var GnShortcutButton = window.geonorge.GnShortcutButton.GnShortcutButton;

        function getAuthToken() {
            return accessToken;
        }

        if (accessToken) {
            GnShortcutButton.setup("gn-shortcut-button", {
                getAuthToken: getAuthToken
            });
        }
</script>