@using Kartverket.MetadataEditor.Helpers
@model Kartverket.MetadataEditor.Controllers.SimpleMetadataModel
@using Resources

@{
    string css = "";
}
<div class="list-group panel panel-default metadata-list" style="border: none;">
    <div class="list-group-item panel-heading hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <p class="panel-title">@Resources.UI.Metadata_Title</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12"><p class="panel-title">@Resources.UI.Metadata_Organization</p></div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var metadata in Model.Metadata.MetadataItems)
    {
        <div class="list-group-item metadata-list-item">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-7 metadata-list-item-mobile-row metadata-list-item-title">
                            <a href="@Url.Action("Edit", new { uuid=@metadata.Uuid })" data-loading-message="Henter innhold" class="show-loading-animation" id="title-@metadata.Uuid">
                                @metadata.Title
                            </a>

                        </div>
                        <div class="col-md-5 metadata-list-item-mobile-row">
                            <div class="visible-sm-inline-block visible-xs-inline-block"><label>@Resources.UI.Metadata_Organization</label></div>
                            <span id="organization-@metadata.Uuid"><a href="/SimpleMetadata/List?organization=@metadata.Organization">@metadata.Organization</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts {
    <script>
        activateTab('list-enkle-metadata');
    </script>
}