@model List<Kartverket.MetadataEditor.Models.MetadataItemViewModel>
<div class="list-group panel panel-default metadata-list" style="border: none;">
    <div class="list-group-item panel-heading hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-1">
                        <input type="checkbox" class="check ui-tooltip-element" id="checkAll" data-toggle="tooltip" data-placement="left" title="Velg alle på siden">
                    </div>
                    <div class="col-md-6">
                        <p class="panel-title">@Resources.UI.Metadata_Title</p>
                    </div>
                    <div class="col-md-5"><p class="panel-title">@Resources.UI.Metadata_Organization</p></div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2"><p class="panel-title">@Resources.UI.Metadata_Type</p></div>
                    <div class="col-md-2">
                        @if (System.Web.Configuration.WebConfigurationManager.AppSettings["ValideringUrl"] != "")
                        {
                            <p class="panel-title">@Resources.UI.Metadata_Status</p>
                        }
                    </div>
                    <div class="col-md-8">
                        <p class="panel-title">Feilmelding</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @foreach (var metadata in Model)

    {
        <div class="list-group-item metadata-list-item">
            @Html.Partial("_MetadataItem", metadata)
        </div>
    }

</div>