@model Kartverket.MetadataEditor.Models.MetadataIndexViewModel

<h1>Batch-oppdatering</h1>

@if (!string.IsNullOrWhiteSpace(ViewBag.StatusMessage))
{
    <div class="col-sm-offset-2 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">Feilmelding</div>
            <div class="panel-body">@ViewBag.StatusMessage</div>
        </div>
    </div>
}
@if (Request.IsAuthenticated)
{
    if (Model.UserIsAdmin)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="">
                    <div class="panel-heading">Filopplasting</div>
                    <div class="panel-body">
                        <form action="@Url.Action("UploadFile","Batch")" method="post" enctype="multipart/form-data" class="form-inline" role="form" id="uploadform">
                            <div class="row table-responsive">
                                <div class="col-md-12">
                                    <b>Vennligst velg feltet skal oppdateres:</b><br />
                                    <label for="KeywordsNationalTheme"><input type="radio" name="metadatafield" value="KeywordsNationalTheme" id="KeywordsNationalTheme" required />Nasjonal temakategori </label>
                                    <label for="AccessConstraints"><input type="radio" name="metadatafield" value="AccessConstraints" id="AccessConstraints" />Tilgangsrestriksjoner </label>
                                    <label for="KeywordsNationalInitiative"><input type="radio" name="metadatafield" value="KeywordsNationalInitiative" id="KeywordsNationalInitiative" />Samarbeid og lover </label>
                                    <label for="KeywordsInspire"><input type="radio" name="metadatafield" value="KeywordsInspire" id="KeywordsInspire" />Inspire-kategorier </label>
                                    <label for="DistributionFormats"><input type="radio" name="metadatafield" value="DistributionFormats" id="DistributionFormats" />Distribusjonsformater </label>
                                    <label for="ReferenceSystems"><input type="radio" name="metadatafield" value="ReferenceSystems" id="ReferenceSystems" />Romlig referansesystem </label>
                                    <label for="License"><input type="radio" name="metadatafield" value="License" id="License" />Lisens </label>
                                    <label for="EnglishTexts"><input type="radio" name="metadatafield" value="EnglishTexts" id="EnglishTexts" />Engelske tekster </label>
                                    <label for="SpatialScope"><input type="radio" name="metadatafield" value="SpatialScope" id="SpatialScope" />Spatial scope </label>
                                    <br /><input type="checkbox" name="deleteData" checked="checked" value="true" />Slett eksisterende data
                                </div>
                            </div>
                            <div id="SpatialScopeInfo" class="row table-responsive" style="display:none;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <caption>Excel-ark skal ha følgende struktur for å oppdatere spatial scope/dekningsområde:</caption>
                                        <thead><tr><th>uuid</th><th>spatial scope</th></tr></thead>
                                        <tbody>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>European</td></tr>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>Global</td></tr>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>Local</td></tr>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>National</td></tr>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>Regional</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="EnglishTextsInfo" class="row table-responsive" style="display:none;">
                                <div class="col-md-12">
                                    <label for="EnglishTitle"><input type="radio" name="metadatafieldEnglish" value="EnglishTitle" id="EnglishTitle" />Tittel </label>
                                    <label for="EnglishAbstract"><input type="radio" name="metadatafieldEnglish" value="EnglishAbstract" id="EnglishAbstract" />Beskrivelse </label>
                                    <label for="EnglishSupplementalDescription"><input type="radio" name="metadatafieldEnglish" value="EnglishSupplementalDescription" id="EnglishSupplementalDescription" />Hjelp for bruk </label>
                                    <label for="EnglishSpecificUsage"><input type="radio" name="metadatafieldEnglish" value="EnglishSpecificUsage" id="EnglishSpecificUsage" />Bruksområde </label>
                                    <label for="EnglishPurpose"><input type="radio" name="metadatafieldEnglish" value="EnglishPurpose" id="EnglishPurpose" />Formål </label>
                                    <label for="EnglishProcessHistory"><input type="radio" name="metadatafieldEnglish" value="EnglishProcessHistory" id="EnglishProcessHistory" />Prosesshistorie </label>
                                    <table class="table table-bordered">
                                        <caption>Excel-ark skal ha følgende struktur i de 2 første kolonnene for å oppdatere engelske tekster :</caption>
                                        <thead><tr><th>uuid</th><th>engelsk tekst</th></tr></thead>
                                        <tbody>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>Some english text...</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="KeywordsNationalThemeInfo" class="row table-responsive" style="display:none;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <caption>Excel-ark skal ha følgende struktur i de 2 første kolonnene for å oppdatere nasjonal temakategori :</caption>
                                        <thead><tr><th>uuid</th><th>tema</th></tr></thead>
                                        <tbody>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>Plan</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="AccessConstraintsInfo" class="row table-responsive" style="display:none;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <caption>Excel-ark skal ha følgende struktur i de 2 første kolonnene for å oppdatere tilgangsrestriksjoner :</caption>
                                        <thead><tr><th>uuid</th><th>tilgangsrestriksjon</th></tr></thead>
                                        <tbody>
                                            <tr><td>041f1e6e-bdbc-4091-b48f-8a5990f3cc5b</td><td>norway digital restricted</td></tr>
                                            <tr><td>24d7e9d1-87f6-45a0-b38e-3447f8d7f9a1</td><td>restricted</td></tr>
                                            <tr><td>17c16f2d-7b44-49cf-b57c-8e8b3b6ef011</td><td>no restrictions</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="KeywordsNationalInitiativeInfo" class="row table-responsive" style="display:none;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <caption>Excel-ark skal ha følgende struktur for å oppdatere nøkkelord samarbeid og lover:</caption>
                                        <thead><tr><th>uuid</th><th>nøkkelord</th><th>konformitet</th><th>konformitet avvik</th></tr></thead>
                                        <tbody>
                                            <tr><td>041f1e6e-bdbc-4091-b48f-8a5990f3cc5b</td><td>Inspire</td><td>godkjent</td><td></td></tr>
                                            <tr><td>041f1e6e-bdbc-4091-b48f-8a5990f3cc5b</td><td>Norge digitalt</td><td></td><td></td></tr>
                                            <tr><td>0763d8c2-5940-4931-b8d9-8663f4c206ee</td><td>Inspire</td><td>ikke godkjent</td><td>beskrivelse av avvik blabla</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="KeywordsInspireInfo" class="row table-responsive" style="display:none;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <caption>Excel-ark skal ha følgende struktur for å oppdatere nøkkelord inspire-kategori:</caption>
                                        <thead><tr><th>uuid</th><th>nøkkelord</th></tr></thead>
                                        <tbody>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>Administrative units</td></tr>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>Addresses</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="DistributionFormatsInfo" class="row table-responsive" style="display:none;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <caption>Excel-ark skal ha følgende struktur for å oppdatere distribusjonsformater:</caption>
                                        <thead><tr><th>uuid</th><th>format</th><th>versjon</th></tr></thead>
                                        <tbody>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>SOSI</td><td>4.5</td></tr>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>SOSI</td><td>4.3</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="ReferenceSystemsInfo" class="row table-responsive" style="display:none;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <caption>Excel-ark skal ha følgende struktur for å oppdatere romlig referansesystem:</caption>
                                        <thead><tr><th>uuid</th><th>koordinatsystem</th></tr></thead>
                                        <tbody>
                                            <tr><td>041f1e6e-bdbc-4091-b48f-8a5990f3cc5b</td><td>http://www.opengis.net/def/crs/EPSG/0/23032</td></tr>
                                            <tr><td>041f1e6e-bdbc-4091-b48f-8a5990f3cc5b</td><td>http://www.opengis.net/def/crs/EPSG/0/3035</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="LicenseInfo" class="row table-responsive" style="display:none;">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <caption>Excel-ark skal ha følgende struktur for å oppdatere lisens :</caption>
                                        <thead><tr><th>uuid</th><th>lisensnavn</th><th>URL</th></tr></thead>
                                        <tbody>
                                            <tr><td>532dfe74-6d00-43d5-aa1b-7d5d1991e83d</td><td>Creative Commons 0</td><td>https://creativecommons.org/publicdomain/zero/1.0/</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <label for="batchfile">Excel fil:</label>
                                    <input type="file" class="filestyle" data-buttontext="Velg fil" name="batchfile" />
                                </div>
                                <div class="col-md-3">
                                    <button style="" type="submit" class="btn" onclick="return clickDisable(this);"><span id="update-metadata">Oppdater metadata</span></button>
                                    <script>
                                        function clickDisable(link) {
                                            document.getElementById('update-metadata').innerText = 'Oppdaterer metadata, vennligst vent...';
                                            if (link.className != "visited btn btn-sm btn-default") {
                                                link.className = "visited btn btn-sm btn-default";
                                                return true;
                                            }

                                            return false;
                                        }
                                    </script>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    if (Model.UserIsAdmin)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="">
                    <div class="panel-heading">Engelsk fra registeret</div>
                    <div class="panel-body">
                        <form action="@Url.Action("SyncronizeRegisterTranslations","Batch")" method="get" class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row pull-right">
                                        <button type="submit" onclick="return clickEnglishDisable(this);" class="btn no-margin-bottom show-loading-animation" data-loading-message=""><span id="update-metadata-english">Oppdater engelske tekster fra registeret</span></button>
                                        <script>
                                            function clickEnglishDisable(link) {
                                                document.getElementById('update-metadata-english').innerText = 'Oppdaterer metadata med engelske oversettelser, vennligst vent...';
                                                if (link.className != "visited btn btn-sm btn-default") {
                                                    link.className = "visited btn btn-sm btn-default";
                                                    return true;
                                                }

                                                return false;
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="">
                    <div class="panel-heading">Stedsnavn URI for nøkkelord geografisk område</div>
                    <div class="panel-body">
                        <form action="@Url.Action("SyncronizeAdminUnitsUri","Batch")" method="get" class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row pull-right">
                                        <button type="submit" onclick="return clickAdminUnitsUriDisable(this);" class="btn no-margin-bottom show-loading-animation" data-loading-message=""><span id="update-admin-units-uri">Oppdater stedsnavn URI</span></button>
                                        <script>
                                            function clickAdminUnitsUriDisable(link) {
                                                document.getElementById('update-admin-units-uri').innerText = 'Oppdaterer stedsnavn URI for nøkkelord geografisk område, vennligst vent...';
                                                if (link.className != "visited btn btn-sm btn-default") {
                                                    link.className = "visited btn btn-sm btn-default";
                                                    return true;
                                                }

                                                return false;
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="">
                    <div class="panel-heading">Open metadata</div>
                    <div class="panel-body">
                        <form action="@Url.Action("OpenData","Batch")" method="get" class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row pull-right">
                                        <button type="submit" onclick="return clickOpenDataDisable(this);" class="btn no-margin-bottom show-loading-animation" data-loading-message=""><span id="update-metadata-open">Synkroniser åpne metadata</span></button>
                                        &nbsp;<a href="/OpenMetadataEndpoints" class="btn no-margin-bottom">Administrer endepunkt</a>
                                        <script>
                                            function clickOpenDataDisable(link) {
                                                document.getElementById('update-metadata-open').innerText = 'Oppdaterer åpne metadata, vennligst vent...';
                                                if (link.className != "visited btn btn-sm btn-default") {
                                                    link.className = "visited btn btn-sm btn-default";
                                                    return true;
                                                }

                                                return false;
                                            }
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        @{ string colMd = "11";
            if (Model.UserIsAdmin)
            { colMd = "6"; }
        }
        <div class="col-md-12">
            <div class="panel panel-default" style="">
                <div class="panel-heading">Søk</div>
                <div class="panel-body">
                    <form action="@Url.Action("Index")" method="get" class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="row">
                                    <label for="searchString" class="control-label col-md-2">
                                        Fritekst søk:
                                    </label>
                                    <div class="col-md-4">
                                        <input id="searchString" type="text" class="form-control" name="searchString" value="@Model.SearchString" />

                                    </div>
                                    @if (Model.UserIsAdmin)
                                    {
                                        <label for="searchOrganization" class="control-label col-md-2">
                                            Organisasjon:
                                        </label>
                                        <div class="col-md-4">
                                            <input id="searchOrganization" type="text" class="form-control" name="organization" value="@Model.SearchOrganization" />
                                        </div>
                                    }
                                </div>
                            </div>



                            <div class="col-md-1">
                                <button type="submit" class="btn no-margin-bottom show-loading-animation" data-loading-message="Henter søkeresultater">Søk</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
}
@if (Request.IsAuthenticated)
{
    <form action="@Url.Action("BatchUpdate")" method="post">
        @Html.Partial("_BatchItems")
        @if (Model.MetadataItems.Count > 0)
        {
            @Html.Partial("_MetadataList", Model.MetadataItems)
            <div class="clearfix">
                <p class="text-right">
                    Viser metadata @Model.Offset - @Model.ShowTo() av @Model.TotalNumberOfRecords
                </p>
                <div class="pull-right btn-group">
                    <a href="@Url.Action("Index")?@(Model.PaginationLinkParameters())offset=@Model.OffsetPrevious()" class="btn btn-default btn-sm show-loading-animation" data-loading-message="Henter innhold" @Model.OffsetPreviousState()>Forrige</a>
                    <a href="@Url.Action("Index")?@(Model.PaginationLinkParameters())offset=@Model.OffsetNext()" class="btn btn-default btn-sm show-loading-animation" data-loading-message="Henter innhold" @Model.OffsetNextState()>Neste</a>
                </div>
            </div>
        }
        else
        {
            <p>Ingen treff.</p>
        }
    </form>
}
else
{
    <p style="font-style: italic">Ingen metadata tilgjengelig. Du må være pålogget for å kunne redigere dine metadata.</p>
}


@section scripts {
    <script>
        activateTab('batch-oppdatering');

        $(function () {
            Cookies.remove('navtabselected', { path: '/Metadata' });

            hideMetadataFieldInfo();

            $("#checkAll").click(function () {
                $(".check").prop('checked', $(this).prop('checked'));
            });

            $("input[name='metadatafield']").click(function () {

                var selectedField = $('input[name=metadatafield]:checked', '#uploadform').val();

                hideMetadataFieldInfo();

                if (selectedField == "KeywordsNationalTheme") {
                    $("#KeywordsNationalThemeInfo").show();
                } else if (selectedField == "AccessConstraints") {
                    $("#AccessConstraintsInfo").show();
                }
                else if (selectedField == "SpatialScope") {
                    $("#SpatialScopeInfo").show();
                }
                else if (selectedField == "KeywordsNationalInitiative") {
                    $("#KeywordsNationalInitiativeInfo").show();
                }
                else if (selectedField == "KeywordsInspire") {
                    $("#KeywordsInspireInfo").show();
                }
                else if (selectedField == "DistributionFormats") {
                    $("#DistributionFormatsInfo").show();
                }
                else if (selectedField == "ReferenceSystems") {
                    $("#ReferenceSystemsInfo").show();
                }
                else if (selectedField == "License") {
                    $("#LicenseInfo").show();
                }
                else if (selectedField == "EnglishTexts") {
                    $("#EnglishTextsInfo").show();
                }
            });

        });

        function hideMetadataFieldInfo()
        {
            $("#KeywordsNationalThemeInfo").hide();
            $("#AccessConstraintsInfo").hide();
            $("#KeywordsNationalInitiativeInfo").hide();
            $("#KeywordsInspireInfo").hide();
            $("#DistributionFormatsInfo").hide();
            $("#ReferenceSystemsInfo").hide();
            $("#LicenseInfo").hide();
            $("#EnglishTextsInfo").hide();
            $("#SpatialScopeInfo").hide();
        }


        function getValidationStatus(uuid) {

            $("#status-" + uuid).text("Ikke validert");
            $("#status-" + uuid).addClass("label label-warning");

            $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["ValideringUrl"]api/validatemetadata/" + uuid, function (result) {

                if (result != null) {
                    if (result.length != 0) {
                        var validationStatus = result.Status;
                        if (validationStatus == "OK") {
                            $("#status-" + uuid).text("OK");
                            $("#status-" + uuid).removeClass("label label-warning");
                            $("#status-" + uuid).addClass("label label-success");
                        }
                        else if (validationStatus == "ERRORS") {
                            $("#status-" + uuid).text("FEIL");
                            $("#status-" + uuid).removeClass("label label-warning");
                            $("#status-" + uuid).addClass("label label-danger");
                            var errorMsg = "";
                            for (e = 0; e < result.Errors.length; e++) {
                                errorMsg = errorMsg + result.Errors[e].Message + "</br>";
                            }
                            $("#statusMsg-" + uuid).html(errorMsg);
                        }
                    }
                }
            });
        };

        function getAdditionalData(uuid) {
            $.getJSON("@System.Web.Configuration.WebConfigurationManager.AppSettings["KartkatalogUrl"]api/search?text=" + uuid, function (result) {

                if (result.length != 0) {

                    var DistributionProtocol = result.Results[0].DistributionProtocol;
                    if (DistributionProtocol.indexOf("WFS") > -1) {
                        $("#type-" + uuid).text("WFS tjeneste");
                    }

                }
            });
        }

    </script>
}

<script>
    @if (System.Web.Configuration.WebConfigurationManager.AppSettings["ValideringUrl"] != "")
    {
        @:for (v = 0; v < validationUUIDs.length; v++) {
                                        @:    getValidationStatus(validationUUIDs[v]);
                                        @:
                            }
    }
</script>
