@using Resources

<script type="text/x-template" id="timeAndSpace-template">
    <div class="form-group has-feedback">
        <div v-for="formElement in formElements" class="form-group has-feedback" v-bind:class="{required: formElement.required}">
            <div class="row">
                <label class="col-md-2 control-label">{{ formElement.label }}</label>
                <div class="col-md-9">
                    <p v-if="formElement.helpText && formElement.helpText.active" class="help-text bg-success" v-html="formElement.helpText.content"></p>
                    <div is="field" v-bind:form-element="formElement"></div>
                </div>
                <div v-if="formElement.helpText" class="col-md-1">
                    <p class="form-control-static">
                        <span v-on:click="formElement.helpText.active = !formElement.helpText.active" v-bind:class="{active: formElement.helpText.active}" class="badge help-text-toggle">?</span>
                    </p>
                </div>
            </div>
        </div>
        <div is="multilingual-keywords"
             v-bind:section="section"
             v-for="section in multilingualKeywords">
        </div>
        <div is="bounding-box"></div>
        <div v-show="$root.isDatasetOrDatasetSeries" is="coverage"></div>
    </div>
</script>

@Html.Partial("VueComponents/Edit/TimeAndSpace/_BoundingBox")
@Html.Partial("VueComponents/Edit/TimeAndSpace/_Coverage")



<script>
    var TimeAndSpace = {
        name: "timeAndSpace",
        template: "#timeAndSpace-template",
        props: [],
        components: {
            Field: Field,
            BoundingBox: BoundingBox,
            Coverage: Coverage,
            MultilingualKeywords: MultilingualKeywords
        },
        methods: {
            updateField: function (value) {
                this.$store.dispatch('updateField', value);
            }
        },
        mounted: function () {
            this.$store.dispatch('initDatepicker');
        },
        data: function () {
            return {
                formElements: [
                    {
                        name: 'DateUpdated',
                        getter: 'DateUpdated',
                        mutation: 'updateDateUpdated',
                        label: '@Html.Raw(UI.Metadata_DateUpdated)',
                        type: 'datepicker',
                        helpText: {
                            active: false,
                            content: 'Datoene refererer til selve datasettet eller tjenesten og ikke metadata. Minst ett av datofeltene må fylles ut. Det anbefales som et minimum at "Dato sist oppdatert" benyttes. Hvis dataene oppdateres kontinuerlig, så holder det å angi tidspunkt for etablering av datasett/tjeneste ("Opprettet dato") eller første publikasjon av datasett/tjeneste ("Publiseringsdato"). Tidsperiode ("Gyldig fra dato" og "Gyldig til dato") datasettet er gyldig i er ikke obligatorisk dersom dato er fylt ut i minst et av de andre feltene.'
                        }
                    },
                    {
                        name: 'DatePublished',
                        getter: 'DatePublished',
                        mutation: 'updateDatePublished',
                        label: '@Html.Raw(UI.Metadata_DatePublished)',
                        type: 'datepicker',
                        helpText: {
                            active: false,
                            content: 'Datoene refererer til selve datasettet eller tjenesten og ikke metadata. Minst ett av datofeltene må fylles ut. Det anbefales som et minimum at "Dato sist oppdatert" benyttes. Hvis dataene oppdateres kontinuerlig, så holder det å angi tidspunkt for etablering av datasett/tjeneste ("Opprettet dato") eller første publikasjon av datasett/tjeneste ("Publiseringsdato"). Tidsperiode ("Gyldig fra dato" og "Gyldig til dato") datasettet er gyldig i er ikke obligatorisk dersom dato er fylt ut i minst et av de andre feltene.'
                        }
                    },
                    {
                        name: 'DateCreated',
                        getter: 'DateCreated',
                        mutation: 'updateDateCreated',
                        label: '@Html.Raw(UI.Metadata_DateCreated)',
                        type: 'datepicker',
                        helpText: {
                            active: false,
                            content: 'Datoene refererer til selve datasettet eller tjenesten og ikke metadata. Minst ett av datofeltene må fylles ut. Det anbefales som et minimum at "Dato sist oppdatert" benyttes. Hvis dataene oppdateres kontinuerlig, så holder det å angi tidspunkt for etablering av datasett/tjeneste ("Opprettet dato") eller første publikasjon av datasett/tjeneste ("Publiseringsdato"). Tidsperiode ("Gyldig fra dato" og "Gyldig til dato") datasettet er gyldig i er ikke obligatorisk dersom dato er fylt ut i minst et av de andre feltene.'
                        }
                    },
                    {
                        name: 'DateMetadataValidFrom',
                        getter: 'DateMetadataValidFrom',
                        mutation: 'updateDateMetadataValidFrom',
                        label: '@Html.Raw(UI.Metadata_DateMetadataValidFrom)',
                        type: 'datepicker',
                        helpText: {
                            active: false,
                            content: 'Datoene refererer til selve datasettet eller tjenesten og ikke metadata. Minst ett av datofeltene må fylles ut. Det anbefales som et minimum at "Dato sist oppdatert" benyttes. Hvis dataene oppdateres kontinuerlig, så holder det å angi tidspunkt for etablering av datasett/tjeneste ("Opprettet dato") eller første publikasjon av datasett/tjeneste ("Publiseringsdato"). Tidsperiode ("Gyldig fra dato" og "Gyldig til dato") datasettet er gyldig i er ikke obligatorisk dersom dato er fylt ut i minst et av de andre feltene.'
                        }
                    },
                    {
                        name: 'DateMetadataValidTo',
                        getter: 'DateMetadataValidTo',
                        mutation: 'updateDateMetadataValidTo',
                        label: '@Html.Raw(UI.Metadata_DateMetadataValidTo)',
                        type: 'datepicker',
                        helpText: {
                            active: false,
                            content: 'Datoene refererer til selve datasettet eller tjenesten og ikke metadata. Minst ett av datofeltene må fylles ut. Det anbefales som et minimum at "Dato sist oppdatert" benyttes. Hvis dataene oppdateres kontinuerlig, så holder det å angi tidspunkt for etablering av datasett/tjeneste ("Opprettet dato") eller første publikasjon av datasett/tjeneste ("Publiseringsdato"). Tidsperiode ("Gyldig fra dato" og "Gyldig til dato") datasettet er gyldig i er ikke obligatorisk dersom dato er fylt ut i minst et av de andre feltene.'
                        }
                    },
                    {
                        name: 'MaintenanceFrequency',
                        getter: 'MaintenanceFrequency',
                        mutation: 'updateMaintenanceFrequency',
                        required: true,
                        label: '@Html.Raw(UI.Metadata_MaintenanceFrequency)',
                        type: 'select',
                        options: this.$store.getters['MaintenanceFrequencyValues'],
                        helpText: {
                            active: false,
                            content: 'Angivelse av intervaller for modifikasjon og andre endringer av data etter at de er etablert.'
                        }
                    },

                ],
                multilingualKeywords: {
                    keywordsPlace: {
                        title: '@Html.Raw(UI.Metadata_KeywordsPlace_Label)',
                        name: 'Place',
                        getter: 'Place',
                        mutation: 'updateKeywordsPlace',
                        type: 'text',
                        helpText: {
                            active: false,
                            content: '@Html.Raw(UI.Helptext_KeywordsPlace)'
                        }
                    },
                }
            };
        }
    };
</script>

